<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="navCtrl">
  <div class="">
    <div class="navbar-header">
      <a class="navbar-brand hidden-xs" ui-sref="home">FASTWEB</a>
      <button type="button" class="mobile-menu-toggle" ng-click="showMenu = !showMenu"></button>
      <div class="current-page" ng-click="showMenu = false">
          <a ui-sref-active="active" translate ui-sref="home">SUBNAV.HOME</a>
          <a ui-sref-active="active" translate ui-sref="wifi">SUBNAV.WIFI</a>
          <a ui-sref-active="active" translate ui-sref="line">SUBNAV.LINE</a>
          <a ui-sref-active="active" translate ui-sref="devices">SUBNAV.DEVICES</a>
          <a ui-sref-active="active" translate ui-sref="advanced">SUBNAV.ADVANCED</a>
          <a ui-sref-active="active" translate ui-sref="modem">SUBNAV.MODEM</a>
          <a ui-sref-active="active" translate ui-sref="info">SUBNAV.INFO</a>
          <a ui-sref-active="active" translate ui-sref="voice" ng-if="voice_available">SUBNAV.VOICE</a>
		  <a ui-sref-active="active" translate ui-sref="ont" ng-if="ont_available">SUBNAV.ONT</a>
      </div>
	  
      <div class="visible-xs mobile-user-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
              <span><span class="ico ico-profile2"></span></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="changepassword" translate>SUBNAV.CHANGE_PASSWORD</a></li>
            <li><a href="" data-ng-click="changeLang()" translate>LANG_L</a></li>
            <li><a ng-click="logout()" href="">Logout</a></li>
          </ul>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
        <li class="dropdown" uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false"><span translate>LANG</span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="" data-ng-click="changeLang('it')">ITA</a></li>
            <li><a href="" data-ng-click="changeLang('en')">ENG</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.fastweb.it/myfastpage/assistenza/" target="_blank"><span translate>SUBNAV.SUPPORT</span></a><span class="ico ico-support"></span></li>
        <li class="dropdown user-actions" uib-dropdown>
            <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false"><span><span class="ico ico-profile"></span></span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="changepassword" translate>SUBNAV.CHANGE_PASSWORD</a></li>
            <li><a ng-click="logout()" href="">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div ng-class="{'menu-open': showMenu, 'subnav-container': true, 'hidden-xs': true}" ng-click="showMenu = false">
    <div class="container text-center">
       <ul id="subnavbar" class="nav navbar-nav">
          <li class="mobile-menu-header" ui-sref-active="active"><a translate ui-sref="home">SUBNAV.HOME</a></span></li>
          <li ui-sref-active="active" class="hidden-xs"><a translate ui-sref="home">SUBNAV.HOME</a></li>
          <li ui-sref-active="active"><a translate ui-sref="wifi">SUBNAV.WIFI</a></li>
          <li ui-sref-active="active"><a translate ui-sref="line">SUBNAV.LINE</a></li>
          <li ui-sref-active="active"><a translate ui-sref="devices">SUBNAV.DEVICES</a></li>
          <li ui-sref-active="active"><a translate ui-sref="advanced">SUBNAV.ADVANCED</a></li>
          <li ui-sref-active="active"><a translate ui-sref="modem">SUBNAV.MODEM</a></li>
          <li ui-sref-active="active"><a translate ui-sref="info">SUBNAV.INFO</a></li>
          <li ui-sref-active="active"><a translate ui-sref="voice" ng-if="voice_available">SUBNAV.VOICE</a></li>
		  <li ui-sref-active="active"><a translate ui-sref="ont" ng-if="ont_available">SUBNAV.ONT</a></li>
      </ul>
    </div>
  </div>
</nav>
