<div id="widget_family_devices_mini" class="panel panel-widget panel-widget-mini visible-xs" ng-controller="widgetFamilyDevicesCtrl">
  <div class="panel-body">
    <div class="mobile-form-separator">
        <span class="icon clock"></span>
        <div>
            <span translate="WIDGETS.FAMILY_DEVICES.ACTIVE_ROUTINES" translate-values="{routines_num: family_boost.length + family_stop.length}"></span>
            <span ng-if="family_boost.length > 0">
                <span translate>WIDGETS.FAMILY_DEVICES.BOOST_ON</span>
                <span class="autolist_el" ng-repeat="dev in family_boost"> 
                    <span ng-show="$last && !$first" translate>WIDGETS.FAMILY_DEVICES.ACTIVE_ROUTINES_AND</span> 
                    <span ng-show="!$last && !$first && family_boost.length > 2">, </span> 
                    {{dev.name}}<span ng-show="$last">. </span>
                </span>
            </span>
            <span ng-if="family_stop.length > 0">
                <span translate>WIDGETS.FAMILY_DEVICES.STOP_ON</span>
                <span class="autolist_el" ng-repeat="dev in family_stop"> 
                    <span ng-show="$last && !$first" translate>WIDGETS.FAMILY_DEVICES.ACTIVE_ROUTINES_AND</span> 
                    <span ng-show="!$last && !$first && family_stop.length > 2">, </span> 
                    {{dev.name}}<span ng-show="$last">. </span>
                </span>
            </span>
            <br />
            <span><a href="#devices" translate>WIDGETS.PARENTAL_CONTROL.SHOW_DETAILS</a></span>
        </div>
    </div>
  </div>
</div>