<div id="widget_parental_control" class="panel panel-widget" ng-controller="widgetParentalControlCtrl">
  <div ng-if="enableSortableWidgets" as-sortable-item-handle class="panel-heading" fw-action-bottons="advanced">
    <h3 class="panel-title" translate>WIDGETS.PARENTAL_CONTROL.TITLE</h3>
  </div>
  <div ng-if="!enableSortableWidgets" class="panel-heading">
    <h3 class="panel-title" translate>WIDGETS.PARENTAL_CONTROL.TITLE</h3>
  </div>
  <div ng-class="{'panel-body':true, 'loading-data':!isDataReady}">
      <div class="row hidden-xs">
          <div class="col-sm-3">
              <div class="summary">
                  <div ng-if="parental.parental_enabled && parental.single_devices == 1" class="large_num">
                      <var>{{parental.blocks_list_dev.length >= 0 ? parental.blocks_list_dev.length : '--'}}</var>
                      <span translate>WIDGETS.PARENTAL_CONTROL.PROTECTED_DEVS</span>
                  </div>
                  <div class="warning" ng-if="parental.parental_enabled && parental.single_devices == 0">
                      <p translate="WIDGETS.PARENTAL_CONTROL.ENABLED_ALL_NETWORK"></p>
                      <p translate="WIDGETS.PARENTAL_CONTROL.ENABLED_ALL_DEVICES"></p>
                  </div>
                  <div class="warning" ng-if="!parental.parental_enabled">
                      <p translate="WIDGETS.PARENTAL_CONTROL.DISABLED_ALL_NETWORK"></p>
                      <p translate="WIDGETS.PARENTAL_CONTROL.DISABLED_ALL_DEVICES"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-9">
            <div ng-class="{'protected_devices row': true, 'disabled': parental.single_devices == 0}">
                <div class="col-sm-3" ng-repeat="dev in parental.blocks_list_dev">
                    <div class="device" ng-class="dev.type">
                        <div ng-class="{'active': dev.family, 'icon-large': true, 'icon-{{dev.icon}}':true}"></div>
                        <div class="name">{{dev.name}}</div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="button-container text-right col-xs-12">
          <button ng-disabled="parental.single_devices == 0" class="btn btn-default" ng-click="openAddDevices()" type="button" translate>WIDGETS.PARENTAL_CONTROL.ADD</button>
          <button ng-disabled="parental.single_devices == 0" class="btn btn-default" ng-click="openRemoveDevices()" type="button" translate>WIDGETS.PARENTAL_CONTROL.REMOVE</button>
        </div>
      </div>
  </div>
</div>
