<div id="widget_wifi_channel" class="panel panel-widget" ng-controller="widgetWifiChannelCtrl">
  <div ng-if="enableSortableWidgets" as-sortable-item-handle class="panel-heading">
    <h3 class="panel-title" translate>WIDGETS.WIFI_CHANNEL.TITLE</h3>
  </div>
  <div ng-if="!enableSortableWidgets" class="panel-heading">
    <h3 class="panel-title" translate>WIDGETS.WIFI_CHANNEL.TITLE</h3>
  </div>
  <div ng-class="{'panel-body':true, 'loading-data':!wifi.isDataReady}">
      <div class="row range-menu header-actions">
        <div class="col-sm-3 text-right title" translate>WIDGETS.WIFI_CHANNEL.FILTER.TITLE</div>
        <div class="col-sm-9">
            <div class="content">
                <div class="btn-group radio-checks">
                    <label class="btn btn-primary" ng-model="commons.filter" uib-btn-radio="'freq2_4'">
                        <span class="hidden-xs" translate="WIDGETS.WIFI_CHANNEL.FILTER.FREQ2_4"></span>
                        <span class="visible-xs" translate="WIDGETS.WIFI_CHANNEL.FILTER.FREQ2_4_M"></span>
                    </label>
                    <label class="btn btn-primary" ng-model="commons.filter" uib-btn-radio="'freq5'">
                        <span class="hidden-xs" translate="WIDGETS.WIFI_CHANNEL.FILTER.FREQ5"></span>
                        <span class="visible-xs" translate="WIDGETS.WIFI_CHANNEL.FILTER.FREQ5_M"></span>
                    </label>
                </div>
            </div>
        </div>
      </div>
      <div class="row"  ng-if="commons.filter=='freq2_4'">
          <div class="col-sm-3">
              <div class="summary">
                  <div class="warning" translate>WIDGETS.WIFI_CHANNEL.WIFI_CH</div>
                  <div class="large_num">
                      <var>{{wifi_channel_list[commons.filter+'_in_use']}}</var>
                  </div>
                  <!--div class="info" ng-if="isChannelBusy()" translate>WIDGETS.WIFI_CHANNEL.BUSY</div-->
              </div>
          </div>
          <div class="col-sm-9">
            <div class="vhgrm-wrap-outer">
                <div class="hgrm_wrap vhgrm-wrap">
                    <div class="y-axis">
                        <p>7+ <span translate>WIDGETS.WIFI_CHANNEL.NETWORKS_SHORT</span></p>
                        <p>6</p>
                        <p>5</p>
                        <p>4</p>
                        <p>3</p>
                        <p>2</p>
                        <p>1</p>
                    </div>
                    <span class="asc_label" translate>WIDGETS.WIFI_CHANNEL.CHANNELS</span>
                    <div class="histo-wrapper">
                        <div ng-repeat="value in data.freq2_4" class="hgw">
                            <div class="line">
                                <span class="label">{{value.label}}</span>
                                <div fw-histogram-bar-wifi fw-num="value.vals.num" fw-max="value.vals.max" fw-current="value.current"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>              
      </div>
      <div class="row"  ng-if="commons.filter=='freq5'">
          <div class="col-sm-3">
              <div class="summary">
                  <div class="warning" translate>WIDGETS.WIFI_CHANNEL.WIFI_CH</div>
                  <div class="large_num">
                      <var>{{wifi_channel_list[commons.filter+'_in_use']}}</var>
                      <!--span translate>WIDGETS.WIFI_CHANNEL.WIFI_CH</span-->
                  </div>
                  <div class="info" ng-if="isChannelBusy()" translate>WIDGETS.WIFI_CHANNEL.BUSY</div>
              </div>
          </div>
          <div class="col-sm-9">
            <div class="vhgrm-wrap-outer narrow">
                <div class="hgrm_wrap vhgrm-wrap">
                    <div class="y-axis">
                        <p>7+ <span translate>WIDGETS.WIFI_CHANNEL.NETWORKS_SHORT</span></p>
                        <p>6</p>
                        <p>5</p>
                        <p>4</p>
                        <p>3</p>
                        <p>2</p>
                        <p>1</p>
                    </div>
                    <span class="asc_label" translate>WIDGETS.WIFI_CHANNEL.CHANNELS</span>
                    <div class="histo-wrapper">
                        <div ng-repeat="value in data.freq5" class="hgw">
                            <div class="line">
                                <span class="label"><span>{{value.label}}</span></span>
                                <div fw-histogram-bar-wifi fw-num="value.vals.num" fw-max="value.vals.max" fw-current="value.current"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>              
      </div>
      <!-- June modify start -->
      <div class="row update-button">
        <div class="button-container text-right col-xs-12">
          <button ng-click="refresh_channel()" type="submit" class="btn btn-default" ng-disabled="!wifi.isDataReady || !wifi.channelReady" translate>WIDGETS.WIFI_CHANNEL.RESCAN_CHANNEL</button>
        </div>
      </div>
      <!-- June modify end -->
  </div>
</div>
