<div id="widget_online_devices" class="panel panel-widget online-devices-widget" ng-controller="widgetOnlineDevicesCtrl">
  <div ng-if="enableSortableWidgets" as-sortable-item-handle class="panel-heading" fw-action-bottons="devices">
    <h3 class="panel-title" translate>WIDGETS.DEVICES.TITLE</h3>
  </div>
  <div ng-if="!enableSortableWidgets" class="panel-heading">
    <h3 class="panel-title" translate>WIDGETS.DEVICES.TITLE</h3>
  </div>
  <div ng-class="{'panel-body':true, 'loading-data':!isDataReadyOnline}">
      <div class="row range-menu header-actions">
        <div class="col-sm-3 text-right title" translate>WIDGETS.DEVICES.FILTER.TITLE</div> 
        <div class="col-sm-9">
            <div class="content">
                <div class="btn-group radio-checks">
                    <!--label class="btn btn-primary" ng-model="filter.state" uib-btn-checkbox><span translate="WIDGETS.DEVICES.FILTER.STATE"></span></label-->
                    <label class="btn btn-primary" ng-model="filter.boost" uib-btn-checkbox><span translate="WIDGETS.DEVICES.FILTER.BOOST"></span></label>
                    <label class="btn btn-primary" ng-model="filter.stop" uib-btn-checkbox><span translate="WIDGETS.DEVICES.FILTER.STOP"></span></label>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-3 info">
              <div class="summary">
                  <div class="title"><span translate>WIDGETS.DEVICES.CIRCLES</span> {{isHome}}</div>
                  
                  <div class="main download">
                      <var>{{device_family}}</var>
                      <span class="hidden-xs" translate>WIDGETS.DEVICES.FAMILY</span>
                      <span class="visible-xs" translate>WIDGETS.DEVICES.FAMILY_M</span>
                  </div>
                  <div class="secondary upload">
                      <var>{{device_other}}</var>
                      <span class="hidden-xs" translate>WIDGETS.DEVICES.OTHERS</span>
                      <span class="visible-xs" translate>WIDGETS.DEVICES.OTHERS_M</span>
                  </div>
              </div>
          </div>
          <div class="col-sm-9 graph">
            <div id="devices-svg-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 400 220">
                    <g ng-repeat="path in paths">
                        <path ng-attr-d="{{path.d}}" ng-style="path.s" />
                    </g>
                    <g ng-repeat="icon in icons" >
                        <image xlink:href="" ng-attr-xlink:href="{{icon.src}}" ng-attr-x="{{icon.s.left}}" ng-attr-y="{{icon.s.bottom}}" height="17px" width="17px" ng-if="(filter.boost && icon.class == 'rocket') || (filter.stop && icon.class == 'stop')"/>
                    </g>
                    
                </svg>
                <div class="dev-info">
                    <var>{{device_num}}</var>
                    <p translate>WIDGETS.DEVICES.ONLINE_NOW</p>
                </div>
            </div>
            
          </div>
      </div>
  </div>
</div>