<div id="widget_led_status" class="panel panel-widget leds-widget" ng-controller="widgetLedStatusCtrl">
  <div ng-if="enableSortableWidgets" as-sortable-item-handle class="panel-heading" fw-action-bottons="modem">
    <h3 class="panel-title" translate>WIDGETS.LED_STATUS.TITLE</h3>
  </div>
  <div ng-if="!enableSortableWidgets" class="panel-heading">
    <h3 class="panel-title" translate>WIDGETS.LED_STATUS.TITLE</h3>
  </div>
  <div ng-class="{'panel-body':true, 'loading-data':!isDataReady || status.isDirty}">
      <div class="row">
          <div class="col-sm-3 summary">
              <br />
              <div class="warning" ng-if="status.wifi.status != 'ON' || status.line.status != 'ON'">
                  <div class="title" translate>WIDGETS.LED_STATUS.WARNING</div>
                  <div class="message"><span translate="WIDGETS.LED_STATUS.WARNING_MSG"></span></div>
              </div>
              <div class="warning" ng-if="status.wifi.status == 'ON' && status.line.status == 'ON'">
                  <div class="title" translate>WIDGETS.LED_STATUS.ALLRIGHT</div>
                  <div class="message"><span translate="WIDGETS.LED_STATUS.ALLRIGHT_MSG"></span></div>
              </div>
              <!--div class="info" ng-if="status.wifi.status == 'OFF'" translate>
                  WIDGETS.LED_STATUS.WIFI_OFF
              </div-->
          </div>
          <div class="col-sm-9">
              <div class="router-wrap">
                <div class="router-wrap-inner">
                    <div id="router-leds" ng-class="{'presenza-on': status.isBackgroundActiveNow(),'line-on': status.line.status == 'ON', 'wifi-on': status.wifi.status == 'ON', 'wps-on': status.wps.status == 'ON'}" ng-include="'css/img/router-leds2.svg'"></div>
                    <div class="legend hidden-xs">
                        <div class="presence">
                            <span translate>WIDGETS.LED_STATUS.LEGEND.PRESENCE.TITLE</span>: <span translate="WIDGETS.LED_STATUS.LEGEND.PRESENCE.{{status.isBackgroundActiveNow()? 'ON' : 'OFF'}}"></span>
                        </div>
                        <div class="line">
                            <span translate>WIDGETS.LED_STATUS.LEGEND.LINE.TITLE</span>: <span translate="WIDGETS.LED_STATUS.LEGEND.LINE.{{status.line.status || 'NAN'}}"></span>
                        </div>
                        <div class="wifi">
                            <span translate>WIDGETS.LED_STATUS.LEGEND.WIFI.TITLE</span>: <span translate="WIDGETS.LED_STATUS.LEGEND.WIFI.{{status.wifi.status || 'NAN'}}"></span>
                        </div>
                        <div class="wps">
                            <span translate>WIDGETS.LED_STATUS.LEGEND.WPS.TITLE</span>: <span translate="WIDGETS.LED_STATUS.LEGEND.WPS.{{status.wps.status || 'NAN'}}"></span>
                        </div>
                    </div>
                    <div class="legend visible-xs">
                        <div class="line">
                            <span translate>WIDGETS.LED_STATUS.LEGEND.LINE.TITLE_M</span>
                        </div>
                        <div class="wifi">
                            <span translate>WIDGETS.LED_STATUS.LEGEND.WIFI.TITLE_M</span>
                        </div>
                        <div class="wps">
                            <span translate>WIDGETS.LED_STATUS.LEGEND.WPS.TITLE_M</span>
                        </div>
                        <div class="presence">
                            <span translate>WIDGETS.LED_STATUS.LEGEND.PRESENCE.TITLE_M</span>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div class="row visible-xs widget-summary-alt">
            <div class="col-xs-6" translate>WIDGETS.LED_STATUS.LEGEND.LINE.TITLE</div>
            <div ng-class="{'col-xs-6':true, 'text-right-xs': true, 'active': status.line.status == 'ON'}" translate="WIDGETS.LED_STATUS.LEGEND.LINE.{{status.line.status || 'NAN'}}"></div>
            
            <div class="col-xs-6" translate>WIDGETS.LED_STATUS.LEGEND.WIFI.TITLE</div>
            <div ng-class="{'col-xs-6':true, 'text-right-xs': true, 'active': status.wifi.status == 'ON'}" translate="WIDGETS.LED_STATUS.LEGEND.WIFI.{{status.wifi.status || 'NAN'}}"></div>
            
            <div class="col-xs-6" translate>WIDGETS.LED_STATUS.LEGEND.WPS.TITLE</div>
            <div ng-class="{'col-xs-6':true, 'text-right-xs': true, 'active': status.wps.status == 'ON', 'blinkafter': status.wps.status == 'CON'}" translate="WIDGETS.LED_STATUS.LEGEND.WPS.{{status.wps.status || 'NAN'}}"></div>
            
            <div class="col-xs-6" translate>WIDGETS.LED_STATUS.LEGEND.PRESENCE.TITLE</div>
            <div ng-class="{'col-xs-6':true, 'text-right-xs': true, 'presence': true, 'active': status.isBackgroundActiveNow()}" translate="WIDGETS.LED_STATUS.LEGEND.PRESENCE.{{status.isBackgroundActiveNow()? 'ON' : 'OFF'}}"></div>
      </div>
      <div class="row update-button hidden-xs-home">
        <div class="button-container text-right col-xs-12">
          <button ng-click="refresh()" type="submit" class="btn btn-default" translate>WIDGETS.LED_STATUS.UPDATE</button>
        </div>
      </div>
  </div>
</div>