<div id="widget_line_status" class="panel panel-widget" ng-controller="widgetLineStatusCtrl">
  <div ng-if="enableSortableWidgets" as-sortable-item-handle class="panel-heading" fw-action-bottons="line">
    <h3 class="panel-title" translate>WIDGETS.LINE_STATUS.TITLE</h3>
  </div>
  <div ng-if="!enableSortableWidgets" class="panel-heading">
    <h3 class="panel-title" translate>WIDGETS.LINE_STATUS.TITLE</h3>
  </div>
  <div ng-class="{'panel-body':true, 'loading-data':!isDataReady}">
      <div class="row range-menu header-actions">
        <div class="col-sm-3 text-right title" translate>WIDGETS.LINE_STATUS.RANGE.TITLE</div>
        <div class="col-sm-9">
            <div class="content">
                <div class="btn-group radio-checks">
                    <label class="btn btn-primary" ng-model="mode" uib-btn-radio="'day'"><span translate="WIDGETS.LINE_STATUS.RANGE.DAY"></span></label>
                    <label class="btn btn-primary" ng-model="mode" uib-btn-radio="'week'"><span translate="WIDGETS.LINE_STATUS.RANGE.WEEK"></span></label>
                </div>
            </div>
        </div>
      </div>
      <div class="row line-widget line-widget-day">
          <div class="col-sm-3 info">
              <div class="summary hidden-xs">
                  <div class="title" translate="WIDGETS.LINE_STATUS.AVERAGE_{{mode}}"></div>
                  
                  <div class="main download">
                      <var>{{down_avg[mode]}}</var>
                      <span>Mb/s in download</span>
                  </div>
                  <div class="secondary upload">
                      <var>{{up_avg[mode]}}</var>
                      <span>Mb/s in upload</span>
                  </div>
              </div>
              <div class="summary visible-xs">
                  <div class="title" translate="WIDGETS.LINE_STATUS.AVERAGE_{{mode}}"></div>
                  
                  <div class="main download">
                      <var>{{down_avg[mode]}} Mb/s</var>
                      <span translate="WIDGETS.LINE_STATUS.DOWNLOAD_M"></span>
                  </div>
                  <div class="secondary upload">
                      <var>{{up_avg[mode]}} Mb/s</var>
                      <span translate="WIDGETS.LINE_STATUS.UPLOAD_M"></span>
                  </div>
              </div>
          </div>
          <div class="col-sm-9 graph">
            <div class="hgrm_wrap" ng-if="isDataReady">
                <div ng-repeat="(k, value) in data[mode] | orderBy: k:true " ng-if="k <= 6">
                    <div class="line">
                        <label ng-if="mode == 'week'" translate="WEEK.{{value.label}}"></label>
                        <label ng-if="mode == 'day'">{{value.label}}</label>
                        <div fw-histogram-bar fw-up="value.vals.up" fw-down="value.vals.down" fw-max="value.vals.max" fw-ismax="value.vals.isMax" fw-ismin="value.vals.isMin"></div>
                    </div>
                </div>
                <div fw-histogram-scale fw-up-avg="up_avg[mode]" fw-down-avg="down_avg[mode]" fw-max="max[mode]"></div>
            </div>
          </div>
      </div>

      <div class="hidden-xs">
        <br />
        <p class="text-center" style="color: #7f858b"><small translate>WIDGETS.LINE_STATUS.IP_ADDRESS</small><br><small>{{current_ip}}</small></p>
      </div>
      <div class="button-container hidden-xs-home text-right">
        <br />
        <button type="submit" class="btn btn-default" ng-click="speedLog_trigger()" translate>WIDGETS.LINE_STATUS.NEW_LINE</button>
      </div>
  </div>
</div>
