<div id="widget_parental_control_mini" class="panel panel-widget panel-widget-mini visible-xs" ng-controller="widgetParentalControlCtrl">
  <div ng-class="{'panel-body':true, 'loading-data':!isDataReady}">
    <div class="mobile-form-separator">
        <span class="icon parental"></span>
        <div ng-if="isDataReady">
            <span translate="PAGES.ADVANCED.PARENTAL.{{parental.parental_enabled && parental.single_devices ? 'PC_ACTIVE' : (parental.parental_enabled? 'PC_ALL' : 'PC_INACTIVE')}}" translate-values="{dev_num: parental.blocks_list_dev.length}"></span>
            <br />
            <span><a href="#advanced" translate="WIDGETS.PARENTAL_CONTROL.SHOW_DETAILS"></a></span>
        </div>
    </div>
  </div>
</div>