[global]
port = 1701
auth file = /etc/xl2tpd/xl2tp-secrets
access control = no

[lns default]
exclusive = yes
local ip = 192.168.10.1
ip range = 192.168.10.2-192.168.10.100
;hidden bit = no
length bit = yes
refuse authentication = yes
;name = Technicolor
;ppp debug = yes
pppoptfile = /etc/ppp/options.xl2tpd
