div {
    box-sizing: border-box;
}
@font-face{
	font-family:'FontAwesome';
	src:url('../font/fontawesome/fontawesome-webfont.eot?v=3.2.1');
	src:url('../font/fontawesome/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
	url('../font/fontawesome/fontawesome-webfont.woff?v=3.2.1') format('woff'),
	url('../font/fontawesome/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
	url('../font/fontawesome/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
	font-weight:normal;font-style:normal;}
	
.icon {font-family:FontAwesome;display:inline;font-size:133%;line-height:16px;vertical-align:middle;}
.icon-download:before{font-family:FontAwesome;content:"\f01a";}
.icon-upload:before{font-family:FontAwesome;content:"\f01b";}
.icon-menu:before{font-family:FontAwesome;content:"\f0c9";}
#toc .icon-menu{display:none;}
.button-apply:before {
    content: "\f00c (Apply)";
	font-family:FontAwesome;
}
.button-cancel:before {
    content: "";
	font-family:FontAwesome;
}
.button-edit:before {
    content:"\f044 (Edit)";
	font-family:FontAwesome;
}
.button-download:before {
    content: "";
	font-family:FontAwesome;
}
#main {
	white-space: nowrap;
	max-width:982px;margin:25px auto 25px auto;
	border:1px solid #C9CACC;
	background-color:white;
	padding:9px;
	display:block;
	border-radius:10px;
	box-shadow:	rgba(0, 0, 0, 0.25) 0px 2px 5px 0px;
}

#toc,#content {
	white-space: normal;
}
.bullet1::before,.bullet3::before {
    content: "●";
} 
.bullet2::before {
    content: "○";
    font-weight:bold;
} 

/*page components*/
#toc {
	width:152px;
	padding:10px 0px 10px 0px;
	vertical-align:top;
	display:inline-block;
	text-align:left;
}

#toc a{
	display:inline-block;
	min-height:25px;
	vertical-align:middle;
	margin:auto;
	line-height:25px;
}


#toc ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

#toc li  li li a:before{
	content:'-';
	display:inline-block;
	position:relative;
	left:-10px;
	width:0px;
}

#toc li {
	vertical-align:middle;
	font-weight:bold;
}
#toc li a{
	margin:auto 10px auto 10px;
	font-size:1.167em;
}

#toc li li a{
	margin-left:20px;
	color:#0088cc;
	font-size:1em;
}

#toc li li li a{
	margin-left:30px;
	color:#0088cc;
}

#toc li li {
	font-weight:normal;
}

#content {
	width:800px;
	padding:10px;
	vertical-align:top;
	background-color:white;
	margin-left:10px;
	display:inline-block;
	text-align:left;
}

#content a {
	text-decoration:underline;
	color:#3b3b3b;
}
#content a:hover {
	color:black;
}

#title {	
	font-family:Gravur-Condensed, ‘Helvetica Neue’,Arial, sans-serif;
	font-size:3em;
	text-align:left;
	width:962px;
	height:65px;
	margin:0px auto 0px auto;
	padding:45px 0px 0px 0px;
}

#toc li.selected {
	background-color:#0088cc;
}
.selected li {
	font-weight:normal;
	background-color:white;
}

#toc li.selected>a {
	color:white;
}



.menu {
	margin-top:10px;
}

#toc tr:last-child td {
	border-bottom-width:1px;
}
#toc a {
	color:#3b3b3b;
}

ul,li {
	padding:0px;
	margin:0px;
}

/**************************** TITLE TAGS ***********************************/
h1, h2, h3{
	font-family: 'Helvetica Neue','Helvetica', Arial,sans-serif;
	font-weight: bold;
	margin:0px 0px 0px 0px;
	color:#2372b9;
	font-size:2.083em;
}


h4
{
  border-bottom:1px none;
  padding-bottom:1px;
  font-size: 1.167em;
  font-family: 'Helvetica Neue','Helvetica', Arial,sans-serif;
  font-weight: bold;
  margin: 20px 0px 10px 0px;
}

/**************************** PARAGRAPH TAGS ***********************************/
body {
	margin:0px;
	font-family: 'Helvetica Neue','Helvetica', Arial,sans-serif;
	font-size:0.75em;
	color:#3b3b3b;
	background-color:#eee;
	text-align:center;
}

td {
	font-size:1em;
	padding:0px;
}

p {
	margin:6px 0px 6px 0px;
}
.structure p {
	margin:0px;
}

.structure {
	margin:6px 0px 6px 0px;
	width:100%;
}

.note .icon {
	font-size:200%;
	color:#3a87ad;
	position:relative;
	top:4px;
}

#footer {
	font-size:1em;
	padding:0px;
	margin:0px;
	text-align:left;
	color:#3B3B3B;
	width:982px;
	display:inline-block;
}

.footer {text-align:left}

/************************** CHARACTER TAGS ********************************/
em
{
	color: /*gray02*/#555;
	font-weight: bold;
	font-style: italic;
}

.stepno
{
	color: /*gray02*/#555;
	font-weight: bold;
}

a {
	text-decoration:none;
}
a:hover {	
	text-decoration:underline;
	color:black;
}
/**************************** TABLE TAGS ***********************************/
table {
	padding:0px;
	margin:0px;
}

td {
	vertical-align:top;
	text-align:left;
}

.format, .topic {
	border-style:solid;
	border-color:#dadada;
	margin:5px 0px 0px 0px;
	border-width:0px 0px 1px 1px;
}

.format td,.topic td {
	border-style:solid;
	border-color:#dadada;
	border-width:1px 1px 0px 0px;
	padding:10px;
}

.format tr:nth-child(odd) td{
	background-color:#F4F4F4
}

th {
	background-color: #E5E5E5;
	font-weight:bold;
	padding:10px;
	border-color:#dadada;
	border-width:1px 1px 0px 0px;
}
@media screen and (max-width:1002px) {
	body {margin-left:10px;margin-right:10px;}
	#main {width:100%;text-align:left;}
	#content {width:auto; width: auto;text-align:left}
	#main {display: inline-table;}
	#toc,#content {display: table-cell;}
	#footer {width:100%;}
}
@media screen and (max-width:480px) {
	body {margin:0px;}
	#main {
		box-shadow:none;width:100%;text-align:left;white-space:normal;margin-top:34px;margin-bottom:10px;
		border-radius:0px;
	}
	#toc {
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 1;
		background-color:transparant;
		padding:0px;
		display:inline-block;
	}
	#menu {display:none;}
	#menu.expanded {display:block;}
	#menu.collapsed {display:none;}
	#toc .icon-menu {
		display:inline-block;
		height:14px;
		margin:0xp;
		min-height:initial;
		font-size:14px;
		line-height:1em;
		background-color:#909090;
		padding:10px;}
	#toc li {background-color:#575757;border-bottom:solid #909090 1px}
	#toc li.selected {background-color:#0088cc;}
	.selected li {
		font-weight:normal;
		background-color:white;
	}
	#toc li a {
		color:white;
		font-weight:normal
	}

	#toc li.selected {background-color:#3B3B3B;}
	#toc li li a{
		color:white;
	}
	#content {width:auto;margin-right:auto;margin:0px;padding:0px;}
	h1,h2,h3{
		background-color:#2372b9;color:white;padding:10px;
		margin-left: -10px;
		margin-right: -10px;
		margin-top:-10px;
	}
	#footer {padding-left:10px;padding-right:10px;}
}
