<!-- 
  (C) NETDUMA Software
  Kian Cross <kian.cross@netdma.com>
--> <link rel="import" href="../polymer/polymer.html?v=<%= dumaos_version %>&lang=<%= lang %>&theme=<%= current_theme %>&themeVersion=<%= current_theme_version %>"> <link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html?v=<%= dumaos_version %>&lang=<%= lang %>&theme=<%= current_theme %>&themeVersion=<%= current_theme_version %>"> <link rel="import" href="/themes/<%= current_theme %>/duma-theme.html?v=<%= dumaos_version %>&lang=<%= lang %>&theme=<%= current_theme %>&themeVersion=<%= current_theme_version %>"> <link rel="import" href="/libs/chart.html?v=<%= dumaos_version %>&lang=<%= lang %>&theme=<%= current_theme %>&themeVersion=<%= current_theme_version %>"> <dom-module id="duma-chart"> <template> <style include="duma-theme"> :host {
        display: block;
        min-height: 128px;
        padding: 0 16px 16px;
        box-sizing: border-box;
        width: 100%;
        position: relative;
        @apply(--layout-flex);
      }

      :host canvas {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }

      :host canvas.clickable {
        cursor: pointer;
      } </style> <canvas id="chart" width="{{width}}" height="{{height}}"></canvas> </template> <script> Polymer({
      is: "duma-chart",

      properties: {

        type: String,
        data: {
          type: Object,
          notify: true
        },

        options: {
          type: Object,
          observer: "_updateOptions"
        },

        pointerOverElements: {
          type: Boolean,
          value: false,
          observer: "_updateOptions",
        },

        pointerOverLabels: {
          type: Boolean,
          value: false,
          observer: "_updateOptions",
        },

        width: {
          type: Number,
          value: 400
        },

        height: {
          type: Number,
          value: 400
        },

        chart: {
          type: Object,
          notify: true
        }
      },

      behaviors: [
        Polymer.IronResizableBehavior
      ],

      listeners: {
        "iron-resize": "_resize"
      },

      attached: function () {
        Chart.defaults.global.maintainAspectRatio = false;
        Chart.defaults.global.responsive = true;
        
        Chart.defaults.global.defaultFontColor = "<%= theme.PRIMARY_TEXT_COLOR %>";
        Chart.defaults.global.defaultFontFamily = "'Roboto', 'Noto', sans-serif";
        Chart.defaults.global.defaultFontSize = 12;
        Chart.defaults.global.defaultFontStyle = 400; 
        
        Chart.defaults.global.title.fontSize = 16;
        Chart.defaults.global.title.fontStyle = 400;
        Chart.defaults.global.title.padding = 8;
        
        Chart.defaults.global.tooltips.bodySpacing = 0;
        Chart.defaults.global.tooltips.titleFontColor = "<%= theme.PRIMARY_TEXT_COLOR %>";
        Chart.defaults.global.tooltips.bodyFontColor = "<%= theme.SECONDARY_TEXT_COLOR %>";
        Chart.defaults.global.tooltips.caretSize = 6;
        Chart.defaults.global.tooltips.cornerRadius = 2;
        Chart.defaults.global.tooltips.titleSpacing = 0;
        Chart.defaults.global.tooltips.titleMarginBottom = 10;
        Chart.defaults.global.tooltips.yPadding = 12;
        Chart.defaults.global.tooltips.xPadding = 8;
        Chart.defaults.global.tooltips.footerSpacing = 0;
        Chart.defaults.global.tooltips.footerMarginTop = 0;
        Chart.defaults.global.tooltips.backgroundColor = "<%= theme.PRIMARY_BACKGROUND_COLOR %>";

        Chart.defaults.pie.legend.position = "left";
        Chart.defaults.doughnut.cutoutPercentage = "75";
        Chart.defaults.global.legend.labels.fontSize = 12;
        Chart.defaults.global.legend.labels.boxWidth = 16; 
        //Chart.defaults.global.legend.display = false;
        Chart.defaults.global.scaleLineColor = "#fff";
        
        Chart.defaults.scale.gridLines.display = true;
        Chart.defaults.scale.gridLines.drawBorder = true;
        Chart.defaults.scale.gridLines.color = "<%= theme.DIVIDER_COLOR %>";
        Chart.defaults.scale.gridLines.zeroLineColor = "rgba(255, 255, 255, 0)";

        Chart.defaults.bar.scales.xAxes[0].gridLines.display = false;
        
        Chart.defaults.horizontalBar.scales.yAxes[0].gridLines.display = false;
        
        Chart.defaults.global.elements.point.radius = 4;
        
        Chart.defaults.line.fill = false;    
        
        this._createChart(this.type, this.data, this.options);
      },	        

      observers: [
        "_updateCaller(type, data.*)"
      ],

      _updateCaller: function (type, data) {
        this._updateChart(type, data.base);
      },

      _resize: function () {
        if (this.chart) {
          this.chart.resize();
        }
      },

      _getAxisPixelBounds: function(){
        var ret = {
        };
        for(var k in this.chart.scales){
          var s = this.chart.scales[k];
          ret[k] = {
            left: s.left,
            right: s.right,
            bottom: s.bottom,
            top: s.top,
          }
        }
        return ret;
      },
      _inBounds: function(x,y,axis){
        var axis = this._getAxisPixelBounds()[axis];
        return axis
          && x >= axis.left 
          && x <= axis.right
          && y >= axis.top
          && y <= axis.bottom;
      },
      _isMouseOverLabel: function(e){
        var point_data = null;
        var axis = this.type === "horizontalBar" ? "y-axis-0" : "x-axis-0";
        if(this._inBounds(e.offsetX,e.offsetY,axis)){
          //TODO - make sure to update this if chartjs ever changes, this is very very specific code for v2.9.3
          switch(this.type) {
            case "horizontalBar":
              this.chart.getElementsAtEventForMode(e, "y", 1).forEach(function(item) { point_data = item });
              if(!point_data){
                var above;
                var below;
                var newE = {
                  clientX: e.clientX,
                  clientY: e.clientY - 5,
                  target: e.target
                }
                this.chart.getElementsAtEventForMode(newE, "y", 1).forEach(function(item) { above = item });
                if(above){
                  newE.clientY += 10;
                  this.chart.getElementsAtEventForMode(newE, "y", 1).forEach(function(item) { below = item });
                  if(above && below && above._index === below._index){
                    point_data = above;
                  }
                }
              }
              break;

            case "bar":
              this.chart.getElementsAtEventForMode(e, "x", 1).forEach(function(item) { point_data = item });
              if(!point_data){
                var left;
                var right;
                var newE = {
                  clientX: e.clientX - 5,
                  clientY: e.clientY,
                  target: e.target
                }
                this.chart.getElementsAtEventForMode(newE, "x", 1).forEach(function(item) { above = item });
                if(above){
                  newE.clientX += 10;
                  this.chart.getElementsAtEventForMode(newE, "x", 1).forEach(function(item) { below = item });
                  if(above && below && above._index === below._index){
                    point_data = above;
                  }
                }
              }
              break;
          }
          return point_data;
        }
        return null;
      },

      _click: function (e) {
        var element;
        try {
          element = this.chart.getElementAtEvent(e);
        } catch (e) {
          return;
        }

        if (element.length > 0) {
          element = element[0]
          var label = this.chart.data.labels ? this.chart.data.labels[element._index] : null;
          var value = this.chart.data.datasets[element._datasetIndex].data[element._index];
          this.fire("chartClick", {
            label: label,
            value: value,
            datasetIndex: element._datasetIndex,
            index: element._index
          });
        }else{
          var point_data = this._isMouseOverLabel(e);
          if(point_data){
            var label = this.chart.data.labels ? this.chart.data.labels[point_data._index] : null;
            var value = this.chart.data.datasets[point_data._datasetIndex].data[point_data._index];
            this.fire("labelClick", {
              label: label,
              value: value,
              datasetIndex: point_data._datasetIndex,
              index: point_data._index
            });
          }
        } 
      },

      _createChart: function (type, data, options) {
        if (this.chart) {
          this.chart.destroy();
        }
        this.chart = new Chart(this.$$("#chart"), {
          type: type,
          data: data,
          options: options
        });
      },

      _updateChart: function (type, data) {
        var options = this.options;
        if (this.chart) {
          if (this.chart.config.type !== type) {
            this._createChart(type, data, options);
          } else {

            var datasetsMetaData = [];
            for (var i = 0; i <  this.chart.data.datasets.length; i++) {
              datasetsMetaData.push(this.chart.data.datasets[i]._meta);
            }

            for (var i = 0; i < datasetsMetaData.length && i < data.datasets.length; i++) {
              data.datasets[i]._meta = datasetsMetaData[i];
            }
          
            for (var key in data) {
              if (data.hasOwnProperty(key)) {
                this.chart.data[key] = data[key];
              }
            }
            
            for (var key in this.chart.data) {
              if (this.chart.data.hasOwnProperty(key)) {
                if (!data.hasOwnProperty(key)) {
                  delete this.chart.data[key];
                }
              }
            }

            this.chart.update();
          }
        }
      },

      _mousemove: function(e){
        var graph = $(e.target);
        var overLabel = this.pointerOverLabels ? this._isMouseOverLabel(e) : false;
        var overElement = this.pointerOverElements ? this.chart.getElementAtEvent(e)[0] : false;
        var showCursor = overElement || overLabel;
        var has = graph.hasClass("clickable");
        if(showCursor){
          if(!has) graph.addClass("clickable");
        }else{
          if(has) graph.removeClass("clickable");
        }
        if(overElement){
          var label = this.chart.data.labels[overElement._index];
          var value = this.chart.data.datasets[overElement._datasetIndex].data[overElement._index];
          this.fire("chartHover", {
            label: label,
            value: value,
            datasetIndex: overElement._datasetIndex,
            index: overElement._index
          });
        }
        if(overLabel){
          var label = this.chart.data.labels[overLabel._index];
          var value = this.chart.data.datasets[overLabel._datasetIndex].data[overLabel._index];
          this.fire("labelHover", {
            label: label,
            value: value,
            datasetIndex: overLabel._datasetIndex,
            index: overLabel._index
          });
        }
      },

      _setInDialogOptions: function(options){
        if(!options) return;
        var fontColor = "<%= theme.CHART_DIALOG_TEXT_COLOR or theme.PRIMARY_TEXT_COLOR %>";

        if(!options.legend || !options.legend.labels || !options.legend.labels.fontColor){
          if(!options.legend) options.legend = {};
          if(!options.legend.labels) options.legend.labels = {};
          if(!options.legend.labels.fontColor) options.legend.labels.fontColor = fontColor;
        }
        if(!options.title || !options.title.fontColor){
          if(!options.title) options.title = {};
          if(!options.title.fontColor) options.title.fontColor = fontColor;
        }

        if(options.scales){
          // gridlines
          var gridLineColor = "<%= theme.CHART_DIALOG_GRIDLINES_COLOR or theme.DIVIDER_COLOR %>";

          if(!options.scales.xAxes) options.scales.xAxes = [{type:"linear"}];
          if(!options.scales.yAxes) options.scales.yAxes = [{}];
          var _setAxesColors = function(axis){
            for(var i = 0; i < axis.length; i++){
              var scale = axis[i];
              if(!scale.gridLines) scale.gridLines = {};
              if(!scale.gridLines.color) scale.gridLines.color = gridLineColor;

              if(!scale.scaleLabel) scale.scaleLabel = {};
              if(!scale.scaleLabel.fontColor) scale.scaleLabel.fontColor = fontColor;

              if(!scale.ticks) scale.ticks = {};
              if(!scale.ticks.fontColor) scale.ticks.fontColor = fontColor;
              if(!scale.ticks.minor) scale.ticks.minor = {};
              if(!scale.ticks.major) scale.ticks.major = {};
              if(!scale.ticks.minor.fontColor) scale.ticks.minor.fontColor = fontColor;
              if(!scale.ticks.major.fontColor) scale.ticks.major.fontColor = fontColor;
            }
          }
          _setAxesColors(options.scales.xAxes);
          _setAxesColors(options.scales.yAxes);
        }
      },

      _updateOptions: function () {
        if( this.options){
          // Has to go here to avoid setting color for ALL charts (with Chart.defaults), and just set for this color
          if($(this).closest("paper-dialog")[0]){
            this._setInDialogOptions(this.options);
          }
          if(this.options.events && !this.options.events.includes("click")) this.options.events.push("click");

          var old_click = this.options.onClick;
          this.options.onClick = function(e){
            if(old_click) old_click.apply(this,arguments);
            this._click(e);
          }.bind(this);


          if ((this.pointerOverElements || this.pointerOverLabels)){
            if(this.options.events){
              if(!this.options.events.includes("mousemove")) this.options.events.push("mousemove");
              if(!this.options.events.includes("mouseout")) this.options.events.push("mouseout");
            }
            var old_hover = this.options.onHover;
            this.options.onHover = function(e){
              if(old_hover) old_hover.apply(this,arguments);
              this._mousemove(e);
            }.bind(this);
          }

          if (this.chart) {
            this.redraw();
          }
        }
      },

      update: function () {
        this._updateChart(this.type, this.data, this.options);
      },

      redraw: function () {
        this._createChart(this.type, this.data, this.options);
      }
    }); </script> </dom-module> 