#!/bin/sh /etc/rc.common

. $IPKG_INSTROOT/lib/functions/functions-tch.sh

setRadioMacAddress()
{
    b=`uci get env.rip.wifi_mac`
    L_WL_MAC="$(printf "%02X" $((0x${b:0:2} | 0x02)))${b:2}"
    B5=${L_WL_MAC:15:16}
    OFFSET=$(printf '%x' $((0x$B5 % 10)))
    WL0_B4=`echo "$(printf '%x' $((0x${L_WL_MAC:12:2} ^ 0x$OFFSET)))" | tr [a-z] [A-Z]`
    
    WL0_MAC="${L_WL_MAC:0:12}${WL0_B4}:${L_WL_MAC:15:16}"
    WL1_MAC="${L_WL_MAC:0:12}${WL0_B4}:$(printf "%02X" $(((0x${L_WL_MAC:15:16} + 0x08) % 256)))"

    echo "uci set env.var.local_wifi_mac $WL0_MAC"
    uci set env.var.local_wifi_mac="$WL0_MAC"
    uci commit

    echo "nvram set MAC WL0:$WL0_MAC"
    nvram set 0:macaddr="$WL0_MAC"
    echo "nvram set MAC WL1:$WL1_MAC"
    nvram set 1:macaddr="$WL1_MAC"
}

applyTrimming()
{
	# check if PA trimming is enabled for this platform
	if [ -f "/etc/wlan/nvram2rip.cfg" ]; then

		# check if first boot
		if [ ! -f "/etc/wlan/set_nvram_radio_wl0.sh" ] && [ ! -f "/etc/wlan/set_nvram_radio_wl1.sh" ] && [ ! -f "/etc/wlan/set_nvram_radio_wl2.sh" ]; then
		    echo "Parsing eRIP"
		    sh /usr/sbin/parse_pa_trimming.sh
		fi
		if [ -f "/etc/wlan/set_nvram_radio_wl0.sh" ]; then
		    sh /etc/wlan/set_nvram_radio_wl0.sh
		fi
		if [ -f "/etc/wlan/set_nvram_radio_wl1.sh" ]; then
		    sh /etc/wlan/set_nvram_radio_wl1.sh
		fi
		if [ -f "/etc/wlan/set_nvram_radio_wl2.sh" ]; then
		    sh /etc/wlan/set_nvram_radio_wl2.sh
		fi
	else
	   echo "No PA trimming available for this platform"
	fi
}

getNicCount()
{
    local unit=1
    echo $unit
}

setRadioKthreadAffinity()
{
    setcpumask wl0-kthrd 2
}

setRadioInterruptAffinity()
{
    setRadioIntAffinity 0 2
    setRadioIntAffinity 1 2
}

setRadioKthreadPriority()
{
    setrtprio wl0-kthrd 5
}
