#!/bin/sh /etc/rc.common

. $IPKG_INSTROOT/lib/functions/functions-tch.sh

print_mac_addr()
{
	local mac="$1"

	echo $mac | awk '{print tolower($0)}' | sed -e 's/[0-9A-Fa-f]\{2\}/&:/g' -e 's/:$//'
}

setRadioMacAddress()
{

	# Calculate base mac addr for each radio
        WL0_MAC=`wireless_get_mac_addr.sh radio_2G`
        WL1_MAC=`wireless_get_mac_addr.sh radio_5G`
        echo "WL0_MAC=$WL0_MAC  WL1_MAC=$WL1_MAC"

	# Convert to correct format
	WL0_MAC=$(print_mac_addr $WL0_MAC)
	WL1_MAC=$(print_mac_addr $WL1_MAC)

	#swapping local mac
	echo "uci set env.var.local_wifi_mac $WL0_MAC"
	uci set env.var.local_wifi_mac="$WL0_MAC"
	uci commit

	echo "nvram set MAC WL0:$WL0_MAC"
	nvram set 0:macaddr="$WL0_MAC"
	echo "nvram set MAC WL1:$WL1_MAC"
	nvram set 1:macaddr="$WL1_MAC"
}

applyTrimming()
{
	# check if PA trimming is enabled for this platform
	if [ -f "/etc/wlan/nvram2rip.cfg" ]; then

		# check if first boot
		if [ ! -f "/etc/wlan/set_nvram_radio_wl0.sh" ] && [ ! -f "/etc/wlan/set_nvram_radio_wl1.sh" ] && [ ! -f "/etc/wlan/set_nvram_radio_wl2.sh" ]; then
		    echo "Parsing eRIP"
		    sh /usr/sbin/parse_pa_trimming.sh
		fi
		if [ -f "/etc/wlan/set_nvram_radio_wl0.sh" ]; then
		    sh /etc/wlan/set_nvram_radio_wl0.sh
		fi
		if [ -f "/etc/wlan/set_nvram_radio_wl1.sh" ]; then
		    sh /etc/wlan/set_nvram_radio_wl1.sh
		fi
		if [ -f "/etc/wlan/set_nvram_radio_wl2.sh" ]; then
		    sh /etc/wlan/set_nvram_radio_wl2.sh
		fi
	else
	   echo "No PA trimming available for this platform"
	fi
}

getNicCount()
{
    local unit=1
    echo $unit
}

setRadioKthreadAffinity()
{
    setcpumask wl0-kthrd 2
}

setRadioInterruptAffinity()
{
    setRadioIntAffinity 0 2
    setRadioIntAffinity 1 2
}

setRadioKthreadPriority()
{
    setrtprio wl0-kthrd 5
}
