#!/bin/sh /etc/rc.common

. $IPKG_INSTROOT/lib/functions/functions-tch.sh

print_mac_addr()
{
	local mac="$1"

	echo $mac | awk '{print tolower($0)}' | sed -e 's/[0-9A-Fa-f]\{2\}/&:/g' -e 's/:$//'
}

setRadioMacAddress()
{

	# Calculate base mac addr for each radio
        WL0_MAC=`wireless_get_mac_addr.sh radio_2G`
        WL1_MAC=`wireless_get_mac_addr.sh radio_5G`
        echo "WL0_MAC=$WL0_MAC  WL1_MAC=$WL1_MAC"

	# Convert to correct format
	WL0_MAC=$(print_mac_addr $WL0_MAC)
	WL1_MAC=$(print_mac_addr $WL1_MAC)

	# swapping local mac
	echo "uci set env.var.local_wifi_mac $WL0_MAC"
	uci set env.var.local_wifi_mac="$WL0_MAC"
	uci commit

	echo "nvram set MAC WL0:$WL0_MAC"
	nvram set 2:macaddr="$WL0_MAC"
	echo "nvram set MAC WL1:$WL1_MAC"
	nvram set 1:macaddr="$WL1_MAC"
}

applyTrimming()
{
	if [ ! -f "/etc/wlan/apply_pa_trim_2G.sh" ] || [ ! -f "/etc/wlan/apply_pa_trim_5G.sh" ]; then
		if [ -f "/etc/wlan/parse_pa_trimming.sh" ]; then
			echo "No patch scripts available. Parsing"
			sh /etc/wlan/parse_pa_trimming.sh
		fi
	fi
	if [ -f "/etc/wlan/apply_pa_trim_2G.sh" ] && [ -f "/etc/wlan/apply_pa_trim_5G.sh" ]; then
		echo "Patching PA parameters"
		sh /etc/wlan/apply_pa_trim_2G.sh
		sh /etc/wlan/apply_pa_trim_5G.sh
	else
		echo "No PA patching available for this platform"
	fi
}

getNicCount()
{
    local unit=0
    echo $unit
}

setRadioKthreadAffinity()
{
    setcpumask wfd0-thrd 1
    setcpumask wfd1-thrd 2
}

setRadioInterruptAffinity()
{
    setRadioIntAffinity 0 1
    setRadioIntAffinity 1 2
}

setRadioKthreadPriority()
{
    setrtprio wfd0-thrd 5
    setrtprio wfd1-thrd 5
}
