<!doctype html>
<html class="no-js" data-ng-app="fw">
  <head>
    <meta charset="utf-8">
    <title>FASTGate</title>
    <link rel="apple-touch-icon" sizes="57x57" href="css/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="css/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="css/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="css/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="css/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="css/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="css/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="css/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="css/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="css/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="css/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="css/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="css/favicons/favicon-16x16.png">
    <link rel="manifest" href="css/favicons/manifest.json?v=2">
    <meta name="theme-color" content="#373c44">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css?v=1">
    <link rel="stylesheet" type="text/css" href="css/pages.css?v=1">
    <link rel="stylesheet" type="text/css" href="css/mobile.css?v=1">
    <link rel="stylesheet" type="text/css" href="css/login.css?v=1">
    <script src="js/modernizr-respond.min.js"></script>
  </head>
  <body ng-class="{'login-page-body': !currentUser.isAuthenticated}">
    <div ng-if="currentUser.isAuthenticated" ng-include="'views/partials/navbar.html?_t='+timeRandom.ID"></div>
    <div class="container">
      <div class="container-inner {{$state.current.name}}-page" autoscroll="true" ui-view=""></div>
    </div>
    <!-- <footer ng-if="currentUser.isAuthenticated" class="page-footer">
        <a href="#">
			<span data-translate="FOOTER.SUGGESTIONS"></span>
            <span class="icon"></span>
        </a>
    </footer> -->
    <div ng-controller="errorsCtrl" ng-include="'views/modals/modal_errors.html'"></div>
    <script defer src="js/es5-shim.min.js"></script>
    <script defer src="js/angular.min.js"></script>
    <script defer src="js/ng-sortable.min.js"></script>
    <script defer src="js/angular-animate.min.js"></script>
    <script defer src="js/angular-ui-router.min.js"></script>
    <script defer src="js/angular-touch.min.js"></script>
    <script defer src="js/angular-translate.min.js"></script>
    <script defer src="js/angular-scroll.min.js"></script>
    <script defer src="js/angular-messages.min.js"></script>
    <script defer src="js/ui-bootstrap-tpls.min.js"></script>
    <script defer src="js/moment.min.js"></script>
    <script defer src="js/humanize-duration.min.js"></script>
    <script defer src="js/angular-timer.min.js"></script>
    <script defer src="js/qrcode.js"></script>
    <script defer src="js/angular-qrcode.js"></script>
    <script defer src="js/angular-shims-placeholder.min.js"></script>
    <!-- build:js -->
    <script defer src="app/app.js?2019-05-07"></script>
    <script defer src="app/intl/it.js?2019-04-29"></script>
    <script defer src="app/intl/en.js"></script>
    <script defer src="app/filters.js"></script>
    <script defer src="app/services/authService.js"></script>
    <script defer src="app/services/sharedServices.js"></script>
    <script defer src="app/services/wifiService.js"></script>
    <script defer src="app/services/infoService.js"></script>
    <script defer src="app/services/devicesService.js"></script>
    <script defer src="app/services/advancedService.js"></script>
    <script defer src="app/services/modemService.js?2019-02-25"></script>
    <script defer src="app/services/lineService.js"></script>
    <script defer src="app/services/settingsService.js"></script>
    <script defer src="app/services/voiceService.js"></script>
    <script defer src="app/services/ontService.js"></script>
    <script defer src="app/controllers/sharedControllers.js?2019-09-25"></script>
    <script defer src="app/controllers/loginCtrl.js"></script>
    <script defer src="app/controllers/errorsCtrl.js"></script>
    <script defer src="app/controllers/homeCtrl.js"></script>
    <script defer src="app/controllers/wifiCtrl.js"></script>
    <script defer src="app/controllers/infoCtrl.js"></script>
    <script defer src="app/controllers/lineCtrl.js"></script>
    <script defer src="app/controllers/devicesCtrl.js"></script>
    <script defer src="app/controllers/advancedCtrl.js?2019-08-28"></script>
    <script defer src="app/controllers/modemCtrl.js"></script>
    <script defer src="app/controllers/voiceCtrl.js"></script>
    <script defer src="app/controllers/ontCtrl.js"></script>
    <script defer src="app/controllers/changepasswordCtrl.js"></script>
    <script defer src="app/directives.js"></script>
    <script defer src="app/portForwardingConf.js?2019-05-28"></script>
    <!-- endbuild -->
  </body>
</html>
