lxc.rootfs.path = "/srv/lxc/lxc_ee/rootfs"
lxc.include = "/srv/lxc/lxc_ee/lcm.config"
lxc.mount.entry = tmpfs tmp tmpfs rw,nosuid,nodev,noatime 0 0
lxc.signal.halt = SIGPWR
lxc.signal.reboot = SIGTERM
lxc.uts.name = "lxc_ee"
lxc.cap.drop = sys_module mac_admin mac_override sys_time
lxc.mount.auto = cgroup:mixed proc:mixed sys:mixed
