#!/bin/sh /etc/rc.common

START=49 #before LCM and LXC
STOP=11 #after LCM and LXC

OPT_MOUNTPOINT=/opt/lcm.technicolor.com
OPT_MOUNTED=

opt_mtd_device()
{
  local dev=$(grep opt /proc/mtd | cut -d: -f1)
  echo $dev
}

opt_mtd_number()
{
  local dev=$(opt_mtd_device)
  [ -n "$dev" ] && echo ${dev#mtd}
}

mount_opt_partition()
{
  local devnum=$(opt_mtd_number)
  [ -z $devnum ] && return 0
  mkdir -p $OPT_MOUNTPOINT
  mount -t jffs2 /dev/mtdblock$devnum $OPT_MOUNTPOINT
  OPT_MOUNTED=1
}

unmount_opt_partition()
{
  local devnum=$(opt_mtd_number)
  [ -z "$devnum" ] && return 0
  umount $OPT_MOUNTPOINT
  OPT_MOUNTED=
}

rtfd_mode()
{
  local rtfd=$(cat /var/rtfd/invoke 2>/dev/null)
  local mode
  local dryrun
  for arg in $rtfd ; do
    case "$arg" in
      --all|--soft|--default)
        mode=$arg
        ;;
      --dry-run)
        dryrun=$arg
        ;;
    esac
  done
  [ -z $dryrun ] && echo $mode
}

write_rtfd_mark() 
{
  local mode=$1
  [ -n "$mode" ] && echo $mode >$OPT_MOUNTPOINT/rtfd_in_progress
}

perform_rtfd()
{
  local mode=$1
  [ -z $mode ] && return 0
  local dev=$(opt_mtd_device)
  [ -z "$dev" ] && return 0
  mtd erase /dev/$dev
}

opt_needs_to_be_cleared()
{
  [ -z "$OPT_MOUNTED" ] && return 1
  
  local rtfd=$(cat $OPT_MOUNTPOINT/rtfd_in_progress 2>/dev/null)
  [ -n "$rtfd" ] && return 0

  local opt_bank=$(cat $OPT_MOUNTPOINT/.creator_bank 2>/dev/null)
  [ -z "$opt_bank" ] && return 1

  local booted=$(cat /proc/banktable/booted)
  [ "$opt_bank" = "$booted" ] && return 1

  return 0
}

set_opt_creator_bank() {
  [ -z "$OPT_MOUNTED" ] && return 1
  cat /proc/banktable/booted >$OPT_MOUNTPOINT/.creator_bank
}

opt_postmount_check()
{
  if opt_needs_to_be_cleared; then
    unmount_opt_partition
    perform_rtfd ${rtfd:---default}
    mount_opt_partition
  fi
}

boot()
{
  mount_opt_partition
  opt_postmount_check
  set_opt_creator_bank
}

shutdown()
{
  local rtfd=$(rtfd_mode)
  write_rtfd_mark $rtfd
  unmount_opt_partition
  perform_rtfd $rtfd
}
