<script type="text/ng-template" id="modal_errors">
  <div class="modal-header">
      <h3 class="modal-title" translate="ERROR_OPERATION.TITLE">Errore</h3>
  </div>
  <div class="modal-body text-center" translate="ERROR_OPERATION.MESSAGE">
      <p>Si è verificato un errore durante l'esecuzione dell'operazione richiesta.</p>
      <p>Verifica di essere connesso alla rete e prova a ricaricare la pagina.</p>
      <p>Se il problema persiste, contatta l' assistenza clienti</p>
      <!-- <p><small>Il servizio {{errorInfo.serviceName}} ha dato errore</small></p> -->
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-12 text-center">
        <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate="ERROR_OPERATION.CLOSE">Chiudi</button>
      </div>
    </div>
  </div>
</script>
