<div class="modal-header">
    <h3 class="modal-title" translate="PENDING_CHANGES.TITLE"></h3>
</div>
<div class="modal-body text-center">
  <p><strong translate="PENDING_CHANGES.MESSAGE"></strong></p>
  <p><br /><span translate="PENDING_CHANGES.NOTES"></span></p>
</div>
<div class="modal-footer">
  <div class="text-center">
    <button class="btn btn-default" type="button" ng-click="$close()" translate="PENDING_CHANGES.BTN_CONFIRM">Procedi</button>
    <button class="btn btn-default" type="button" ng-click="$dismiss('cancel')" translate="FORMS.CANCEL">Annulla</button>
  </div>
</div>