  <form novalidate class="form-horizontal" name="frm_add_family_devices" ng-submit="frm_add_family_devices.$valid && ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" translate="">WIDGETS.PARENTAL_CONTROL.MODAL_TITLE_ADD</h3>
    </div>
    <div class="modal-body">
      
        <div class="form-group">
          <label class="col-sm-3 control-label" translate="">WIDGETS.FAMILY_DEVICES.MODAL_SEARCH_MODE</label>
          <div class="col-sm-5">
            <div class="btn-group dropdown" uib-dropdown>
              <button type="button" class="btn dropdown-toggle" uib-dropdown-toggle>
                <span translate="WIDGETS.PARENTAL_CONTROL.MODAL_SEARCH_MODE_{{ctrl.mode}}"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu"> 
                <li role="menuitem"><a href="" ng-click="ctrl.mode = 'AUTO'" translate>WIDGETS.PARENTAL_CONTROL.MODAL_SEARCH_MODE_AUTO</a></li>
                <li role="menuitem"><a href="" ng-click="ctrl.mode = 'MANUAL'" translate>WIDGETS.PARENTAL_CONTROL.MODAL_SEARCH_MODE_MANUAL</a></li>
              </ul>
            </div>
          </div>
        </div>

        <fieldset class="no-animate" ng-if="ctrl.mode == 'AUTO'">
          <div class="form-group">
            <label class="col-sm-3 control-label" translate>WIDGETS.FAMILY_DEVICES.MODAL_DEVICE_LIST</label>
            <div class="col-sm-9">

              <div ng-if="!ctrl.isDataReady" ng-include="'views/partials/loader.html'"></div>
            
              <ul class="list" ng-if="ctrl.isDataReady">
                  <li ng-repeat="item in ctrl.devices">
                    <div class="row">
                      <div class="col-xs-1"><span class="icon icon-{{item.icon}}"></span></div>
                      <div class="col-xs-7">{{item.name}}</div>
                      <div class="col-xs-1">
                        <button type="button" class="btn btn-checkbox" ng-model="item.selected" uib-btn-checkbox=""></button>
                      </div>
                    </div>
                  </li>
              </ul>
            </div>
          </div>
        </fieldset>

        <fieldset class="no-animate" ng-if="ctrl.mode == 'MANUAL'">
          <div class="form-group">
            <label class="col-sm-3 control-label" translate>WIDGETS.FAMILY_DEVICES.MODAL_ADD_MAC_ADDRESS</label>
            <div class="col-sm-5">            
               <input type="text" placeholder="Es: 00:0a:95:9d:68:16" class="form-control" ng-required="true" ng-pattern="validatorPatterns.MAC" ng-model="ctrl.manualHostMAC" />
            </div>
          </div>
        </fieldset>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 text-left">
          <!--button class="btn btn-default" type="submit" ng-disabled="(ctrl.mode == 'AUTO' &&  !((ctrl.devices | filter:{selected:true}).length)) || (ctrl.mode == 'MANUAL' && !frm_add_family_devices.$valid)" translate="">FORMS.ADD</button-->
          <!-- June modify -->
          <button class="btn btn-default" type="submit" ng-disabled="(ctrl.mode == 'AUTO' &&  !((ctrl.devices | filter:{selected:true}).length)) || (ctrl.mode == 'MANUAL' && (!frm_add_family_devices.$valid || ctrl.manualHostMAC.toUpperCase()=='FF:FF:FF:FF:FF:FF'))" translate="">FORMS.ADD</button>
          <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate="">FORMS.CANCEL</button>
        </div>
      </div>
    </div>
  </form>
