<div class="modal-header">
    <h3 ng-if="wifi_dataReady" class="modal-title" translate="PAGES.WIFI.MODAL_WIFI_RESTART.TITLE"></h3>
    <h3 ng-if="!wifi_dataReady" class="modal-title" translate="PAGES.WIFI.MODAL_WIFI_RESTART.WAIT"></h3>
</div>
<div class="modal-body text-center" fw-loader="wifi_dataReady" hidelabel="true">
  <p><strong translate="PAGES.WIFI.MODAL_WIFI_RESTART.MESSAGE"></strong></p>
  <p><span translate="PAGES.WIFI.MODAL_WIFI_RESTART.NOTES"></span></p>
</div>

<p class="text-center" ng-if="!wifi_dataReady" translate>PAGES.WIFI.MODAL_WIFI_RESTART.RECONFIGURING</p>

<div class="modal-footer">
  <div class="text-center" ng-if="wifi_dataReady">
    <button class="btn btn-default" type="button" ng-click="ctrl.ok()" translate="">PAGES.WIFI.MODAL_WIFI_RESTART.BTN_CONFIRM</button>
    <button class="btn btn-default" type="button" ng-click="ctrl.close()" translate="">FORMS.CANCEL</button>
  </div>
</div>