  <form novalidate class="form-horizontal" name="frm_add_spc_rules" ng-submit="frm_add_spc_rules.$valid && ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" translate="PAGES.ADVANCED.PORT_CONF_EASY.MODAL_TITLE_ADD_{{ctrl.typeOfRules.toUpperCase()}}"></h3>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label class="col-sm-3 control-label" translate="PAGES.ADVANCED.PORT_CONF_EASY.MODAL_ADD_{{ctrl.typeOfRules.toUpperCase()}}"></label>
        <div class="col-sm-5">
          <div class="btn-group dropdown" uib-dropdown>
            <button type="button" class="btn dropdown-toggle" uib-dropdown-toggle>
              <span>{{ctrl.selected_ruleset.name}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu"> 
              <li ng-repeat="rule in ctrl.rules" role="menuitem"><a href="" ng-click="ctrl.selected_ruleset = rule">{{rule.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label" translate="">PAGES.ADVANCED.PORT_CONF_EASY.MODAL_SEARCH_MODE</label>
        <div class="col-sm-5">
          <div class="btn-group dropdown" uib-dropdown>
            <button type="button" class="btn dropdown-toggle" uib-dropdown-toggle>
              <span translate="PAGES.ADVANCED.PORT_CONF_EASY.MODAL_SEARCH_MODE_{{ctrl.mode}}"></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu"> 
              <li role="menuitem"><a href="" ng-click="ctrl.mode = 'AUTO'" translate>PAGES.ADVANCED.PORT_CONF_EASY.MODAL_SEARCH_MODE_AUTO</a></li>
              <li role="menuitem"><a href="" ng-click="ctrl.mode = 'MANUAL'" translate>PAGES.ADVANCED.PORT_CONF_EASY.MODAL_SEARCH_MODE_MANUAL</a></li>
            </ul>
          </div>
        </div>
      </div>

      <fieldset class="no-animate" ng-if="ctrl.mode == 'AUTO'">
        <div class="form-group">
          <label class="col-sm-3 control-label" translate>PAGES.ADVANCED.PORT_CONF_EASY.MODAL_DEVICE_LIST</label>
          <div class="col-sm-9">

            <div ng-if="!ctrl.isDataReady" ng-include="'views/partials/loader.html'"></div>
          
            <ul class="list" ng-if="ctrl.isDataReady">
                <li ng-repeat="item in ctrl.devices">
                  <div class="row">
                    <div class="col-xs-1"><span class="icon icon-{{item.icon}}"></span></div>
                    <div class="col-xs-7">{{item.name}}</div>
                    <div class="col-xs-1">
                      <button type="button" class="btn btn-checkbox" ng-model="ctrl.selected_device" uib-btn-radio="item"></button>
                    </div>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </fieldset>

      <fieldset class="no-animate" ng-if="ctrl.mode == 'MANUAL'">
        <div class="form-group">
          <label class="col-sm-3 control-label" translate>PAGES.ADVANCED.PORT_CONF_EASY.MODAL_ADD_IP_ADDRESS</label>
          <div class="col-sm-5">            
             <input type="text" class="form-control" ng-required="true" ng-pattern="validatorPatterns.IP" ng-model="ctrl.manualHostIP" />
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 text-left">
          <button class="btn btn-default" type="submit" ng-disabled="(ctrl.mode == 'AUTO' && ctrl.selected_device == null) || (ctrl.mode == 'MANUAL' && !frm_add_spc_rules.$valid)" translate="">FORMS.ADD</button>
          <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate="">FORMS.CANCEL</button>
        </div>
      </div>
    </div>
  </form>