
    <div class="modal-header">
        <h3 class="modal-title" translate>WIDGETS.PARENTAL_CONTROL.MODAL_TITLE_REMOVE</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        
        <fieldset class="no-animate">
          <div class="form-group">
            <label class="col-sm-3 control-label" translate>WIDGETS.FAMILY_DEVICES.MODAL_DEVICE_LIST</label>
            <div class="col-sm-9">

              <div ng-if="!ctrl.isDataReady" ng-include="'views/partials/loader.html'"></div>
            
              <ul class="list" ng-if="ctrl.isDataReady">
                  <li ng-repeat="item in ctrl.devices">
                    <div class="row">
                      <div class="col-xs-1"><span ng-class="{'icon':true, 'icon-{{item.icon}}':true}"></span></div>
                      <div class="col-xs-7">{{item.name}}</div>
                      <div class="col-xs-1">
                        <button class="btn btn-checkbox" ng-model="item.selected" uib-btn-checkbox=""></button>
                      </div>
                    </div>
                  </li>
              </ul>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 text-left">
          <button class="btn btn-default" ng-disabled="(ctrl.devices | filter:{selected:true}).length == 0" ng-click="ctrl.ok()" translate="">FORMS.REMOVE</button>
          <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate="">FORMS.CANCEL</button>
        </div>
      </div>
    </div>