
<form novalidate class="form-horizontal" name="frm_add_port_mapping" ng-submit="frm_add_port_mapping.$valid && ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" translate="">PAGES.ADVANCED.PORT_CONF_MAN.MODAL_TITLE_ADD</h3>
    </div>
    <div class="modal-body">
      
        <div class="form-group">
            <label class="col-xs-3 control-label text-right" translate="FORMS.NAME"></label>
            <div class="col-xs-4">
                <input type="text" required class="form-control" ng-model="ctrl.port_mapping.descr">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label text-right" translate="PAGES.ADVANCED.PORT_CONF_MAN.MAPPING.IP"></label>
            <div class="col-xs-4">
                <input type="text" required class="form-control" ng-pattern="validatorPatterns.IP"  ng-model="ctrl.port_mapping.ip">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label text-right" translate="PAGES.ADVANCED.PORT_CONF_MAN.MAPPING.PROT"></label>
            <div class="col-xs-4">
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn" uib-dropdown-toggle>
                    <span>{{ctrl.port_mapping.proto == 'UDP'? 'UDP' : 'TCP/IP'}}</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu"> 
                    <li role="menuitem"><a ng-click="ctrl.port_mapping.proto = 'UDP'" href="">UDP</a></li>
                    <li role="menuitem"><a ng-click="ctrl.port_mapping.proto = 'TCP'" href="">TCP/IP</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label text-right" translate="PAGES.ADVANCED.PORT_CONF_MAN.MAPPING.EXT_PORT"></label>
            <div class="col-xs-3">
                <!--input type="number" class="form-control" required ng-model="ctrl.port_mapping.ext_port_start" ng-max="ctrl.port_range.max" ng-min="ctrl.port_range.min"-->
                <!-- June modify -->
                <input type="number" class="form-control" required ng-change="autoFillIntPort(ctrl.port_mapping)" ng-model="ctrl.port_mapping.ext_port_start" ng-max="ctrl.port_range.max" ng-min="ctrl.port_range.min">
            </div>
            <div class="col-xs-3">
                <input type="number" class="form-control" required ng-model="ctrl.port_mapping.ext_port_end" ng-max="ctrl.port_range.max" ng-min="ctrl.port_mapping.ext_port_start">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label text-right" translate="PAGES.ADVANCED.PORT_CONF_MAN.MAPPING.INT_PORT"></label>
            <div class="col-xs-3">
                <input type="number" class="form-control" required ng-model="ctrl.port_mapping.int_port_start" ng-max="ctrl.port_range.max" ng-min="ctrl.port_range.min">
            </div>
            <div class="col-xs-3">
                <input type="number" class="form-control" required readonly="" ng-value="getPortMappingEndPort(ctrl.port_mapping)" ng-max="ctrl.port_range.max" ng-min="ctrl.port_range.min">
            </div>
        </div>
        <div class="form-group" ng-if="!ctrl.checkPortValid()">
            <div class="col-xs-6 col-xs-offset-3">
                <p><small translate="">PAGES.ADVANCED.PORT_CONF_MAN.PORT_INVALID</small></p>
            </div>
        </div>
        <div class="form-group" ng-if="ctrl.checkPortValid() && ctrl.isConflicting()">
            <div class="col-xs-6 col-xs-offset-3">
                <p><small translate="">PAGES.ADVANCED.PORT_CONF_MAN.PORT_CONFLICTING</small></p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 text-left">
          <button class="btn btn-default" type="submit" ng-disabled="ctrl.port_mapping === null || !frm_add_port_mapping.$valid || !ctrl.checkPortValid() || !ctrl.checkPortRange() || ctrl.isConflicting()" translate="">FORMS.ADD</button>
          <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate="">FORMS.CANCEL</button>
        </div>
      </div>
    </div>
  </form>
