<div class="modal-header">
    <h3 class="modal-title" translate="PAGES.WIFI.MODAL_WIFI_DISABLED.TITLE"></h3>
</div>
<div class="modal-body text-center">
  <p><strong translate="PAGES.WIFI.MODAL_WIFI_DISABLED.MESSAGE"></strong></p>
  <p><span translate="PAGES.WIFI.MODAL_WIFI_DISABLED.NOTES"></span></p>
</div>
<div class="modal-footer">
  <div class="text-center">
    <button class="btn btn-default" type="button" ng-click="ctrl.ok()" translate="">PAGES.WIFI.MODAL_WIFI_DISABLED.BTN_CONFIRM</button>
    <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate="">FORMS.CANCEL</button>
  </div>
</div>