html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
@font-face {
    font-family: 'VodafoneRgRegular';
    src: url('/fonts/vodafonerg-webfont.eot');
    src: url('/fonts/vodafonerg-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/vodafonerg-webfont.woff') format('woff'), url('/fonts/vodafonerg-webfont.ttf') format('truetype'), url('/fonts/vodafonerg-webfont.svg#VodafoneRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VodafoneRgBold';
    src: url('/fonts/vodafonerg_bd-webfont.eot');
    src: url('/fonts/vodafonerg_bd-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/vodafonerg_bd-webfont.woff') format('woff'), url('/fonts/vodafonerg_bd-webfont.ttf') format('truetype'), url('/fonts/vodafonerg_bd-webfont.svg#VodafoneRgBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VodafoneLtRegular';
    src: url('/fonts/vodafonelt-webfont.eot');
    src: url('/fonts/vodafonelt-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/vodafonelt-webfont.woff') format('woff'), url('/fonts/vodafonelt-webfont.ttf') format('truetype'), url('/fonts/vodafonelt-webfont.svg#VodafoneLtRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fL {
    float: left;
}
.fR {
    float: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ======
General
========= */

body {
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
}
#activation-content-wrap {
    background-color: #fff;
    padding-top: 154px;
}
#activation-content {
    background-color: #fff;
    margin: 0 auto 60px;
    width: 950px;
}
input.button {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    border: 0;
    background-color: #ffffff;
}
input.button.button-apply {
    /*background-color: #b141ad;*/

    background-color: #9C2AA0;
    color: #fff;
    /*outline: 0px;*/
}
input.button.button-wide-apply {
    width: 202px;
}
.apply-cancel input.button {
    margin: 0 8px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
}
input.button.button-apply:hover,
input.button.button-apply:active {
    background-color: #680F6B;
    cursor: pointer;
}
input.button:hover,
input.button:active {
    background-color: #f4f4f4;
    cursor: pointer;
}
input.button:not(.button-apply):hover,
input.button:not(.button-apply):active {
    color: inherit;
}
/*
    Textbox
    */

input[type="text"],
input[type="password"] {
    -webkit-box-shadow: 0 1px 2px 0 #767676 inset;
    -moz-box-shadow: 0 1px 2px 0 #767676 inset;
    box-shadow: 0 1px 2px 0 #767676 inset;
    -webkit-appearance: none;
    border-radius: 4px;
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 14px;
    box-sizing: border-box;
    border: 1px;
    width: 290px;
    height: 39px;
}
input.max3 {
    width: 55px;
    text-align: center;
}
input.max4 {
    width: 250px;
    text-align: left;
}
input[type="password"].width250 {
    width: 250px;
}
/*
    Text box input error
 */

input[type="text"].input-error,
input[type="password"].input-error {
    border: 1px solid #e60000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/*
    radio button
*/

[type="radio"]:not(:checked),
[type="radio"]:checked {
    left: -9999px;
    position: absolute;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    cursor: pointer;
    position: relative;
    z-index: 2;
    height: 32px;
    width: 32px;
    border: solid 1px #808080;
    display: inline-block;
    border-radius: 50px;
    top: 10px;
}
[type="radio"]:not(:checked) + label::before,
[type="radio"]:checked + label::before {
    border-radius: 50%;
    content: "";
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 24px;
    z-index: 1;
}
[type="radio"]:checked + label::before {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: #a8b400;
}
[type="radio"]:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:disabled:not(:checked) + label::before,
[type="radio"]:disabled:checked + label::before {
    background-color: #ddd;
    border-color: #bbb;
    box-shadow: none;
}
[type="radio"]:disabled:checked + label::after {
    color: #999;
}
[type="radio"]:disabled + label {
    color: #aaa;
}
/*
    Checkbox
 */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    left: -9999px;
    position: absolute;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    cursor: pointer;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 15px;
    padding: 0 5px 0 25px;
    position: relative;
    z-index: 2;
}
[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #808080;
    border-radius: 3px;
    content: "";
    height: 23px;
    left: 0;
    position: absolute;
    top: -2px;
    transition: all 0.2s ease 0s;
    width: 23px;
}
[type="checkbox"]:checked + label::before {
    background-color: #a8b400;
    background-image: url("../img/look_4/checkbox/check-white.png");
    border: 1px solid rgba(0, 0, 0, 0.25);
}
[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
    color: #fff;
    content: " ";
    left: 2px;
    position: absolute;
    top: -2px;
    transition: all 0.2s ease 0s;
}
[type="checkbox"]:not(:checked) + label::after {
    /*  opacity: 0;*/

    transform: scale(0);
}
[type="checkbox"]:checked + label::after {
    opacity: 1;
    transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label::before,
[type="checkbox"]:disabled:checked + label::before {
    background-color: #ddd;
    border-color: #bbb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
[type="checkbox"]:disabled:checked + label::after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* ======
Header
========= */

#activation-top {
    height: 70px;
}
#activation-top-left {
    float: left;
    width: 378px;
    margin-right: 50px;
}
#activation-top-left.full {
    width: 100%;
}
#activation-top-right {
    float: left;
    width: 492px;
}
#topBarRightSteps {
    color: #b2b2b2;
    font-family: VodafoneRgRegular;
    font-size: 28px;
}
#topBarRightSteps > div {
    margin-right: 27px;
}
#topBarRightSteps .actv {
    color: #e60000;
}
/* ==========================================================================
   Rhombus
   ========================================================================== */

#header {
    background-color: #fff;
    padding-top: 70px;
}
#rhombus-navigation {
    margin: 0 auto;
    padding: 0 0 0 80px;
    width: 950px;
}
#page-rhombus-wrap {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 630px;
    pointer-events: none;
}
#rhombus-wrap {
    left: 50%;
    margin-left: -475px;
    position: absolute;
    top: 35px;
    width: 60px;
    z-index: 10;
}
@media only screen and (min-width: 1110px) {
    #rhombus-wrap {
        left: 50%;
        margin-left: -555px;
        position: absolute;
        top: 35px;
        width: 60px;
        z-index: 10;
    }
  .gateway-46 #rhombus-wrap{
    margin-left: -565px;
  }
}
#rhombus-logo {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/vf-logo-new.png");
    background-origin: padding-box;
    background-position: 0 30px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 90px;
    padding-top: 30px;
    position: relative;
    width: 60px;
    z-index: 5;
}
.gateway-46 #rhombus-logo
{
  background-image: url("../img/vf-logo-new.png");
  background-size: 40px;
  background-position: 0 28px;
}
@media only screen and (min-width: 1110px) {
    #rhombus-navigation {
        width: 1110px;
    }
}
#box-logo {
    background-repeat: no-repeat;
    height: 26px;
    margin-left: 80px;
    margin-top: 20px;
    width: 145px;
    z-index: 5;
    text-indent: -9999px;
}
.gateway-28 #box-logo,
#box-logo.vf-connect {
    background-repeat: no-repeat;
    height: 35px;
    margin-left: 80px;
    margin-top: 20px;
    width: 330px;
    z-index: 5;
}
.gateway-29 #box-logo,
#box-logo.vf-station-revolution {
    background-repeat: no-repeat;
    height: 35px;
    margin-left: 80px;
    margin-top: 20px;
    width: 505px;
    z-index: 5;
}
.gateway-31 #box-logo,
#box-logo.vf-broadband {
    background-repeat: no-repeat;
    height: 35px;
    margin-left: 80px;
    margin-top: 20px;
    width: 330px;
    z-index: 5;
}
.row_wizard.description {
    padding-bottom: 0;
}
/* ======
Content
========= */

#activation-content-left {
    float: left;
    height: 412px;
    margin-right: 50px;
    position: relative;
    width: 378px;
}
#activation-content-left > img {
    display: block;
    left: 50%;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%, 0%);
    width: 100%;
}
#activation-content-right {
    float: left;
    min-height: 412px;
    width: 492px;
}
h1 {
    color: #e60000;
    font-family: "VodafoneRgRegular";
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 10px;
}
.faded {
    opacity: 0.4;
}
.italic {
    font-style: italic !important;
}
#progress-bar-box {
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    height: 29px;
    width: 316px;
}
#progress-bar-image {
    background-color: #a8b400;
    height: 29px;
    width: 116px;
}
/* ===============
activation button
================== */

#activation-content-bottom {
    text-align: right;
    padding: 20px 38px 0 0;
    border-top: 1px solid #e6e6e6;
}
/* ======
Footer
========= */

#language-info {
    margin: 25px auto 0;
    width: 950px;
    color: #999999;
    font-size: 14px;
}
#language-switcher-list {
    float: left;
    width: 30%;
}
.language-switcher {
    float: left;
    margin-right: 14px;
}
#info {
    float: right;
    /*width: 70%;*/
}
.gateway-27 #info {
    float: right;
    width: 37%;
}
#footer {
    opacity: 1;
}
#footer:hover {
    opacity: 1;
}
#footer-main {
    font-weight: bold;
    margin-top: 60px;
    color: #999999;
    font-size: 16px;
}
#footer-details {
    margin: 25px auto 0;
    width: 950px;
}
.hidden-menu-title {
    font-weight: bold;
    color: #999999;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 16px;
}
.hidden-menu {
    float: left;
    margin-bottom: 10px;
    padding-right: 12px;
    width: 29.6%;
    font-size: 14px;
}
#footer-main > ul > li > a {
    text-decoration: none;
}
.hidden-menu > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    padding-left: 10px;
}
/* ================
Error msg, info msg
=================== */

.message-error {
    background: url("../img/look_4/icons/status-indicators/error.png") no-repeat scroll 20px 18px #fef0f0;
    border: 1px solid #e60000;
    border-radius: 3px;
    padding: 22px 80px 20px 70px;
    margin-top: 20px;
    margin-bottom: 30px;
}
/*, .success-message h3*/

.message-error h3 {
    margin: 0 0 15px;
    padding: 0;
}
.message-error-text {
    font-size: 12px;
    font-weight: normal;
}
h2 {
    color: #333333;
    font-family: "Arial";
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
}
h3 {
    color: #e60000;
    font-family: "VodafoneLtRegular";
    font-size: 28px;
    line-height: 50px;
}
.message-info {
    background: url("../img/look_3/icons/status-indicators/info.png") no-repeat scroll 20px 18px #FFF5F0;
    border: 1px solid #FF5400;
    border-radius: 3px;
    padding: 22px 80px 20px 70px;
    margin-top: 20px;
}
.activation-hide {
    display: none;
}
/*=============
    row style
    ==============*/

.row_wizard {
    font-weight: bold;
    display: table;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.row_wizard:after {
    /*content: " ";*/

    display: table;
    clear: both;
}
.row_wizard .right {
    display: table-cell;
    text-align: right;
}
.row_wizard .left {
    display: table-cell;
}
.row_wizard:not(.description) .left {
    width: 70%;
}
.row_wizard:not(.description) .leftHasRight {
    width: 22%;
}
.row_wizard:not(.description) .right {
    width: 30%;
}
.row_wizard + .row_wizard:not(.no-border-top) {
    border-top: solid 1px #e6e6e6;
}
.row_wizard.description + .row_wizard {
    border-top: 0px;
}
.row_wizard .left .inner-row + .inner-row {
    margin-top: 10px;
}
.row_wizard.description .left {
    font-weight: normal;
}

.tC {
    padding-top: 50px;
    text-align: center;
}
.row_wizard.description.noLeftPadding {
    padding-left: 0px;
}
.row_wizard + .row_wizard.no-top-border {
    border-top: 0;
}
.setPass a {
    position: absolute;
    right: 15px;
    bottom: 50px;
}
.message-info.setPass {
    position: relative;
    height: 150px;
    width: 364px;
}
.setPass .dont-show {
    position: absolute;
    bottom: 15px;
}
/*==================
popups
===================*/

.popup {
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px #555;
    -moz-box-shadow: 0 0 30px #555;
    box-shadow: 0 0 30px #555;
    left: 50%;
    padding: 30px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 620px;
    z-index: 100;
    text-align: left;
}
.popup .tC {
    padding-bottom: 20px;
}
.popup .title + p {
    margin-bottom: 0px;
}
.forgotten-password-popup .row_wizard:not(.description).big {
    width: 70%;
    margin: 0px auto;
}
.forgotten-password-popup .row_wizard:not(.description).big + .row_wizard {
    text-align: left;
}
.blackBackground {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
/* ==========================================================================
   Password Strength
   ========================================================================== */

.passwordStrength {
    width: 214px;
    text-align: left;
}
.passwordStrength.strength0 {
    border-bottom: 4px solid #FF0000;
    width: 28.5%;
}
.passwordStrength.strength1 {
    border-bottom: 4px solid #FF0000;
    width: 43%;
}
.passwordStrength.strength2 {
    border-bottom: 4px solid #FFA500;
    width: 57.2%;
}
.passwordStrength.strength3 {
    border-bottom: 4px solid #FFA500;
    width: 71.5%;
}
.passwordStrength.strength4 {
    border-bottom: 4px solid #008000;
    width: 85.8%;
}
.passwordStrength.strength5 {
    border-bottom: 4px solid #008000;
    width: 100%;
}
.step-49 .gateway-29 #activation-bottom-info,
.step-83 .gateway-29 #activation-bottom-info {
    display: none!important;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.op40 {
    opacity: 0.4;
    pointer-events: none;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*IE Sneak Peak*/
input::-ms-reveal {
    display: none;
}
/*# sourceMappingURL=look_4_activation.css.map */
