.desktop {
    display: none;
}
.tablet {
    display: none;
}
.mobile {
    display: block;
}
@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .tablet {
        display: block;
    }
}
@media only screen and (min-width: 1024px) {
    .tablet {
        display: none;
    }
    .desktop {
        display: block;
    }
}
.message-info {
    background-size: 30px !important;
}
/** Desktop **/
/** Tablet & Mobile **/
@media only screen and (max-width: 1023px) {
    #rhombus-wrap {
        left: 18px;
        margin-left: 0;
        top: 0;
    }
    #rhombus-logo {
        width: 43px;
        background-size: contain;
        left: 5px;
        top: -19px;
        background-image: url('../img/look_4/responsive/vodafone_logo.png');
    }
    #rhombus {
        top: -50px;
        left: -22px;
        width: 156px;
        background-color: transparent;
        background-image: url('../img/look_4/responsive/rhombus-mobile.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
    }
    #rhombus:before {
        content: none;
    }
    #rhombus:after {
        content: none;
    }

    #activation-top {
        padding: 0 20px;
        margin-bottom: 20px;
        height: auto;
    }
    #activation-top h1 {
        line-height: 1.2;
        font-size:30px;
    }
    .mobile-margin-bottom-10 {
        margin-bottom: 10px !important;
    }
    .mobile-margin-top-20 {
        margin-top: 20px !important;
    }
    .special-checkbox-mobile {
        padding-left: 32px;
        width: calc(100% - 32px) !important;
    }
    .special-checkbox-mobile label {
        margin-left: -31px;
    }
/*  #activation-top-left {
        height: 22px;
    } */
    #activation-top-left,
    #activation-top-right {
        float: none;
        width: auto;
        margin-right: 0;
    }
    #activation-content-wrap {
        padding-top: 120px;
    }
    #activation-content {
        width: auto;
        position: relative;
    }
    #activation-content-left,
    #activation-content-right {
        float: none;
        width: auto;
        min-height: 120px;
        padding: 10px 20px;
    }
    .no-padding-left-right {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .gateway-33 #activation-content-right input.max4 {
        width: 100%;
    }
    #activation-content-left {
        margin-right: 0;
        height: auto;
    }
    #activation-content-left > img {
        position: static;
        width: 35%;
        margin: 0 auto;
        transform: translate(0%, 0%);
    }
    #language-info {
        padding: 0 20px;
        width: auto;
        overflow: hidden;
    }
    .activation-content-bottom {
        padding: 20px;
    }
    .message-error {
        padding: 22px 40px 20px 70px;
    }
    .message-error-text {
    font-size: 16px;
    }
    #activation-top-left,
    #activation-top-right {
        text-align: center;
    }
    #activation-content-right,
    #activation-content-bottom {
        width: 290px;
        margin: 0 auto;
    }
    #activation-content-bottom {
        border-top: 0;
        padding: 0;
    }
    input[type="password"].width250 {
        width: 100%;
    }
    .popup .row_wizard input[type="button"] {
        width: auto;
    }
    input.button,
    .row_wizard input[type="button"] {
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
    }
    .row_wizard {
        padding-bottom: 0;
    }
    .row_wizard.description .left,
    .row_wizard.description .right {
        display: block;
    }
    .row_wizard:not(.description) .left {
        margin-bottom: 20px;
    }
    .row_wizard:not(.description) .right {
        margin: 5px 0;
    }
    .row_wizard:not(.description) .left,
    .row_wizard:not(.description) .right {
        width: 100%;
        display: block;
    }
    .row_wizard + .row_wizard:not(.no-border-top) {
        padding-top: 0;
        border-top: 0;
    }
    .row_wizard.margin20 .left {
        margin-bottom: 0;
    }
    .row_wizard.margin20 .right {
        margin-bottom: 20px;
    }
    .row_wizard.margin20bot {
        margin-bottom: 20px;
    }
    .row_wizard.margin20top {
        margin-top: 20px;
    }
    .row_wizard.noTopPadding {
        padding-top: 0;
    }
    .activation-content-bottom {
        width: 290px;
        margin: 0 auto;
    }
    .no-padding-top {
        padding-top: 0px !important;
    }
}
/** Tablet **/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .row_wizard.tC {
        padding-top: 50px !important;
    }
    .gateway-33 #activation-content-right input.max4 {
        margin: 0 0 10px;
    }
}
/** Phone **/
@media only screen and (max-width: 767px) {
    #activation-top-left,
    #activation-top-right {
        text-align: center;
    }
    .gateway-32 #activation-top-left,
    .gateway-43 #activation-top-left,
    .gateway-45 #activation-top-left,
    .gateway-46 #activation-top-left,
    .gateway-49 #activation-top-left {
        display: none;
    }
    #activation-content-wrap {
        padding-top: 100px;
    }
    #activation-content-left > img {
        width: 40%;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
    }
    input[type="text"].width250,
    input[type="password"].width250 {
        width: 100%;
    }
    #activation-content-right,
    #activation-content-bottom {
        width: auto;
        padding: 20px;
    }
    #activation-content-bottom {
        padding-top: 0;
    }
    .activation-content-bottom {
        width: auto;
    }
    .row_wizard,
    .row_wizard .left,
    .row_wizard .right {
        display: block;
    }
    .row_wizard .left {
        margin-bottom: 12px;
    }
    .row_wizard:not(.description) .left,
    .row_wizard:not(.description) .right {
        width: 100%;
    }
    .row_wizard.margin12 {
        margin: 12px 0;
    }
    .tC {
        padding-top: 0;
    }
    input.button,
    .row_wizard input[type="button"] {
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
    }
    .popup {
        left: 0;
        padding: 60px 20px;
        top: 0;
        transform: translate(0, 0);
        width: auto;
        height: 100%;
        z-index: 999;
        overflow: auto;
    }
    .popup .row_wizard input[type="button"] {
        width: 100%;
    }
    .popup .mobile-cancel-popup {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-image: url('../img/look_4/icons/close-icons/close_mobile_popup.png');
        background-size: 18px;
        background-position: 15px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 9999;
    }
    .mobile-icon {
        background-image: url('../img/look_4/icons/responsive/icon_language.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
    }
    #language-switcher-list .language-switcher {
        float: none;
        margin: 0;
        padding: 10px 0;
    }
}
@media only screen and (max-width: 1023px) {
    #footer-details {
        width: 100%;
    }
    #footer {
        padding-left: 0;
        padding-right: 0;
    }
    #info {
        clear: both;
        float: none;
    }
}
@media only screen and (max-width: 767px) {
    #footer-details .hidden-menu {
        width: 100%;
    }
    #activation-content-bottom {
        padding-top: 0px !important;
    }
    #activation-content-left,
    #activation-content-right {
        min-height: 100px;
    }
}
@media only screen and (min-width: 320px) {
    #topBarRightSteps {
        top: 200px;
    }
    #topBarRightSteps > div {
        font-size: 13px;
    }
}
@media only screen and (min-width: 360px) {
    #topBarRightSteps {
        top: 220px;
    }
    #topBarRightSteps > div {
        font-size: 13px;
    }
}
@media only screen and (min-width: 420px) {
    #topBarRightSteps {
        position: absolute;
        top: 240px;
    }
    #topBarRightSteps > div {
        font-size: 13px;
    }
}
@media only screen and (min-width: 480px) {
    #topBarRightSteps {
        top: 260px;
    }
    #topBarRightSteps > div {
        font-size: 16px;
    }
}
@media only screen and (min-width: 530px) {
    #topBarRightSteps {
        top: 280px;
    }
    #topBarRightSteps > div {
        font-size: 16px;
    }
}
@media only screen and (min-width: 600px) {
    #topBarRightSteps {
        top: 300px;
    }
    #topBarRightSteps > div {
        font-size: 18px;
    }
}
@media only screen and (min-width: 640px) {
    #topBarRightSteps {
        top: 320px;
    }
    #topBarRightSteps > div {
        font-size: 16px;
    }
}
@media only screen and (min-width: 700px) {
    #topBarRightSteps {
        top: 330px;
        left: 160px;
    }
    #topBarRightSteps > div {
        font-size: 24px;
    }
}
@media only screen and (min-width: 750px) {
    #topBarRightSteps {
        position: relative;
        top: 0;
        left: 0;
    }
    #topBarRightSteps > div {
        font-size: inherit;
    }
}
@media only screen and (max-width: 1024px){
    .padding-top-20 {
        padding-top: 20px !important;
    }
}
/*IE Sneak Peak*/
input::-ms-reveal {
    display: none;
}
