.logo{
  /*margin-top: -30px;*/ 
}

.smallcard .modal-link:hover {
  color: #2bb6cb;
}
.btn-primary, .smallcard .header, .smallcard .header .settings {
  background-color: #0a7e8f;
  background-image: -moz-linear-gradient(top, #1C9B91, #7c1a74);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1C9B91), to(#167069));
  background-image: -webkit-linear-gradient(top, #1C9B91, #167069);
  background-image: -o-linear-gradient(top, #1C9B91, #167069);
  background-image: linear-gradient(to bottom, #1C9B91, #167069);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1C9B91', endColorstr='#ff167069', GradientType=0);
  border-color: #167069 #167069 #010002;
  border: 1px solid #167069;
  text-shadow: 0 1px 0px #000000;
}

.switchOn {
  background-color: #1C9B91;
}

.modal-header {
  color: #1C9B91;
}

.btn {
  color: #1C9B91;
}

.btn-primary {
  color: #ededed;
}

.login {
  border-top: 4px solid #167069;
}

.btn[disabled] {
  color: #0a7e8f;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
color: #ffffff;
background-color: #1C9B91;
}

.btn:hover:hover, .btn:hover:focus, .btn:hover:active, .btn:hover.active, .btn:hover.disabled, .btn:hover[disabled] {
color: #ffffff;
background-color: #1C9B91;
}

.btn:hover {
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #11839b;
background-image: -moz-linear-gradient(top, #2bb6cb, #1C9B91);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2bb6cb), to(#1C9B91));
background-image: -webkit-linear-gradient(top, #2bb6cb, #1C9B91);
background-image: -o-linear-gradient(top, #2bb6cb, #1C9B91);
background-image: linear-gradient(to bottom, #2bb6cb, #1C9B91);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2bb6cb', endColorstr='#ff1C9B91', GradientType=0);
border-color: #1C9B91 #1C9B91 #2bb6cb;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(43,182,203,1);
-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(43,182,203,1);
box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(43,182,203,1);
border: 1px solid #2bb6cb;
outline: none;
}

.btn:hover,.btn:focus{background-position:0 0px;}

.button:hover:hover, .button:hover:focus, .button:hover:active, .button:hover.active, .button:hover.disabled, .button:hover[disabled] {
color: #ffffff;
background-color: #1C9B91;
}

.button:hover {
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #11839b;
background-image: -moz-linear-gradient(top, #2bb6cb, #1C9B91);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2bb6cb), to(#1C9B91));
background-image: -webkit-linear-gradient(top, #2bb6cb, #1C9B91);
background-image: -o-linear-gradient(top, #2bb6cb, #1C9B91);
background-image: linear-gradient(to bottom, #2bb6cb, #1C9B91);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2bb6cb', endColorstr='#ff1C9B91', GradientType=0);
border-color: #1C9B91 #1C9B91 #2bb6cb;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(43,182,203,1);
-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(43,182,203,1);
box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(43,182,203,1);
border: 1px solid #2bb6cb;
outline: none;
}
.smallcard .header .settings:hover:hover, .smallcard .header .settings:hover:focus, .smallcard .header .settings:hover:active, .smallcard .header .settings:hover.active, .smallcard .header .settings:hover.disabled, .smallcard .header .settings:hover[disabled] {
color: #ffffff;
background-color: #1C9B91;
}
.smallcard .header .settings:hover {
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #11839b;
background-image: -moz-linear-gradient(top, #2bb6cb, #1C9B91);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2bb6cb), to(#1C9B91));
background-image: -webkit-linear-gradient(top, #2bb6cb, #1C9B91);
background-image: -o-linear-gradient(top, #2bb6cb, #1C9B91);
background-image: linear-gradient(to bottom, #2bb6cb, #1C9B91);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2bb6cb', endColorstr='#ff1C9B91', GradientType=0);
border-color: #1C9B91 #1C9B91 #2bb6cb;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(43,182,203,1);
-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(43,182,203,1);
box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(43,182,203,1);
border: 1px solid #2bb6cb;
outline: none;
}


.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #1C9B91;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #cccccc;
}

a {
color: #1C9B91;
text-decoration: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  color: #2bb6cb;
}

.bar-active {
    background: #1C9B91;
}
