#resetWrapMobile .resetButtons {
    text-align: center;
    float: none;
    padding-bottom: 20px;
}

#resetWrapMobile .resetButtons {
    position: relative;
    height: auto;
    width: auto;
    right: auto;
    background-image: none;
    padding: 0px 20px;
    font-size: 16px;
    color: #767676;
    z-index: 1;
}

/*** mobile reset page ***/
.mobile-reset{
	padding-left: 20px;
	padding-right: 20px;
}

.mobile-reset h3{
	padding-bottom: 150px;
	font-size: 36px;
	line-height: 38px;
}

input.max3 {
    width: 55px;
    text-align: center;
}