html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
#globalMessages {
    width: 1110px;
    margin: 0 auto;
    padding-top: 11px;
}
div.section {
  background-color: #FFF;
}
/*** row span font weight bold ***/

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.row span {
    font-weight: bold;
    line-height: 24px;
}
.row-modal {
    font-weight: bold;
    display: table-row;
    line-height: 24px;
    width: 100%;
}
.change-password-content .row .left {
    display: table-cell;
}
.change-password-content .row > div {
    padding-top: 20px;
    padding-bottom: 20px;
}
.change-password-content .row .right {
    display: table-cell;
    text-align: right;
}
.notification{
    font-weight: 200 !important;
    font-style: italic;
}
/*** Padding - Margin css ***/

.padding-bottom-20 {
    padding-bottom: 20px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-top-40 {
    padding-top: 40px !important;
}
.padding-top-lg {
    padding-top: 50px !important;
}
.padding-top-bottom {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
.padding-top-bottom-20 {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}
.padding-left {
    padding-left: 10px !important;
}
.padding-right {
    padding-right: 10px !important;
}
.padding-right-12 {
    padding-right: 12px !important;
}
.padding-right-small {
    padding-right: 5px !important;
}
.padding-top {
    padding-top: 10px !important;
}
.padding-bottom {
    padding-bottom: 10px !important;
}
.padding-left-right-20 {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}
.padding-left-right-10 {
    padding-left: 10px !important;
    padding-left: 10px !important;
}
.padding-left-right-20 {
    padding-left: 20px !important;
    padding-left: 20px !important;
}
.padding-left-pc {
    padding-left: 5% !important;
}
.padding-right-pc {
    padding-right: 5% !important;
}
.padding-top-bottom-70 {
    padding-bottom: 70px !important;
    padding-top: 20px !important;
}
.padding {
    padding: 10px !important;
}
.padding-lg {
    padding: 50px !important;
}
.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.padding-bottom-40 {
    padding-bottom: 40px !important;
}
.padding-bottom-lg {
    padding-bottom: 50px !important;
}
.padding-bottom-60 {
    padding-bottom: 60px !important;
}
.padding-top-lg {
    padding-top: 50px !important;
}
.padding-right-lg {
    padding-right: 50px !important;
}
.padding-left-lg {
    padding-left: 50px !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.padding-left-20 {
    padding-left: 20px !important;
}
.padding-left-15 {
    padding-left: 15px !important;
}
.padding-left-30 {
    padding-left: 30px !important;
}
.padding-left-40 {
    padding-left: 40px !important;
}
.padding-right-20 {
    padding-right: 20px !important;
}
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-padding-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-padding-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.margin-top {
    margin-top: 20px !important;
}
.margin-bottom {
    margin-bottom: 20px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top-lg {
    margin-top: 50px !important;
}
.margin-bottom-lg {
    margin-bottom: 50px !important;
}
.margin-bottom-60 {
    margin-bottom: 60px !important;
}
.margin-left-lg {
    margin-left: 50px !important;
}
.margin-right-lg {
    margin-right: 50px !important;
}
.margin-right-40 {
    margin-right: 40px !important;
}
.margin-top-bottom-lg {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.margin-left {
    margin-left: 20px !important;
}
.margin-right {
    margin-right: 20px !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-right-5 {
    margin-right: 5px !important;
}
.margin {
    margin: 10px !important;
}
.margin-top-bottom {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.margin-top-bottom-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.margin-left-right-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.margin-left-right-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.margin-left-right-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.padding-left-53 {
    padding-left: 53px !important;
}
.no-margin-right {
    margin-right: 0px !important;
}
.no-margin-bottom {
    margin-bottom: 0px !important;
}
.no-margin-top {
    margin-top: 0px !important;
}
.no-margin-left {
    margin-left: 0px !important;
}
.no-margin-left-right {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.no-margin-top-bottom {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.width-100 {
    width: 100%;
}
.width-90 {
    width: 90%;
}
.width-80 {
    width: 80%;
}
.width-85 {
    width: 85%;
}
.width-68 {
    width: 68%;
}
.width-50 {
    width: 50%;
}
.width-20 {
    width: 20%;
}
.width-25 {
    width: 25%;
}
.width-30 {
    width: 30%;
}
.under_construction {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    color: #e60000;
    font-family: "VodafoneRgRegular";
    font-size: 28px;
    line-height: 28px;
}
.width-40 {
    width: 40%;
}
.fix-width-190 {
    width: 190px;
    float: left;
}
/*** Header css  ***/

h1 {
    color: #e60000;
    font-family: "VodafoneRgRegular";
    font-size: 45px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 10px;
}
h2 {
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 24px;
}
h3 {
    color: #e60000;
    font-family: "VodafoneLtRegular";
    font-size: 28px;
    line-height: 50px;
    padding-left: 40px;
}
.h3-content {
    padding-left: 40px;
    padding-bottom: 50px;
    width: 100%;
}
.h3-content-nbottom {
    padding-left: 40px;
    width: 100%;
    display: table;
}
h1 > span,
h2 > span {
    font-weight: normal !important;
}
/*** input css ***/

input.button {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    background-color: #ffffff;
}
input.button.button-apply {
    background-color: #b141ad;
    color: #FFF;
    margin-right: 0px;
}
input.button.button-apply:hover {
    background-color: #680F6B;
    color: #FFF;
    cursor: pointer;
    -moz-box-shadow: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.6);
}
input.button.button-apply:active {
    background-color: #680F6B;
    cursor: pointer;
    color: #FFF;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) inset;
}
input.button:not(.table-button-faded):active {
    background-color: #F4F4F4;
    color: #000;
    cursor: pointer;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) inset;
}
button,
input,
optgroup,
select,
textarea {
    background-color: #FFF;
    color: #000;
}
.apply-cancel-hr {
    border-top: 1px solid #e6e6e6;
    margin-top: 30px;
    padding-top: 20px;
    text-align: right;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="text"],
input[type="number"],
input[type="password"] {
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 #767676 inset;
    -moz-box-shadow: 0 1px 2px 0 #767676 inset;
    -webkit-box-shadow: 0 1px 2px 0 #767676 inset;
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 14px !important;
    box-sizing: border-box;
}
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
    left: -9999px;
    position: absolute;
}
input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label {
    cursor: pointer;
    position: relative;
    z-index: 2;
    height: 30px;
    width: 30px;
    border: solid 1px #808080;
    display: inline-block;
    border-radius: 50px;
}
input[type="radio"]:not(:checked) + label::before,
input[type="radio"]:checked + label::before {
    border-radius: 50%;
    content: "";
    height: 24px;
    left: 2px;
    top: 2px;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 24px;
    z-index: 1;
}
input[type="radio"]:checked + label::before {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: #a8b400;
}
input[type="radio"]:not(:checked) + label::after {
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
input[type="radio"]:disabled:not(:checked) + label::before,
input[type="radio"]:disabled:checked + label::before {
    background-color: #ddd;
    border-color: #bbb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
input[type="radio"]:disabled:checked + label::after {
    color: #999;
}
input[type="radio"]:disabled + label {
    color: #aaa;
}
/*** Checkbox ***/

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    left: -9999px;
    position: absolute;
}
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
    cursor: pointer;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 15px;
    padding-left: 25px;
    position: relative;
    z-index: 2;
}
input[type="checkbox"]:not(:checked) + label::before,
input[type="checkbox"]:checked + label::before {
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #808080;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    content: "";
    height: 21px;
    left: 0;
    position: absolute;
    top: -2px;
    transition: all 0.2s ease 0s;
    width: 21px;
}
input[type="checkbox"]:checked + label::before {
    background-color: #a8b400;
    background-image: url("../img/look_4/checkbox/check-white.png");
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-size: 12px 9px;
    background-position: center;
}
input[type="checkbox"]:not(:checked) + label::after,
input[type="checkbox"]:checked + label::after {
    color: #fff;
    content: " ";
    left: 2px;
    position: absolute;
    top: -2px;
    transition: all 0.2s ease 0s;
}
input[type="checkbox"]:not(:checked) + label::after {
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
input[type="checkbox"]:checked + label::after {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
input[type="checkbox"]:disabled:not(:checked) + label::before,
input[type="checkbox"]:disabled:checked + label::before {
    background-color: #ddd;
    border-color: #bbb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
input[type="checkbox"]:disabled:checked + label::after {
    color: #999;
}
input[type="checkbox"]:disabled + label {
    color: #aaa;
}
input[required="required"] {
    box-shadow: 0;
}
input.button-edit {
    background-image: url("../img/look_4/buttons/button-edit.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
input.button-delete,
input.button-delete-message {
    background-image: url("../img/look_4/buttons/button-delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
input.button-add {
    background-image: url("../img/look_4/buttons/button-add.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
input.button-minus {
    background-image: url("../img/look_4/buttons/button-minus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
input.max3,
input.max2 {
    width: 55px;
    text-align: center;
}
input.max5 {
    width: 75px;
    text-align: center;
}
/* input.parent-max2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 35px;
} */
input.lan-max2 {
    width: 37px !important;
    padding: 7px 5px !important;
}
/*Setting password page*/

.title {
    color: #e60000;
    font-family: "VodafoneRgRegular";
    font-size: 28px;
    line-height: 50px;
}
.message-info {
    background: url('../img/look_4/icons/info.png') no-repeat scroll 20px 18px / 30px auto #FFF5F0;
    border: 1px solid #FF5400;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 22px 80px 20px 70px;
    margin-top: 20px;
    background-size: 30px;
}
.font-lineheight {
    font-weight: bold;
    line-height: 24px;
}
.font-bold {
    font-weight: bold !important;
}
/* Override the footerfooter class as per spec */

.modal-footer {
    border-top: 1px solid #e6e6e6;
    margin-top: 30px;
    padding: 20px 0px 0px 0px;
    text-align: right;
	}
/*** Switch button ***/

div.button {
    background-color: #808080;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 30px;
    position: relative;
    transition: all 0.3s ease-out 0s;
    width: 60px;
    z-index: 1;
    display: inline-block;
}
div.button::after {
    background-color: #fff;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    content: " ";
    display: block;
    height: 28px;
    left: 1px;
    position: absolute;
    top: 1px;
    transition: all 0.2s ease-in-out 0s;
    width: 28px;
    z-index: 2;
}
div.button.button-on {
    background-color: #a8b400;
    cursor: pointer;
}
div.button.button-on::after {
    left: 31px;
}
/**************** Choosen Dropdown CSS  ****************/

#top-info-mode {
    float: right;
}
#top-info-logged-user {
    text-align: right;
}
#top-info-logged-user span {
    font-weight: normal;
}
#top-info-mode .chosen-container {
    background-color: #fff;
    display: block;
    width: 290px !important;
}
#top-bar-content #top-info-mode .chosen-container {
    margin-top: 5px;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    background-color: #fff;
    background-image: none;
}
.chosen-container-single .chosen-single {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #333;
    font-size: 14px;
    height: 39px;
    line-height: 39px;
    padding: 0 14px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
    border: 0;
    font-size: 16px;
    text-align: left;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}
.desktop-chosen .chosen-container-single .chosen-single span,
.desktop-chosen .chosen-container .chosen-results li {
    font-weight: normal;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background: url("../img/look_4/icons/arrows/arrow-up.png") no-repeat scroll center center transparent !important;
}
.chosen-container-single .chosen-single div b {
    background: url("../img/look_4/icons/arrows/arrow-down.png") no-repeat scroll center center transparent !important;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 3px;
    right: 0;
    display: block;
    width: 34px;
    height: 33px;
    border-left: solid 1px #ccc;
    text-align: left;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: solid 1px #ccc;
    background: transparent none repeat scroll 0 0;
}
/* dropdowns */

.chosen-container .chosen-results li {
    line-height: 39px;
    height: 39px;
    padding: 0 14px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container .chosen-results li.highlighted {
    background: #666;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55) inset;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55) inset;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55) inset;
    color: #fff;
}
.chosen-single,
.chosen-with-drop .chosen-drop {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55) !important;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55) !important;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55) !important;
    border: 0px none !important;
}
/* horizontal Line override */

hr {
    margin: 0px;
}
/*==================
popups
===================*/

.popup {
    background-color: #fff;
    box-shadow: 0 0 30px #555;
    -moz-box-shadow: 0 0 30px #555;
    -webkit-box-shadow: 0 0 30px #555;
    left: 50%;
    padding: 30px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 620px;
    z-index: 100;
    text-align: left;
}
.modal {
    box-shadow: 0 0 30px #555;
    -moz-box-shadow: 0 0 30px #555;
    -webkit-box-shadow: 0 0 30px #555;
    padding: 30px;
    text-align: left;
}
.modal-content {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.modal-body {
    padding: 0px;
}
.popup .tC {
    padding-bottom: 20px;
}
.popup .title + p {
    margin-bottom: 0px;
}
.modal-dialog {
    margin: 0px auto;
}
/**************** Vodafone Footer Section ****************/

#footer {
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0);
}
#footer {
    background-color: #ebebeb;
    padding: 1px 0 20px 0;
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
}
#content-reset-wrap1 {
    float: left;
    width: 710px;
    min-height: 700px;
}
.nopadding {
    padding: 0px !important;
    margin: 0px !important;
}
.nomargin {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
#language-info {
    margin: 25px auto 0;
    width: 950px;
    color: #999999;
    font-size: 14px;
    display: none;
}
div.language-info {
    margin: 25px auto 0px;
    width: 950px;
    color: #999;
    font-size: 14px;
    display: none;
}
#language-switcher-list {
    float: left;
    width: 100%;
    display: none;
}
.language-switcher {
    float: left;
    margin-right: 14px;
    display: none;
}
#info {
    float: right;
}
.gateway-27 #info {
    float: right;
    width: 37%;
}
#footer {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    bottom: 0px;
    padding: 10px;
}
#footer:hover {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
}
#footer-main {
    font-weight: bold;
    margin-top: 60px;
    color: #999999;
    font-size: 16px;
}
#footer-details {
    margin: 25px auto 0;
    width: 950px;
}
.hidden-menu-title {
    font-weight: bold;
    color: #999999;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 16px;
}
.hidden-menu {
    float: left;
    margin-bottom: 10px;
    padding-right: 12px;
    width: 100%;
    font-size: 14px;
}
#footer-main > ul > li > a {
    text-decoration: none;
    color: #999;
}
.hidden-menu > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    padding-left: 10px;
    color: #999;
}
li.language-switcher > a {
    color: #999;
}
ul,
li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
/*call log pagination*/

.pagination {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.pagination-arrows {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
}
.arrow-left img {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.arrow-right img {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.pagination-arrows:not(.table-button-faded):hover {
    background-color: #F4F4F4;
    color: #000;
    -moz-box-shadow: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.6);
}
.pagination-arrows:not(.table-button-faded):active {
    background-color: #F4F4F4;
    color: #000;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) inset;
}
.pages {
    width: 50px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
/*end of call log pagination*/

.modal-content {
    padding: 34px 40px 40px;
	border: 0px !important;
}
/*** progress bar ***/

#progress-bar-box {
    background-color: #F7F7F7;
    width: 316px;
    height: 30px;
    border: 1px solid #CCC;
}
#progress-bar-image {
    background-color: #A8B400;
    width: 116px;
    height: 29px;
}
.modal-title {
    color: #E60000;
    font-family: "VodafoneRgRegular";
    font-size: 28px;
    line-height: 50px;
}
.big {
    height: auto;
    padding-top: 13px;
    padding-bottom: 13px;
}
.txt-align {
    text-align: right;
}
/*** Reset/Refresh Button ****/

.resetButtons {
    height: 30px;
    width: 30px;
    right: 0px;
    position: absolute;
    background-image: url("../img/look_4/buttons/button-reload.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    z-index: 99;
}
/* ==========================================================================
   Password Strength
   ========================================================================== */

.passwordStrength {
    width: 214px;
    text-align: left;
}
.passwordStrength.strength0 {
    border-bottom: 4px solid #FF0000;
    width: 28.5%;
}
.passwordStrength.strength1 {
    border-bottom: 4px solid #FF0000;
    width: 43%;
}
.passwordStrength.strength2 {
    border-bottom: 4px solid #FFA500;
    width: 57.2%;
}
.passwordStrength.strength3 {
    border-bottom: 4px solid #FFA500;
    width: 71.5%;
}
.passwordStrength.strength4 {
    border-bottom: 4px solid #008000;
    width: 85.8%;
}
.passwordStrength.strength5 {
    border-bottom: 4px solid #008000;
    width: 100%;
}
.passwordFullWidth {
    width: 301px !important;
}
/*** tab menu ***/

.nav-tabs {
    border-bottom: 0px;
}
.nav-tabs > li > a {
    outline: none;
    margin-right: 0px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -webkit-border-radius: 0px 0px 0 0;
    cursor: pointer;
    font-weight: normal;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: 0px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    background-color: #f7f7f7;
}
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #f7f7f7;
    color: #000;
    text-decoration: none;
    border-bottom: 0px;
}
.nav-tabs > li > a:hover {
    background-color: #FFF;
    color: #000;
    text-decoration: none;
    border-bottom: 0px;
    height: 44px;
}
.tab-content table.call-log,
.call-log-mtable {
    background-color: #f7f7f7;
}
.call-log .table > tbody > tr > td,
.call-log .table > tbody > tr > th,
.call-log .table > tfoot > tr > td,
.call-log .table > tfoot > tr > th,
.call-log .table > thead > tr > td,
.call-log .table > thead > tr > th {
    border-top: 0px !important;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-top: 0px solid #ddd;
    border-bottom: 0px;
    height: 50px;
}
.table > tbody > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}
.tabs-all {
    height: 44px;
    width: 25%;
    float: left;
    text-align: center;
    line-height: 44px;
    background-color: #ffffff;
}
.tab-img {
    padding-right: 5px;
}
.missed-call-color,
.error {
    color: #e60000;
}
.table-button-faded {
    opacity: 0.3;
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    filter: alpha(opacity=30);
	cursor: default !important;
}
/*** apply success message  ***/

.message-error {
    background: url("../img/look_4/icons/status-indicators/error.png") no-repeat scroll 20px 18px #fef0f0;
    border: 1px solid #e60000;
    border-radius: 3px;
    margin-top: 20px;
    padding: 22px 80px 20px 70px;
}
.message-info {
    background: url("../img/look_4/icons/status-indicators/info.png") no-repeat scroll 20px 18px #FFF5F0;
    border: 1px solid #FF5400;
    border-radius: 3px;
    padding: 22px 80px 20px 70px;
    margin-top: 20px;
    background-size: 30px;
}
.message-arrowbox {
    background: url("../img/look_4/icons/status-indicators/info.png") no-repeat scroll 20px 9px #fff5f0;
    border: 1px solid #ff5400;
    height: 50px;
    padding: 15px 30px 20px 55px;
    position: relative;
    width: 360px;
    background-size: 30px;
    float: right;
    /*** margin-left: 135px; ***/

    margin-top: -7px;
}
.message-arrowbox:after,
.message-arrowbox:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.message-arrowbox:after {
    border-color: rgba(255, 245, 240, 0);
    border-left-color: #FFF5F0;
    border-width: 10px;
    margin-top: -10px;
}
.message-arrowbox:before {
    border-color: rgba(255, 84, 0, 0);
    border-left-color: #FF5400;
    border-width: 11px;
    margin-top: -11px;
}
.message-arrowbox-applied {
    background: url("../img/look_4/icons/status-indicators/success.png") no-repeat scroll 20px 9px #f6ffed;
    border: 1px solid #b8cb9e;
    height: 50px;
    padding: 15px 30px 20px 60px;
    position: relative;
    width: 340px;
    background-size: 30px;
    float: right;
    margin-top: -7px;
}
.message-arrowbox-applied:after,
.message-arrowbox-applied:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.message-arrowbox-applied:after {
    border-color: rgba(246, 255, 237, 0);
    border-left-color: #f6ffed;
    border-width: 10px;
    margin-top: -10px;
}
.message-arrowbox-applied:before {
    border-color: rgba(184, 203, 158, 0);
    border-left-color: #b8cb9e;
    border-width: 11px;
    margin-top: -11px;
}
.button-arrow-left-small {
    background: url("../img/look_4/buttons/button-left.png") no-repeat scroll transparent;
    cursor: pointer;
    float: left;
    margin: -1px 10px 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    height: 30px;
    padding: 0;
    width: 30px;
}
.button-arrow-right-small {
    background: url("../img/look_4/buttons/button-right.png") no-repeat scroll transparent;
    cursor: pointer;
    float: left;
    margin: -1px 0 0 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    height: 30px;
    padding: 0;
    width: 30px;
}
/*** Reset button ***/

#resetWrapMobile .resetButtons {
    text-align: center;
    float: none;
    padding-bottom: 20px;
}
#resetWrapMobile .resetButtons {
    position: relative;
    height: auto;
    width: auto;
    right: auto;
    background-image: none;
    padding: 0px 20px;
    font-size: 16px;
    color: #767676;
    z-index: 1;
}
/*** mobile reset page ***/

.mobile-reset {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.mobile-reset h3 {
    padding-bottom: 150px;
    font-size: 36px;
    line-height: 38px;
}
.hide {
    display: none;
}
.light-font {
    font-weight: 400 !important;
}
.level-3 {
    padding: 0 0 0 14px;
}
.shadowProblem {
    padding-right: 10px !important;
    margin-right: -10px;
}
.h3-content.no-padding-bottom {
    padding-bottom: 0;
}
.row .left .inner-row + .inner-row {
    margin-top: 10px;
}
.extra_mac_address {
    width: 37px !important;
}
.extra_ip_address {
    width: 38px !important;
}
div#sdhcp #top-info-mode .chosen-container {
    width: auto !important;
    margin-top: 0px !important;
}
div#sdhcp .chosen-container-single .chosen-single {
    width: 170px;
}
div#sdhcp .para-col {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}
/*** remove modal padding right ***/

.font-normal {
    font-weight: normal !important;
}
td,
th {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: left;
}
table span {
    font-weight: normal !important;
}
.h3-content th {
    border-bottom: 1px solid #e6e6e6;
}
.align-right {
    text-align: right;
}
.Basic-Configuration a {
    line-height: 25px !important;
}
.content-ipv6-basic-configuration h2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 24px;
}
/*** parental control ***/

.individual-days-day {
    text-align: right;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.individual-days-day .individual-days-checkbox {
    float: right;
}
.individual-days-day .individual-days-day-wrap {
    float: right;
    padding-right: 6px;
}
.pr-col-height0 {
    height: 0px !important;
}
.op50 {
    opacity: 0.4;
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    filter: alpha(opacity=40);
    pointer-events: none;
}
input.input-error[type="text"],
input.input-error[type="password"] {
    border: 1px solid #e60000;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.input-length {
    border: 1px solid #e60000;
    border-radius: 3px;
    background-color: #fef0f0;
}
.error-tooltip {
    box-shadow: 0 1px 2px 0 #e60000 inset !important;
    -moz-box-shadow: 0 1px 2px 0 #e60000 inset !important;
    -webkit-box-shadow: 0 1px 2px 0 #e60000 inset !important;
    border: 1px solid #e60000;
}
.text-overflow {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
input.max4 {
    width: 77px;
    text-align: center;
}
#home-href-firewall + ul.dropdown-menu li:nth-child(3),
#home-href-firewall + ul.dropdown-menu li:nth-child(4) {
    padding-left: 20px !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
input.button.button-add:hover,
input.button.button-add:active,
input.button.button-delete:hover,
input.button.button-delete:active,
input.button.button-edit:hover,
input.button.button-edit:active {
    background-color: #FFF !important;
    cursor: pointer;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#subnavigation .sub-sub-navigation a {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
#subnavigation a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.container {
	width: 950px;
	padding-right:0px !important;
	padding-left:0px !important;
}
.rightcontent {
	width: 710px;
	margin-left: 50px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}

.time::-webkit-input-placeholder {
    font-size: 14px;
}
.time:-moz-placeholder {
    /* FF 4-18 */
    font-size: 14px;
}
.time::-moz-placeholder {
    /* FF 19+ */
    font-size: 14px;
}
.time:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14px;
}
label{
	font-weight: bold;
	line-height:24px;
}
.h3-content div.table {
    padding-left: 20px;
}

div.table {
    display: table;
    width: 100%;
    line-height: 24px;
}
div.table-row {
    display: table-row;
}
div.table-col {
    display: table-cell;
    padding-bottom: 3px;
    padding-top: 3px;
}
div.table {
    line-height: 24px;
}

.desktop-qos-padding {
    padding-bottom: 7px;
    padding-top: 7px;
}
div#qos-table span {
    font-weight: normal !important;
}
/* common row */
#content-wrap .vdf-row .right {
  display: table-cell;
  text-align: right;
}

#content-wrap .vdf-row .left {
  display: table-cell;
}

div.vdf-table {
	display: table;
	width: 100%
}
div.vdf-row{
	display: table-row;	
	width: 100%
}
.vdf-row .right{
	display: table-cell;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;
}
.vdf-row .left{
	display: table-cell;
	padding-top: 20px;
	padding-bottom: 20px;
}
.diagnostic-table{
	display: table;
}
/* wifi general */

.padding-top-bottom-15-20{
    padding-bottom: 20px !important;
    padding-top: 15px !important;
}
.inner-cell-right {
    float: right;
}
.inner-cell-left {
    float: left;
}
.h3-wrapper-content {
    padding-bottom: 50px;
}
.content-general input[type="password"] {
    display: block;
    width: 290px;
}
.paddingLeft {
    padding-left: 90px;
}
.popup .apply-cancel {
    text-align: right;
}
.apply-cancel {
    border-top: 1px solid #e6e6e6;
    margin-top: 30px;
    padding-top: 20px;
    text-align: right;
}
.h3-content-firewall{
	padding-left: 40px;
	padding-bottom: 50px;
	width: 100%;
	display: table;
}
.h3-content-firewall .vdf-row + .vdf-row > div, #portmp-algs .vdf-row + .vdf-row > div{
    border-top: solid 1px #e6e6e6;
}

input[type="text"].input-error, input[type="number"].input-error,
input[type="password"].input-error, #wifiset_sel_channel_chosen.chosen-container-multi ul.chosen-choices.input-error {
    border: 1px solid #e60000;
    border-radius: 3px;
    background-color: #fef0f0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
