.httpi_card_large {}
.httpi_card_Status {height:350px;}
.smallcard .httpi_content{
  height:100%;
}
.content {
  
  z-index:50;
}

.smallcard .httpi_content {
  overflow: auto;
  height:459;
}
.httpi_left{
    width:95px;
    display:inline-block;   
}
.httpi_main_left{
    width:150px;
    display:inline-block;  
    margin-left:20px;
}
.httpi_bg {
    position: relative;
    
}
.httpi_bg:after {
    color: #E6E6E6;
    font-family: FontAwesome;
    content: attr(data-bg-text);
    display: block;
    font-size: 200px;
    line-height: 1;
    position: absolute;
    right: 25px;
    z-index:1;
    top: 30%;
}

.bg_small:after{
  
}
.bg_large:after{
  bottom: -160px
}

.thumb{
  text-align:center;
  padding-top:15px;
  width: 70%;
  margin: auto;
}


.form-horizontal .control-label {
  width: 65px;
  padding-right: 5px;
}

.form-horizontal .controls {
  margin-left:10px;
}

.btn-primary{
  margin-bottom:5px;
}

p{
  margin: 5px 0px 10px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: 20px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
color: #666666;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: middle;
width:350px;
}

.httpilabel{
  margin-left: 10px;
  width: 70px;
  font-weight: 900;
}

.inputblock{
  margin-top: 20px;
}
.help-block, .help-inline {
color: #D34949;
}

.httpi_button {
    margin-left: 20px;
    margin-bottom: -15px;
    
}

