/* Yellow: #FFC10E */

/* Login Page */
.container-inner.login-page,
.container-inner.changepassword-page{padding: 0;}
.login-page-body{background: #606369;}
#login_form{background: #ffffff; height: 250px; width: 450px; margin: 120px auto; }
.glyphicon.glyphicon-user,
.icon-login{background-image: url(img/login.svg); width: 34px; height: 34px; background-color: #e6e7e7; display: inline-block; border-radius: 3px; background-position: center center;}
.glyphicon.glyphicon-user:before{content: " ";}
.glyphicon.glyphicon-lock,
.glyphicon.glyphicon-check,
.icon-password{background-image: url(img/password.svg); width: 34px; height: 34px; background-color: #e6e7e7; display: inline-block; border-radius: 3px; background-position: center center;}
.glyphicon.glyphicon-lock:before,
.glyphicon.glyphicon-check:before{content: " ";}

.login_box { width:100%; height:auto; padding-bottom: 30px; background-color:#FFFFFF; box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16); margin-top:100px; }
.login_box .error-messages{color: maroon;}

#login_page .page-header{color: #FFC10E; border: 0; padding: 25px 0; margin: 0;  letter-spacing: 2px; font-weight: 400; font-size: 24px;}
#login_page .input-group-addon{padding: 0 12px 0 0;}
#login_page .input-group-addon:first-child{background: transparent;}
#login_page input{background: #e6e7e7; height: 34px;}
#login_page input[type="checkbox"]{background: #e6e7e7; height: auto; margin: 12px 20px 5px 12px;}
#login_page label{font-weight: normal;}
#login_page .btn-block.btn-default{padding: 4px 40px; width: auto; margin: auto;}
#login_page .btn-block.btn-default:hover{color: #FFFFFF; background: #FFC10E;}
#login_page .form-group.error-messages{border-bottom: 0;}

#pwd_strong_bar.progress-bar-danger{width: 30%;}
#pwd_strong_bar.progress-bar-warning{width: 60%;}
#pwd_strong_bar.progress-bar-success{width: 100%;}


@media (min-width: 767px){
    .login_box .center-block{max-width: 80%;}
}
@media (max-width: 767px){
    #login_page .container{padding-left: 0; padding-right: 0;}
    #login_page form{padding-left: 15px; padding-right: 15px;}
}