/**************** Login CSS ****************/

body {
       font-family: Arial;
       font-size: 16px;
       line-height: 1.4;
       background-color: #ebebeb;
       margin: 0;
       padding: 0;
       overflow-y: scroll;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
.gateway-27 #info {
    float: right;
    width: 37%;
}
/* ==========================================================================
   Rhombus
   ========================================================================== */

#header {
    background-color: #fff;
    padding-top: 70px;
}
#page-rhombus-wrap {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 630px;
    pointer-events: none;
}
#rhombus-wrap {
    left: 50%;
    margin-left: -485px; /*-555px;*/
    position: absolute;
    top: 35px;
    width: 60px;
    z-index: 10;
}
#rhombus-logo {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(../img/vf-logo-new.png);
    background-origin: padding-box;
    background-position: 0 30px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 90px;
    padding-top: 30px;
    position: relative;
    width: 60px;
    z-index: 5;
}
.gateway-46 #rhombus-logo {
    background-image: url(../img/vf-logo-new.png);
    background-size: 60px 60px;
    left: 60px;
}
#box-logo {
    background-repeat: no-repeat;
    height: 26px;
    margin-left: 80px;
    margin-top: 20px;
    width: 145px;
    z-index: 5;
    text-indent: -9999px;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
/*.modal-open #rhombus-wrap {
    left: 49.6%;
}*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.nomargin {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
#activation-content-wrap {
    background-color: #fff;
    padding-top: 155px;
    padding-bottom: 12px;
}
#activation-content {
    background-color: #FFF;
    width: 950px;
    margin: 0px auto 60px;
}
#activation-top-left {
    float: left;
    width: 378px;
    margin-right: 50px;
}
#activation-top-right {
    float: left;
    width: 492px;
}
#activation-content-left {
    float: left;
    height: 412px;
    margin-right: 50px;
    position: relative;
    width: 378px;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
#activation-content-right {
    float: left;
    min-height: 412px;
    width: 492px;
}
.row_login .left {
    display: table-cell;
}
h1.welcome_txt {
    padding-left: 10px;
}
/*=============
    .row_login_login style
    ==============*/

.row_login {
    font-weight: bold;
    display: table;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.row_login:after {
    display: table;
    clear: both;
}
.row_login .right {
    display: table-cell;
    text-align: right;
}
.row_login .left {
    display: table-cell;
}
.row_login:not(.description) .left {
    width: 70%;
}
.row_login:not(.description) .leftHasRight {
    width: 22%;
}
.row_login:not(.description) .left + .right {
    width: 30%;
}
.row_login {
    padding-left: 20px;
}
.row_login + .row_login:not(.no-border-top) {
    border-top: solid 1px #e6e6e6;
}
.row_login.description + .row_login {
    border-top: 0px;
}
.row_login .left .inner-.row_login_login + .inner-.row_login_login {
    margin-top: 10px;
}
.row_login.description .left {
    font-weight: normal;
}
.tC {
    text-align: center;
}
.row_login.description.noLeftPadding {
    padding-left: 0px;
}
.row_login + .row_login.no-top-border {
    border-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1 {
    color: #e60000;
    font-family: "VodafoneRgRegular";
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 10px;
}
h2 {
    font-family: 'VodafoneLtRegular';
    font-size: 30px;
    color: #e60000;
    line-height: 30px;
    font-weight: normal;
}
input.button
{
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    border: 0;
    background-color: #ffffff;
}
input.button.button-apply,
input.submit {
    background-color: #9C2AA0;
    color: #fff;
}
.apply-cancel input.button {
    margin: 0 8px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
}
input.button.button-apply:hover,
input.submit:hover,
input.button.button-apply:active,
input.submit:active {
    background-color: #680F6B;
    cursor: pointer;
}
input.button:hover,
input.button:active {
    background-color: #f4f4f4;
    cursor: pointer;
}
input.button:not(.button-apply):hover,
input.button:not(.button-apply):active {
    color: inherit;
}
.forgotten-password-popup .row_login:not(.description).big {
    width: 70%;
    margin: 0px auto;
}
.forgotten-password-popup .row_login:not(.description).big + .row_login {
    text-align: left;
}
.btn-apply {
    background-color: #9C2AA0;
    color: #FFF;
}
.btn,
.submit {
    display: inline-block;
    padding: 0px 20px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0px none;
    border-radius: 3px;
    height: 34px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    color: #FFF;
}
.btn-apply:hover,
.btn-apply:active,
.btn-apply:focus {
    background-color: #680F6B !important;
    color: #FFF !important;
    cursor: pointer;
    outline: none !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    }
/* ======
Content
========= */

#activation-content-left {
    float: left;
    height: 412px;
    margin-right: 50px;
    position: relative;
    width: 378px;
}
#activation-content-left > img {
    display: block;
    left: 50%;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%, 0%);
    width: 100%;
}
.faded {
    opacity: 0.4;
}
.italic {
    font-style: italic !important;
}
#progress-bar-box {
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    height: 29px;
    width: 316px;
}
#progress-bar-image {
    background-color: #a8b400;
    height: 29px;
    width: 116px;
}
/*==================
popups
===================*/

.popup {
    background-color: #fff;
    box-shadow: 0 0 30px #555;
    -moz-box-shadow: 0 0 30px #555;
    -webkit-box-shadow: 0 0 30px #555;
    left: 50%;
    padding: 30px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 620px;
    z-index: 100;
    text-align: left;
}
.modal {
    box-shadow: 0 0 30px #555;
    -moz-box-shadow: 0 0 30px #555;
    -webkit-box-shadow: 0 0 30px #555;
    padding: 30px;
    text-align: left;
}
.modal-content {
    border-radius: 0px;
}
/* modal vertical center align */

.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    left: 50%;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    width: 620px;
    z-index: 100;
}
.modal-content {
    padding: 34px 40px 40px;
}
.popup .tC {
    padding-bottom: 20px;
}
.popup .title + p {
    margin-bottom: 0px;
}
.forgotten-password-popup .row_login:not(.description).big {
    width: 70%;
    margin: 0px auto;
}
.forgotten-password-popup .row_login:not(.description).big + .row_login {
    text-align: left;
}
.blackBackground {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.forgot_password {
    font-weight: bold;
    text-decoration: none;
    line-height: 35px;
    color: inherit;
    font-family: Arial;
    font-size: 12px;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
/* ======
Footer
========= */

#language-info {
    margin: 25px auto 0px;
    width: 950px;
    color: #999;
    font-size: 14px;
}
#language-switcher-list {
    float: left;
    width: 100%;
}
.language-switcher {
    float: left;
    margin-right: 14px;
}
#info {
    float: right;
    /*width: 70%;*/
}
.gateway-27 #info {
    float: right;
    width: 37%;
}
#footer {
    opacity: 1;
}
#footer:hover {
    opacity: 1;
}
#footer-main {
    font-weight: bold;
    margin-top: 60px;
    color: #999999;
    font-size: 16px;
}
#footer-details {
    margin: 25px auto 0;
    width: 950px;
}
.hidden-menu-title {
    font-weight: bold;
    color: #999999;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 16px;
}
.hidden-menu {
    float: left;
    margin-bottom: 10px;
    padding-right: 12px;
    width: 100%;
    font-size: 14px;
}
#footer-main > ul > li > a {
    text-decoration: none;
    color: #999;
}
.hidden-menu > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    padding-left: 10px;
    color: #999;
}
li.language-switcher > a {
    color: #999;
}
ul,
li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
input.max4 {
    width: 250px;
    text-align: left;
}
input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    box-shadow: 0px 1px 2px 0px #767676 inset;
    -moz-box-shadow: 0px 1px 2px 0px #767676 inset;
    -webkit-box-shadow: 0px 1px 2px 0px #767676 inset;
    border-radius: 4px;
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 14px;
    border: 1px none;
    width: 290px;
    height: 39px;
    outline: none;
}
.login-row {
    line-height: 24px;
    padding-top: 20px;
}
.login-btn,
.forgotton-btn {
    text-align: right;
}
.no-margin {
    margin: 0px !important;
}
.no-padding {
    padding: 0px !important;
}
.mobile-btn {
    margin-bottom: 28px;
}
@media only screen and (min-width: 1024px) {
    .vox-text {
      width : 290px !important;
    }
    .vox-loginbtn {
      text-align : right;
    }
}
@media only screen and (max-width: 1023px) {
    #rhombus-wrap {
        left: 18px;
        margin-left: 0;
        top: 50px;
    }
    #rhombus-wrap {
        margin-left: 0;
        top: 0;
    }
    #rhombus-logo {
        width: 43px;
        background-size: contain;
        left: 5px;
        top: -19px;
        background-image: url('../img/look_4/responsive/vf-logo-new.png');
    }
    #activation-top {
        padding: 0 20px;
        margin-bottom: 20px;
        height: auto;
    }
    #mobile-vf-logo {
        margin: 0px;
    }
    #activation-top h1 {
        line-height: 1.2;
    }
    #rhombus:before {
        content: none;
    }
    #rhombus:after {
        content: none;
    }
    #activation-content {
        width: 100%;
    }
    #activation-content-left {
        margin-right: 0;
        height: auto;
    }
    #activation-content-left,
    #activation-content-right {
        float: none;
        width: auto;
        min-height: 100px;
        padding: 10px 20px;
    }
    #language-info {
        padding: 0px 20px;
        width: auto;
        overflow: hidden;
    }
    #activation-content-left > img {
        position: static;
        width: 35%;
        margin: 0px auto;
        transform: translate(0%, 0%);
    }
    #activation-content-right {
        margin: 0px auto;
        width: 290px;
    }
    #login,
    #start {
        width: 100%;
        height: 45px;
    }
    input.max4 {
        width: 100%;
    }
    .mobile-logo-align {
        margin-left: 0px !important;
    }
    p.para {
        margin: 0 0 0px;
    }
    input.button, .row input[type="button"] {
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 360px) {
    #captchaModal input[type="text"] {
        width: 100% !important;
    }
}
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
        line-height: 36px;
    }
    #activation-content-wrap {
        padding-top: 100px;
    }
    #activation-content-left > img {
        width: 40%;
    }
    #activation-content-right {
        width: auto;
        padding: 20px;
    }
    .mobile-btn {
        display: block;
        width: 100%;
    }
    #language-switcher-list .language-switcher {
        float: none;
        margin: 0px;
        padding: 10px 0px;
    }
    .mobile-icon {
        background-image: url('../img/look_4/responsive/icon_language.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
    }
    .login-row {
        padding-top: 0px;
    }
    input[type="text"],
    input[type="password"] {
        height: 45px !important;
    }
    .mobile-txtbox-top {
        padding-top: 20px;
    }
    .modal-content {
        padding: 5px;
    }
    .modal-dialog {
        width: 100%;
        z-index: 999;
        padding-right: 20px;
        padding-top: 60px;
        overflow: auto;
    }
    .mob-button-width {
        width: 100%;
        height: 45px !important;
    }
    .mob-apply-cancel {
        margin-top: 20px;
    }
   input.button, .row input[type="button"] {
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .mobile-padding-left-right-none {
        padding-left: 0px;
        padding-right: 0px;
    }
    .mobile-margin-left-right-none {
        margin-left: 0px;
        margin-right: 0px;
    }
    .mob-button-width {
        width: 100%;
        height: 45px !important;
    }
    #activation-top-left {
        display: none;
    }
    #activation-top-right {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
    .tab-padding-left-right {
        padding-right: 0px;
        padding-left: 0px;
    }
    .mobile-padding-left-right-none {
        padding-left: 0px;
        padding-right: 0px;
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 1280px) {
    #activation-top {
        height: 70px;
    }
    .mobile-padding-left-right-none {
        padding-left: 0px;
        padding-right: 0px;
        overflow-x: hidden;
    }
    h1 {
        margin: 0px;
    }
    .no-margin-left-right {
        margin-left: 0px;
        margin-right: 0px;
    }
    .no-margin-right {
        margin-right: 0px;
    }
    .no-padding-left {
        padding-left: 0px;
        padding-right: 0px;
    }
    .no-padding-right{
        padding-right : 0px !important;
   }
}
@media only screen and (min-width: 768px) {
    .footer-wanipv6 {
        padding-left: 5%;
   }
}
.margin-top-20 {
    margin-top: 20px;
}
.error-message,
#flashMessage {
    background: url("../img/look_4/icons/status-indicators/error.png") no-repeat scroll 20px 18px #fef0f0;
    border: 1px solid #e60000;
    border-radius: 3px;
    padding: 22px 80px 20px 70px;
    font-size: 12px;
}
.error-message h3,
.success-message h3,
#flashMessage h3 {
    margin: 0 0 15px;
    padding: 0;
}
body:not(.styleguide) input[type="text"]:focus,
body:not(.styleguide) input[type="password"]:focus,
body:not(.styleguide) input[type="email"]:focus {
    border: 1px solid #428600;
    box-shadow: 0 1px 2px 0 #428600 inset !important;
    -moz-box-shadow: 0 1px 2px 0 #428600 inset !important;
    -webkit-box-shadow: 0 1px 2px 0 #428600 inset !important;
    outline: none;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
#captchaModal input[type="text"] {
    width: auto;
    outline: none;
}
/*** Footer ***/
#footer-bg {
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font: 400 16px/19px Arial;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-spain-bdr {
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #cccccc;
}
*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    .mobile-padding-top {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 1110px) {
    #rhombus-wrap {
        margin-left: -565px;
    }
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 0px !important;

}
.error,.no-js #mobile-vf-logo, .no-js #activation-content
{
    display: none;
}
.no-js .error
{
    display: block;
}

.message-info {
    background-size: 30px !important;
}
.message-info {
    background: url("../img/look_4/icons/status-indicators/info.png") no-repeat scroll 20px 18px #FFF5F0;
    border: 1px solid #FF5400;
    border-radius: 3px;
    padding: 22px 80px 20px 70px;
    margin-top: 20px;
}
.message-error {
    background: url("../img/look_4/icons/status-indicators/error.png") no-repeat scroll 20px 18px #fef0f0;
    border: 1px solid #e60000;
    border-radius: 3px;
    padding: 22px 80px 20px 70px;
    margin-top: 20px;
    margin-bottom: 30px;
}
input.input-error[type="text"], input.input-error[type="password"] {
    border: 1px solid #e60000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.no-margin-top{
    margin-top : 0px !important;
}
.message-info {
    background-size: 30px !important;
}
.message-info {
    background: url("../img/look_4/icons/status-indicators/info.png") no-repeat scroll 20px 18px #FFF5F0;
    border: 1px solid #FF5400;
    border-radius: 3px;
    padding: 22px 80px 20px 70px;
    margin-top: 20px;
}
.cookie-row {
    font-weight: bold;
    display: table;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.no-margin-row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.auto-width{
    width : auto !important;
}
.no-padding-left-right {
    padding-left: 0px;
    padding-right: 0px;
}

/***  login css ***/
#activation-content {
    background-color: #fff;
    margin: 0 auto 60px;
    width: 950px;
}
#activation-top {
    height: 70px;
}
.clearfix {
    *zoom: 1;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
#activation-content-left {
    float: left;
    height: 412px;
    margin-right: 50px;
    position: relative;
    width: 378px;
}
#activation-content-left > img {
    display: block;
    left: 50%;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%, 0%);
    width: 100%;
}
#activation-content-right {
    float: left;
    min-height: 412px;
    width: 492px;
}
.vdf-row.description {
    padding-bottom: 0 !important;
}
.vdf-row {
    font-weight: bold;
    display: table;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.vdf-row.description .left {
    font-weight: normal;
}
.vdf-row .left {
    display: table-cell;
}
input.max4 {
    width: 250px;
    text-align: left;

}
input[type="text"], input[type="password"] {
    -webkit-box-shadow: 0 1px 2px 0 #767676 inset;
    -moz-box-shadow: 0 1px 2px 0 #767676 inset;
    box-shadow: 0 1px 2px 0 #767676 inset;
    -webkit-appearance: none;
    border-radius: 4px;
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 14px;
    box-sizing: border-box;
    border: 1px;
    height: 39px;
}
.vdf-row + .vdf-row:not(.no-border-top) {
    border-top: solid 1px #e6e6e6;
}
.vdf-row.description + .vdf-row {
    border-top: 0px;
}
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
@media only screen and (max-width: 1023px) {
    #rhombus-logo {
        background-image: url(../img/vf-logo-new.png);
        background-size: 40px !important;
        background-position: 0 28px;
    }
    #activation-content-left {
        margin-right: 0;
        height: auto;
    }
    #activation-content-left, #activation-content-right {
        float: none;
        width: auto;
        min-height: 100px;
        padding: 10px 20px;
    }
    #activation-content-left > img {
        position: static;
        width: 35%;
        margin: 0 auto;
        transform: translate(0%, 0%);
    }
    #activation-top {
        padding: 0 20px;
        margin-bottom: 20px;
        height: auto;
    }
    #activation-content {
        width: auto;
        position: relative;
    }
    .vdf-row.description .left, .vdf-row.description .right {
        display: block;
    }
    #activation-content-right input.max4 {
        width: 100%;
    }
    .vdf-row + .vdf-row:not(.no-border-top) {
        padding-top: 0;
        border-top: 0;
    }
    #activation-content-right, #activation-content-bottom {
        width: 330px;
        margin: 0 auto;
    }
    #activation-content-wrap {
        padding-top: 120px;
    }
    * {
        -webkit-box-sizing: none !important;
        -moz-box-sizing: none !important;
        box-sizing: none !important;
    }
    .message-error {
        padding: 22px 40px 20px 70px;
    }
    #activation-top-left,
    #activation-top-right {
        float: none;
        width: auto;
        margin-right: 0;
    }
    #activation-top-left,
    #activation-top-right {
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    #activation-content-left > img {
        width: 40%;
    }
    #activation-content-right, #activation-content-bottom {
        width: auto;
        padding: 20px !important;
    }
    #activation-content-wrap {
        padding-top: 100px;
    }
    .vdf-row .left {
        margin-bottom: 20px;
    }
    /* Remote Access */

    div.remote-access #activation-top-left,
    div.remote-access #activation-top-right {
            float: none;
        width: auto;
        margin-right: 0;
        text-align: center;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
        #activation-content-right input.max4 {
        margin: 0 0 10px;
    }
}
/*modal*/
@media only screen and (max-width: 767px){
    .modal {
        padding: 0px;
    }
    .modal-content {
        min-height: 640px;
    }
    .modal-dialog {
        width: 100%;
        z-index: 999;
        padding-right: 0px;
        padding-top: 0px;
        overflow: auto;
        margin: 0px;
        margin-top:-15px;
    }
    .modal-content {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 60px;
    }
}
#loginfailure .modal-body{
    margin-bottom:30px;
}
/*IE Sneak Peak*/
input::-ms-reveal {
    display: none;
}
