@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titilliumweb.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titilliumweb_bold.woff') format('woff');
    font-weight: 600;
}

/*  COLOR PALETTE
    YELLOW:      #FFC10E,
    GRAY_DARK:   #393639
    GRAY_MEDIUM: #e5e5e4
    Dark widget BKG: #595c60
    Dark widget text: #7f858b
    Gray widget text: #9ea0a2

*/

body { font-family:"Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 400; background-color:#f5f4f4;}
h1,h2,h3,h4,h5{text-transform:uppercase; font-weight: 600;}
label {font-weight: 600;}
a, a:hover, a:active, a:focus {color: #393639;}

.blink, .blinkafter:after {
  animation: blinker .5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker { to { opacity: 0; } }

.main-container a, .main-container a:hover {
    font-weight: 600;
    text-decoration: underline;
}
a:focus {outline: none;}
a:hover {opacity: .7;}

.strong {font-weight: 600;}
.empty  {color: #aaa; }

.table>tbody>tr>td{vertical-align: middle;}
.table>thead>tr>th {border-bottom: 1px solid #393639;}
.table tr.striped{background-color: #e5e5e4;}
.table th.th-1 {width: 15px;}
.table th.th-2 {width: 30px;}
.table th.th-3 {width: 45px;}
.table th.th-4 {width: 60px;}
.table th.th-5 {width: 75px;}
.table th.th-6 {width: 90px;}
.table th.th-7 {width: 105px;}

.form-control,
button.btn.dropdown-toggle {
    border:0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e5e5e4;
    font-weight: 600;
    width: 100%;
    text-align: left;
}
.dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    min-width: 100px;
}
.dropdown-menu::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 0;
}
.dropdown-menu::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}
.dropdown-menu::-webkit-scrollbar-thumb
{
    background-color: #7f858b;
    border-radius: 4px;
    border: 1px solid #666;
}
.dropdown-menu>li>a, .dropdown-menu>li>a:hover {
    text-decoration: none;
    opacity: 1;
    font-weight: 400;
}
.spacer{clear: both; height: 15px;}
.form-control[disabled],
fieldset[disabled] .form-control {
    background-color: #e5e5e4;
    opacity: .2;
}
fieldset[disabled] .input-group-addon {opacity: .2;}
p.description[disabled]{
    opacity: .2;
}
.form-control[readonly] {
    background-color: #e5e5e4;
}
form .error{color: red;}
.btn-group.dropdown {width: 100%;}
.btn-group.dropdown .dropdown-toggle > .caret {position: absolute; right: 10px; top:50%; margin-top: -2px;}

fieldset[disabled] label,
fieldset.disabled label,
.btn.disabled,
.btn[disabled],
fieldset[disabled] p,
fieldset[disabled] .btn,
.form-group.disabled .btn-group,
fieldset[disabled] table,
fieldset.disabled table { opacity: .2;}
fieldset *, .btn{transition: all .15s ease;}
.no-animate, .no-animate *, .table tr, .table td{transition: none;}
fieldset .form-group p { padding-top: 10px;}
fieldset .form-group p.form-control-static { padding-top: 7px;}
fieldset .form-group p small{ font-size: 12px; line-height: 1.3;}
.form-horizontal .button-container {text-align: right; margin-bottom: 30px;}
.disabled .device,
.form-group.disabled{opacity: .2;}
.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(245,203,9,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(245,203,9,.6);
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: none;}
.btn-default,.btn-default:focus, .btn-default:active, .btn-default:hover {
    color: #FFC10E;
    border: 2px solid #FFC10E;
    background-color: transparent;
    font-weight: 600;
}
.btn-default:active:focus, .btn-default:active:hover, .no-touch .btn-default:hover, .btn-default.primary {
    color: #ffffff;
    background-color: #FFC10E;
    border: 2px solid #FFC10E;
}
.btn-default:active:hover {
    color: #f5f4f1;
}
.btn.btn-toggle {
    background: #e5e5e4;
    padding: 0;
    height: 34px;
    width: 60px;
    line-height: 20px;
    font-size: 20px;
    position: relative;
    box-shadow:none;
}
.btn.btn-toggle:after {
    content: ' ';
    display: block;
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #858588;
    left: 4px;
    top: 50%;
    margin-top: -11px;
    border-radius: 4px;
    border: 1px solid rgba(245, 245, 245, .7);
    transition: all .15s ease;
}
.btn.btn-toggle.focus, .btn.btn-toggle:active.focus, .btn.btn-toggle:active:focus, .btn.btn-toggle:focus {
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(245,203,9,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(245,203,9,.6);
}
.btn.btn-toggle.active.focus, .btn.btn-toggle.active:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(245,203,9,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(245,203,9,.6);
}
.btn.btn-toggle.active:after {
    background-color: #FFC10E;
    left: 30px;
}

.btn.btn-checkbox {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #595c60;
    box-shadow: none;
}
.btn.btn-checkbox.active{
    background-color: #FFC10E;
    border-color: #FFC10E;
    box-shadow: none;
}
.input-group-addon:first-child {
    border-right: 0;
    border: 0;
    background-color: #4e4e4e;
    color: #fff;
}

.no-wrap {white-space: nowrap;}
.break-all {word-break: break-all};

.autolist_el:before{content: ", "; padding-right: 6px;}
.autolist_el:last-child:before{content: ""; padding-right: 0;}
.autolist_el:nth-child(1):before{content: ""; padding-right: 0;}
.autolist_el:nth-child(2):before{content: ""; padding-right: 0;}

.navbar {text-transform: uppercase; font-weight: 400; letter-spacing: 1px;}
.navbar-right {padding-right: 20px;}
.navbar-inverse {background-color: #595c60; border: 0;}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #c1c0c1;
}
.navbar .subnav-container li>a {color: #949494; }
.navbar-inverse .navbar-nav>li>a:hover,
.navbar .subnav-container li>a:hover {
    color: #fff;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #393639;
}
.navbar a.navbar-brand {color: #FFC10E; font-size: 14px;}
.navbar-brand {
    padding-left: 60px;
    background-image: url(img/logo_fw.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
}
.navbar a.navbar-brand,
.navbar .dropdown
{
    border-right: 2px solid #393639;
}
.navbar-right li {
    border-left: 2px solid #393639;
}
.navbar-right .user-actions li{border-left: 0;}
.navbar-right .user-actions a{padding-bottom: 10px;}
.navbar-right .user-actions .dropdown-menu {
    width: auto;
}
.navbar-nav>li>.dropdown-menu  {
    margin-left: -2px;
}
.navbar .ico {
    display: inline-block;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-size: 100%;
    background-position: center center;
    margin-right: 12px;
}
.navbar .ico-support {
    background-image: url(img/support.svg);
}
.navbar .ico-profile {
    background-image: url(img/profile.svg);
}
.navbar .ico-profile2 {
    background-image: url(img/profile2.svg);
}
.navbar-right>li>a {display: inline-block;}
.navbar .subnav-container {background-color: #393639; text-transform: uppercase; font-size: 16px;}
#subnavbar, #subnavbar>li {float: none; display: inline-block;}

.navbar .mobile-user-menu{
    float: right;
    margin: 8px 10px;
    position: relative;
    border: 0;
}
.navbar .mobile-user-menu .dropdown-menu{
    min-width: 180px;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: 0;
    top: 42px;
    left: auto;
    right: -12px;
    background: #393c3f;
    overflow: visible;
}
.navbar .mobile-user-menu .dropdown-menu li{border-top: 1px #a1a3a5 solid; overflow: visible;}
.navbar .mobile-user-menu .dropdown-menu li:first-child:after{
    content: " ";
    border-top: 1px #a1a3a5 solid;
    border-left: 1px #a1a3a5 solid;
    background: #393c3f;
    width: 12px; height: 12px;
    position: absolute;
    top: -6px;
    right: 22px;
    transform: rotate(45deg);
}
.navbar .mobile-user-menu .dropdown-menu a,
.navbar .mobile-user-menu .dropdown-menu a:hover{color: #a1a3a5; background: #393c3f; padding: 1.6em 0 1em 1.5em;}
.navbar .mobile-user-menu .ico-profile2{width: 30px; height: 30px; margin-right: 0;}

.container-inner {padding-top: 110px; padding-bottom: 200px;}
.main-container {padding-left:0; padding-right: 0;}
.subnav-container .navbar-nav li.active a,
.subnav-container .navbar-nav li.active a:focus,
.subnav-container .navbar-nav li.active a:hover {
    color: #FFC10E;
    border-bottom: 4px solid #FFC10E;
    background-color: transparent;
    position: relative;
}
@media (min-width: 768px) {
    .subnav-container .navbar-nav li.active a:after {
        display: inline-block;
        background-color: #FFC10E;
        width: 100%;
        height: 1px;
        position: absolute;
        content: ' ';
        bottom: -2px;
        left: 0;
        box-shadow: 0 1px 10px 3px rgba(255, 193, 14, 0.4);
    }
}
.subnav-container .navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px;
}
.subnav-container .navbar-nav>li>a {
    padding: 8px 2px 6px;
    line-height: 1;
}

.main-loader {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 30%;
}

.panel,
.panel .panel-heading {
    border-radius:0;
}
.panel>.panel-heading {
    background-color: #393639;
    color: #f5f4f4;
    border: 0;
}
.panel-title{
    text-transform: none;
    letter-spacing: 1px;
}
.panel-default>.panel-body {
    background-color: #ffffff;
    color: #393639;
    min-height: 180px;
}
.panel-widget>.panel-body {
    background-color: #595c60;
    color: #f5f4f4;
    min-height: 180px;
}
.toc {position: fixed; letter-spacing: 1px; width: auto;}
.toc ul {
    list-style: none;
    padding-left: 0;
    margin-right: 45px;
}
.toc ul li{margin-bottom: 10px;}
.toc a {font-weight: 400; color: #393639; font-size: 15px; line-height: 1.5;}
.toc .active a {font-weight: 600;}
.toc a:hover {opacity: .5;}
.toc a:active, a:hover, a:focus {text-decoration: none;}

.input-group .pwd-toggle, .input-group .btn.pwd-toggle {
    display: inline-block;
    background-color: #e5e5e4;
    width: 50px;
    height: 34px;
    background-image: url(./img/eye.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 42%;
    margin-left: 0;
}
.input-group .pwd-toggle.active {
    background-image: url(./img/eye-active.svg);
    background-color: rgba(255, 193, 14, 0.69);
}
.input-group span.pwd-toggle.active {
    background-image: url(./img/eye-active.svg);
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
span.form-control {
    background-color: transparent;
    padding-left: 0;
    font-weight: 600;
    color:#393639;
    padding-top: 8px;
}
/* invalid and not "touched" */
.ng-invalid.ng-touched {
    border: 1px solid #a02e2e;    
}

/* when user tries to submit and invalid form, all invalid fields become highlighted */
form.ng-submitted .ng-invalid {
    border: 1px solid #a02e2e;
}


.panel.panel-body {
    margin-top: -20px;
}

.icon-bullet {
    display: inline-block;
    background-color: #d8d8d8;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 15px;
}

.icon-bullet.active {
    background-color: #FFC10E;
}

.icon-bullet.inactive, .icon-bullet.off {
    background-color: #FF0000;
}

#online_devices .summary{
    border-top:0;
}
#online_devices .summary div.small{
    padding-left: 30px;
}

/* MOBILE < 767px */
@media (max-width: 767px) {
    .toc-container {
        position: fixed;
        left: 0;
        right: 0;
        top:50px;
        z-index: 999;
        background-color: #383c44;
    }

    .toc {
        position: static;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }

    .toc ul {
        margin-bottom: 0;
    }

    .toc li{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 3px;
    }

    .toc a {
        color: #fff;
        font-size: 14px;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 1.8;
    }
    .toc a:hover {opacity: 1;}
    .toc .active a {
        color: #FFC10E;
        font-weight: 400;
    }

    .toc .active {
        border-bottom: 3px solid #FFC10E;
    }
}

/* ************************************** */
/* Mandatory CSS required for ng-sortable */
/* ************************************** */

.as-sortable-item, .as-sortable-placeholder {
    display: block;
}

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
    /* to disable context menu on iOS devices */
    -webkit-touch-callout: none;
}

.as-sortable-item-handle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.as-sortable-placeholder {
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.as-sortable-hidden {
    display: none !important;
}

.as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ******************************************* */
/* Optional CSS, default style for ng-sortable */
/* ******************************************* */

.as-sortable-placeholder {
    border: 1px dashed #393639;
    box-sizing: border-box;
    background-color: #e5e5e4;
    margin-bottom: 20px;
}

.as-sortable-drag {
    opacity: .8;
}

.badge{
    background-color: #FFC10E !important;
    border-radius: 3px !important;
    color: #393639;
    padding: 0 3px;
    line-height: 1.3;
    margin-left: 3px;
    font-size: 83%;
}

.list {
    list-style-type: none;
    padding: 0;
}
.list li {
    border-bottom: 1px solid #e5e5e4;
    padding: 5px 0;
}
.list li:last-child {
    border-bottom: 0;   
}

/* ******************************************* */
/*    Modal windows                            */
/* ******************************************* */

.modal-dialog .modal-content {
    border-radius: 0;
}
.modal-dialog .modal-header,
.modal-dialog .modal-footer {
    border: 0;
}
.modal-dialog .modal-title {
    color: #FFC10E;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
}

.countdown {
    font-size: 86px;
    line-height: 1;
}
.countdown .small{
    font-size: 18px;
    font-weight: 600;
}

.countdown-expired {
    font-size: 18px;
}
.countdown-expired a {
    text-decoration: underline;
}
/**/
@keyframes loadingDataAnimation {0% { opacity:.1;} 60% { opacity:.6;}  100% { opacity:.1;}}
.loading-data {
    opacity:.1;
    animation: loadingDataAnimation 1.4s infinite ease;
}

/* Loader */
/* Markup <div class="loader"><span class="scroller"></span></div> */
@keyframes loadingAnimation {0% { left:-50%;} 50% { width: 100%;}  99.98% {opacity:1;} 99.99% {opacity:0; left:100%;} 100% {opacity:0; left:-50%; }}

.loader {background: #FFC10E; width: 100%; max-width: 400px; height: 12px; margin-top: 11px; position: relative; overflow: hidden; display: inline-block;}
.loader:after{
    content: "";
    position: absolute;
    top: 0px; right: 0;
    border-width: 12px 11px 0 0; border-style: solid; border-color: transparent #f5f4f4;
    display: block;
    width: 0;
}
.loader .scroller{
  height: 12px; display: block; position: absolute; left: -50%; top:0;
  width: 0%; background: #393639; content: " ";
  animation: loadingAnimation 2s infinite ease;
}

.panel-body .loader:after, .modal-body .loader:after {border-color: transparent #fff;}

.scroller:after,
.scroller:before{    
    content: ""; position: absolute;
    top: 0px; right: 0;
    border-width: 12px 11px 0 0; border-style: solid; border-color: transparent #FFC10E;
    display: block; width: 0;
}
.scroller:before{
    left: 0; right: auto;
    border-width: 0 0 12px 12px;
}

.no-cssanimations .loader {background-color: transparent; background-image: url(img/loading.gif); background-repeat:no-repeat; background-size:contain;}
.no-cssanimations .loader .scroller,
.no-cssanimations .loader:after {display: none;}

.hide-loading-message .loader-wrapper p {display: none;}
.page-loading .loader-wrapper{padding-top:200px; text-align: center; }

/* tabs */
.nav-tabs{border-bottom: 1px solid #393639;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{border: 0;border-bottom: 4px solid #393639;}
.nav-tabs>li>a{text-decoration: none; transition: none; border: 0; padding: 3px 1px;}
.nav-tabs>li>a:hover{background-color: transparent;border: 0;}
.nav-tabs>li{cursor: pointer; float: left; margin-right: 20px; display: inline-block;}
.nav-tabs>li:last-child{float:right; margin-right: 4px;}


.fixed-height {overflow-y: auto; max-height: 200px;}

.fixed-height::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 0;
}

.fixed-height::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.fixed-height::-webkit-scrollbar-thumb
{
    background-color: #7f858b;
    border-radius: 0;
}

.actions-botton
{
   border-left: 1px solid #595c60; 
   margin-top: -10px;
   margin-bottom: -10px;
   height: 37px;
   position: relative;
}

.actions-botton span{
    height: 25px;
    width: 25px;    
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
}

.actions-botton .icon-actions-sorting
{
    background-image: url(img/icon-sorting.svg);
    
    
}
.actions-botton .icon-actions-link
{
    background-image: url(img/icon-right-right.svg);    
}

.panel-widget .link
{
    color: #7f858b;
}

a.icon.icon-delete{cursor: pointer;}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.nav_helper {
    min-height: 800px;
    min-height: 80vh;
}

.ico-wps:after {
    font-weight: bold;
    border: 1px solid #666;
    padding: 0 4px;
    border-radius: 3px;
    font-family: arial;
    margin: 0 2px 0 4px;
    content: '+';
}