/**************** Overview Content CSS ****************/
.oh1of3 {
    text-align: center;
    line-height: 60px;
}
.overview-headline {
    color: #00b0ca;
    font-size: 26px;
}
.overview-headline span,
.overview-headline-number span {
    font-weight: 200;
}
.overview-headline-number span {
    font-family: "VodafoneLtRegular";
    font-size: 56px;
}
.row-overview {
    height: 50px;
    line-height: 50px;
    padding-left: 55px;
    position: relative;
}
.greyBackground {
    background-color: #f7f7f7 !important;
    font-weight: bold !important;
}
.icon-schedule {
    background: url("../img/look_4/overview/schedule.png") no-repeat scroll 20px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-sharing {
  background: url("../img/look_4/overview/arrows.png") no-repeat scroll 18px center;
}
.oh2of3 {
    text-align: center;
    line-height: 60px;
}
.oh3of3 {
    text-align: center;
    line-height: 60px;
}
.icon-wps {
    background: url("../img/look_4/overview/wps.png") no-repeat scroll 18px center;
    background-size: 30px;
    background-position: 13px center;
}
.divider {
    border-bottom: 1px solid #cccccc;
    margin-left: 20px;
    margin-right: 20px;
}
.overview-headline,
.overview-headline-number {
    color: #00b0ca;
    font-size: 26px;
    height: 60px;
}
.overview-headline {
    border-bottom: 1px solid #cccccc !important;
}
.icon-console-with-wifi {
    background: url("../img/look_4/overview/game.png") no-repeat scroll 13px center;
    background-size: 30px;
}
.icon-laptop-with-wifi {
    background: url("../img/look_4/overview/laptop.png") no-repeat scroll 13px center;
    background-size: 30px;
}
.icon-smartphone-with-wifi {
    background: url("../img/look_4/overview/smartphone.png") no-repeat scroll 13px center;
    background-size: 30px;
}
.icon-playstation-with-wifi {
    background: url("../img/look_4/device-icons/playstation.png") no-repeat scroll 13px center;
    background-size: 30px;
}
.icon-printer-with-wifi {
    background: url("../img/look_4/device-icons/printer.png") no-repeat scroll 13px center;
    background-size: 30px;
}
.icon-router-with-wifi {
    background: url("../img/look_4/device-icons/vox.png") no-repeat scroll 13px center;
    background-size: 30px;
}
.icon-tablet-with-wifi {
    background: url("../img/look_4/overview/tablet.png") no-repeat scroll 13px center;
    background-size: 30px;
}
.icon-tv-with-wifi {
    background: url("../img/look_4/overview/tv.png") no-repeat scroll 13px center;
    background-size: 30px;
}
.halfLineHeight {
    padding-top: 4px;
    line-height: 46px !important;
    height: 46px !important;
}
.smallArrow {
    font-size: 14px;
    padding-left: 45px;
    background: url("../img/look_4/overview/icon-small-arrow.png") no-repeat scroll 20px center;
}
.smallArrowUp {
    font-size: 14px;
    padding-left: 45px;
    background: url("../img/look_4/overview/icon-small-arrow-up.png") no-repeat scroll 20px center;
}
.icon-console {
    background: url("../img/look_4/overview/game.png") no-repeat scroll 16px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-laptop {
    background: url("../img/look_4/overview/laptop.png") no-repeat scroll 15px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-smartphone {
    background: url("../img/look_4/overview/smartphone.png") no-repeat scroll 21px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-playstation {
    background: url("../img/look_4/device-icons/playstation.png") no-repeat scroll 16px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-printer {
    background: url("../img/look_4/device-icons/printer.png") no-repeat scroll 16px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-router {
    background: url("../img/look_4/device-icons/vox.png") no-repeat scroll 16px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-tablet {
    background: url("../img/look_4/overview/tablet.png") no-repeat scroll 16px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-tv {
    background: url("../img/look_4/overview/tv.png") no-repeat scroll 16px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-u1 {
    background: url("../img/look_4/overview/u1.png") no-repeat scroll 20px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-u2 {
    background: url("../img/look_4/overview/u2.png") no-repeat scroll 20px center;
    background-size: 30px;
    background-position: 13px center;
}
.icon-hard-drive-new {
  background: url("../img/look_4/overview/hard-drive.png") no-repeat scroll center;
  background-size: 30px;
  background-position: 13px center;
}
.new-overview-row-wrap {
  border-top: 1px solid #cccccc;
}
.new-overview-row-wrap.last {
  border-bottom: 1px solid #cccccc;
}
.foldable-container-title {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.op40 {
    opacity: 0.4;
    pointer-events: none;
}
.op40 {
    opacity: 0.4;
    pointer-events: none;
}
.divider-full {
    border-bottom: 1px solid #cccccc;
}
.subHeadline {
    font-size: 20px;
    color: #00b0ca;
    margin-top: 50px;
}
.showIpAddressDetails {
    color: #666e00;
    cursor: default;
}
#language-info {
    color: #999999;
    font-size: 14px;
}
/* .arrow_box {

    display: none;
} */
#overview .popover.bottom > .arrow::after {
    border-bottom-color: #4a4d4e;
}
#overview .popover.top > .arrow::after {
    border-top-color: #4a4d4e;
}
#overview .popover.right > .arrow::after {
    border-right-color: #4a4d4e;
}
#overview .popover.right,  #overview .popover.bottom {
    min-width: 345px !important;
}
#overview .popover.right{
    left: 180px !important;
}
#overview .popover.bottom {
    left: 52.5px !important;
}
#overview .popover.bottom  > div.arrow{
    left: 19.1% !important;
}
#overview .popover.left > .arrow::after {
    border-left-color: #4a4d4e;
}
#overview .popover {
    word-break: break-all;
    width: 100%;
    background: #4a4d4e;
    border: 1px solid #4a4d4e;
    color: #ffffff;
    z-index: 998;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
.overview-text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.overview-text-width {
	width: 60%;
}
.overview-text-normal {
	font-weight: normal !important;
	line-height: 43px !important;
}
.overview-image-top-left {
    position: relative;
    height: 191px;
}
.overview-top-left-status.Up {
    background: #AAB501;
}
.overview-top-left-status.Error {
    background: #e60000;
}
.overview-top-left-status.NoSignal {
    background: #808080;
}
.overview-image-top-left .overview-top-left-status {
    position: absolute;
    bottom: 50px;
    right: 61px;
    border: 1px solid;
    border-radius: 15px;
    padding: 4px 12px;
    width: auto;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
.overview-image-top-left .overview-top-left-status .line {
    position: absolute;
    top: 50%;
    right: -67px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
a {
    text-decoration: none;
}
.overview-image-top-left .overview-top-left-status {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
.router-rectangle {
    height: 155px;
    margin-left: 25px;
    position: absolute;
    width: 155px;
}
.edit-btn-row .info-button {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 55px;
    cursor: pointer;
    background-image: url('../img/look_4/icons/icon_info.png');
    background-size: contain;
}
img, a, a:hover, a:focus, a:active, a:visited {
	outline: none;
}
.edit-btn-row {
    margin-bottom: 20px;
	height: 30px;
}
#overview {
/*     font-size: 14px;

    padding-bottom: 30px;
	margin-top: -3px; */
}
#overview span.language-string {
    font-weight: normal;
}
.icon-wrapper {
    margin-top: 12px;
}
.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}
#editOverviewModal .icon-wrapper .icon {
    width: 35px;
    float: left;
    padding-right: 5px;
    cursor: pointer;
    margin-right: 5px;
}
.icon-wrapper .icon.active .black {
    display: none;
}
#editOverviewModal .icon-wrapper .icon .black img,
#editOverviewModal .icon-wrapper .icon .red {
    width: 100%;
    height: auto;
}
/*#editOverviewModal .icon-wrapper .icon .black img,
#editOverviewModal .icon-wrapper .icon .red img {
    width: 100%;
    height: auto;
}*/
#editOverviewModal .icon-wrapper .icon.active .red {
    display: block;
}
#editOverviewModal .icon-wrapper .icon .red {
    display: none;
}
#editOverviewModal .icon-wrapper .icon .red img {
    width: 100%;
    height: auto;
}
.col-xs-12.col-md-12.col-sm-12.col-lg-12.no-padding-left-right.text {
    margin-top: 7px;
}

/* Override the footerfooter class as per spec */
.modal-footer-overview {
    border-top: 1px solid #e6e6e6;
    margin-top: 30px;
    padding: 20px 0px 0px 0px;
    text-align: right;
}

.message-arrowbox-overview {
    background: url("../img/look_4/icons/status-indicators/info.png") no-repeat scroll 20px 9px #fff5f0;
    border: 1px solid #ff5400;
    height: auto;
    padding: 15px 30px 20px 60px;
    position: relative;
    width: 272px;
    background-size: 30px;
    float: left;
    margin-top: -7px;
}

.message-arrowbox-overview:after,
.message-arrowbox-overview:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.message-arrowbox-overview:before {
    border-color: rgba(255, 84, 0, 0);
    border-left-color: #FF5400;
    border-width: 11px;
    margin-top: -11px;
}
.message-arrowbox-overview:after {
    border-color: rgba(255, 245, 240, 0);
    border-left-color: #FFF5F0;
    border-width: 10px;
    margin-top: -10px;
}
input.button.button-edit:hover {
    background-color: #FFF;
    cursor: pointer;
    -moz-box-shadow: rgba(0, 0, 0, 0);
    -webkit-box-shadow: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0);
}
input.button.button-edit:active {
    background-color: #FFF;
    cursor: pointer;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0) inset;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0) inset;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0) inset;
}

/*** dns validation popover indication ***/

.in-valid-input {
    box-shadow: 0 1px 2px 0 #e60000 inset !important;
    -moz-box-shadow: 0 1px 2px 0 #e60000 inset !important;
    -webkit-box-shadow: 0 1px 2px 0 #e60000 inset !important;
}
div.overview-headline a {
    outline: none;
}
div.overview-headline a:focus, div.overview-headline a:hover {
    color: #00b0ca;
}

.dsl-box-right {
	width: 60%;
}
.dsl-box-left {
	width: 40%;
}
.divider {
    border-bottom: 1px solid #cccccc;
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen and (max-width: 1024px) {
    #overview .popover.right,  #overview .popover.bottom {
        min-width: 100% !important;
    }
    #overview .popover.bottom {
        left: 17.5px !important;
    }
	.dsl-box-right {
		width: 64%;
	}
	.dsl-box-left {
		width: 36%;
	}
}
@media only screen and (max-width: 767px) {
	.modal-content {
		min-height: 1024px;
    }
	.mobile-cancel-popup {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 50px;
		height: 50px;
		background-image: url('../img/look_4/icons/close-icons/close_mobile_popup.png');
		background-size: 18px;
		background-position: 15px;
		background-repeat: no-repeat;
		cursor: pointer;
		z-index: 9999;
	}
	#content.content-overview .columns .content-slider .arrow_box {
		width: 100%;
		font-size: 13px;
	}
  .no-mobile {
        display: none !important;
    }

}
/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
	.overview-text-width {
		width: 48%;
	}
}
@media only screen and (min-width: 768px) {
	#overview div.wifi-list .popover.bottom, #overview div.phonelist .popover.bottom {
		left: 4.5px !important;
	}
	#overview-page {
/*		padding-left: 20px;
		padding-right: 20px;*/
		padding-bottom: 30px;
	}
	.c3of3 div.overview-headline.overview-number span {
		padding-left: 15px
	}
	.c3of3 div.overview-headline.overview-number span {
		padding-left: 20px
	}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
	#content-reset-wrap1 .overview-image-bottom-center img {
		width: 100%;
	}
}


/***  new overview changes ***/
.overview-image-container span {
    line-height: normal;
}
span.downspeed, span.upspeed {
    font-weight: initial;
    line-height: normal;
}
.overview-image-top-left {
  position: relative;
  width: 384px;
  height: 191px;
}
.overview-image-top-left .overview-top-left-status {
  position: absolute;
  bottom: 50px;
  right: 61px;
  border: 1px solid;
  border-radius: 15px;
  padding: 4px 12px;
  width: auto;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
.overview-image-top-left .error-wrapper{
  position: absolute;
  bottom: 20px;
  right: 86px;
  width: 96px;
}
.overview-image-top-left .error-wrapper .icon-error{
  background: url(../img/look_4/icons/status-indicators/error.png) left center / contain no-repeat scroll;
  height: 15px;
  width: 15px;
  float: left;
}
.overview-image-top-left .error-wrapper .no-ip-text {
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  float: right;
}
.overview-image-top-left .overview-top-left-status .line {
  position: absolute;
  top: 50%;
  right: -67px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.overview-image-top-left .overview-top-left-status.okay {
  background: #AAB501;
}
.overview-image-top-left .overview-top-left-status.bad {
  background: #E60000;
}
.overview-image-top-left .overview-top-left-status .line {
    position: absolute;
    top: 50%;
    right: -67px;
    transform: translateY(-50%);
}
#subnavigation .nav-item-page-alias-ipv6-basic-configuration a {
  line-height: 25px;
}
#subnavigation .nav-item-page-alias-access-control-list.active a {
  line-height: 20px;
}
.lang-es #subnavigation .nav-item-page-alias-energy-settings a {
  line-height: 25px;
}
.lang-es #subnavigation .nav-item-page-alias-diagnostic-utility.active a {
  line-height: 25px;
}
.status-service-indicator,
.status-service-indicator {
  display: none;
}
.status-service-indicator:before,
.status-service-indicator:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}
.status-service-indicator.status-service-off:before,
.status-service-indicator.status-service-off:before {
  background: #E60000;
}
.status-service-indicator.status-service-on:before,
.status-service-indicator.status-service-on:before {
  background: #AAB501;
}
#subnavigation .nav-item-page-alias-ipv6-basic-configuration a {
  line-height: 23px;
}
.router-rectangle {
  height: 155px;
  margin-left: 25px;
  position: absolute;
  width: 155px;
}
@media only screen and (min-width: 1024px) {
  .overview-image-top-left {
    width: 40% !important;
    float: left;
  }
}
.overview-image-top-right {
  width: 50%;
  float: left;
  position: absolute;
  top: 19px;
  left: 65%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@-moz-document url-prefix(){
    .overview-image-top-right {
        top: 0px;
    }
}
@media (-webkit-min-device-pixel-ratio: 0) {
    .overview-image-top-right {
        top: -19px;
    }
}
/* =============================================
Overview
================================================ */
.ip-address-container {
  bottom: 0;
  left: 0;
  margin-bottom: 38px;
  margin-left: 225px;
  position: absolute;
}
.arrow_box {
  position: absolute;
  background: #4a4d4e;
  border: 4px solid #4a4d4e;
  color: #ffffff;
  left: 150px;
  top: -24px;
  z-index: 99;
  display: none;
  padding: 8px;
  width: 345px;
}
.arrow_box:after,
.arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(244, 244, 244, 0);
  border-right-color: #4a4d4e;
  border-width: 15px;
  margin-top: -15px;
}
.arrow_box:before {
  border-color: rgba(244, 244, 244, 0);
  border-right-color: #4a4d4e;
  border-width: 15px;
  margin-top: -15px;
}
.showIpAddressDetails {
  color: #666e00;
  cursor: default;
}
.columnContent a {
  position: relative;
}
.overview-icon {
  height: 19px;
  padding-right: 5px;
}
.error-icon-ov {
  top: 100px;
  position: absolute;
  left: 590px;
  font-size: 12px;
}
.inactive-icon-ov {
  top: 135px;
  position: absolute;
  left: 590px;
  font-size: 12px;
}
.router-rectangle {
  height: 155px;
  margin-left: 25px;
  position: absolute;
  width: 155px;
}
.top-router-image {
  background: url("../img/look_4/overview/vox-2.5-804.jpg") no-repeat scroll 18px center transparent;
  height: 574px;
  width: 191px;
  float: right;
}
.top-router-left-image {
  background: url("../img/look_4/overview/overview-background-top-left-vdsl.jpg") no-repeat scroll 18px center transparent;
  height: 384px;
  width: 191px;
}
.top-router-lines {
  background: url("../img/look_4/overview/overview-background-bot.jpg") no-repeat scroll 18px center transparent;
  height: 958px;
  width: 129px;
}
.overview-headline {
  color: #00b0ca;
  font-size: 26px;
  border-bottom: 1px solid #cccccc !important;
  height: 60px;
}
.overview-number {
  border-bottom: 0px solid #cccccc !important;
  font-size: 56px;
}
.column.c1of3 {
  padding-left: 0px;
}
.column.c3of3 {
  padding-right: 0px;
}
.column.c4of3.usblist {
  padding-right: 0px;
}
.column.c1of2 {
  margin-left: 110px;
  padding-left: 20px!important;
  padding-right: 20px!important;
}
.column.c2of2 {
  float: right;
  margin-right: 110px;
  padding-left: 20px!important;
  padding-right: 20px!important;
}
.oh1of3 {
  text-align: center;
  line-height: 60px;
}
.oh2of3 {
  text-align: center;
  line-height: 60px;
}
.oh3of3 {
  text-align: center;
  line-height: 60px;
}
.columns {
  font-size: 14px;
}
.column {
  float: left;
}
.added-phone {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.removed-phone {
  width: 33%;
  padding-left: 50px;
  padding-right: 50px;
}
.phonelist.added-phone{
	display: block;
}
.phonelist.removed-phone{
	display: none;
}
.subHeadline {
  font-size: 20px;
  color: #00b0ca;
  margin-top: 50px;
}
.greyBackground {
  background-color: #f7f7f7 !important;
  font-weight: bold;
}
.halfLineHeight {
  padding-top: 4px;
  line-height: 18px !important;
  height: 46px !important;
}
.row-overview {
  height: 50px;
  line-height: 50px;
  padding-left: 55px;
  position: relative;
}
div.row-overview div.center-wrapper span.text-wrap {
	font-weight: normal;
}
div.arrow_box span, div.foldable-container-title span {
	font-weight: normal;
	line-height: normal;
}
/* ==========================================
   Site Specific - Overview
   ========================================== */
/*
    font-family: 'VodafoneRgRegular';
    font-family: 'VodafoneRgBold';
    font-family: 'VodafoneLtRegular';
*/
#content-reset-wrap1 .edit-btn-row {
  margin-bottom: 20px;
}
#content-reset-wrap1 .edit-btn-row:after {
  clear: both;
  display: block;
  content: "";
}
#content-reset-wrap1 .edit-btn-row .info-button {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 55px;
  cursor: pointer;
  background-image: url('../img/look_4/icons/button-info-desktop.png');
  background-size: contain;
}
#content-reset-wrap1 .edit-btn-row .button-right, #content-reset-wrap1 .mobile-btn-row .button-right {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 10px;
  cursor: pointer;
  background-image: url('../img/look_4/buttons/button-right.png');
  background-size: contain;
}
#content-reset-wrap1 .text-wrap {
  margin-right: 15px;
}
#content-reset-wrap1 .center-wrapper {
  height: 46px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 0;
  display: block;
  line-height: 43px;
}
#content-reset-wrap1 .row-overview {
  padding-right: 25px;
}
#content-reset-wrap1 .row-overview.active-info .arrow_box {
  display: block;
}
#content-reset-wrap1 .row-overview.active-info .arrow_box {
  left: 0;
  right: 0;
  top: calc(100% + 35px);
}
#content-reset-wrap1 .row-overview.active-info .arrow_box:after {
  display: none;
}
#content-reset-wrap1 .row-overview.active-info .arrow_box:before {
  top: 11px;
  background: #4a4d4e;
  left: 66px;
  width: 25px;
  height: 25px;
  z-index: -1;
  -webkit-transform: translate(-50%) rotate(45deg);
  -moz-transform: translate(-50%) rotate(45deg);
  -o-transform: translate(-50%) rotate(45deg);
  -ms-transform: translate(-50%) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
}
#content-reset-wrap1 #editOverviewModal .icon-row,
#content-reset-wrap1 #editOverviewModal .name-row {
  margin-top: 28px;
  font-weight: bold;
}
#content-reset-wrap1 #editDevice .icon-row,
#content-reset-wrap1 #editDevice .name-row {
  margin-top: 30px;
  font-weight: bold;
}
#content-reset-wrap1 #editDevice .icon-wrapper {
  margin-top: 15px;
}
#content-reset-wrap1 #editDevice input[type=text] {
  margin-top: 10px;
}
#content-reset-wrap1 #editDevice .icon-wrapper .icon {
  width: 42px;
  float: left;
  padding-right: 5px;
  cursor: pointer;
}
#content-reset-wrap1 #editDevice .icon-wrapper .icon .black,
#content-reset-wrap1 #editDevice .icon-wrapper .icon .red {
  width: 100%;
}
#content-reset-wrap1 #editDevice .icon-wrapper .icon .black img,
#content-reset-wrap1 #editDevice .icon-wrapper .icon .red img {
  width: 100%;
  height: auto;
}
#content-reset-wrap1 #editDevice .icon-wrapper .icon .red {
  display: none;
}
#content-reset-wrap1 #editDevice .icon-wrapper .icon.active .red {
  display: block;
}
#content-reset-wrap1 #editDevice .icon-wrapper .icon.active .black {
  display: none;
}
@media only screen and (min-width: 768px) {
	.downspeed {
		left: 70%;
		position: absolute;
		top: 100px;
		font-family: "VodafoneLtRegular";
	}
	.upspeed {
		left: 70%;
		position: absolute;
		top: 135px;
		font-family: "VodafoneLtRegular";
	}
	#content-reset-wrap1 .no-mobile {
		display: block;
	}
	#content-reset-wrap1 .mobile {
		display: none;
	}
	#content-reset-wrap1 .button-edit.edit-wifi-device {
		float: left;
		margin-left: 10px;
	}
	#content-reset-wrap1 .overview-image-container .overview-image-top-left {
		width: 39%;
	}
	#content-reset-wrap1 .overview-image-top-left .overview-top-left-status.okay.dsl, #content-reset-wrap1 .overview-image-top-left .overview-top-left-status.okay.dsl {
		right: 142px;
	}
	#content-reset-wrap1 .overview-image-top-left .overview-top-left-status.okay.dsl .line, #content-reset-wrap1 .overview-image-top-left .overview-top-left-status.okay.dsl .line {
		right: -150px;
	}
	#content-reset-wrap1 .no-mobile {
		display: block;
	}
}
.wifi-off .overview-headline span,
.wifi-off .subHeadline span {
  color: #A8A8A8;
}
#info {
  width: 31%;
}
.router-rectangle {
    height: 155px;
    margin-left: 25px;
    position: absolute;
    width: 155px;
}
@media only screen and (max-width: 1023px) {
	#overview-page {
		padding-bottom: 30px;
	}
	div.columns.no-mobile {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
	}
	.c1of3 div.overview-headline.overview-number span {
		padding-right: 60px
	}
	.c3of3 div.overview-headline.overview-number span {
		padding-left: 60px
	}
	.new-row-overview .text {
		width: 50% !important;
	}
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  #content-reset-wrap1 .columns .column:not(:first-of-type) {
    padding-left: 20px;
  }
  #content-reset-wrap1 .columns .column:not(:last-of-type) {
    padding-right: 20px;
  }
}
@media only screen and (max-width: 767px) {
	#content-reset-wrap1 .overview-image-container .overview-image-top-left {
		height: 100px;
	}
	#content-reset-wrap1 .overview-image-container .overview-image-top-left, #content-reset-wrap1 .overview-image-container .overview-image-top-right {
		width: 100%;
	}
	#content-reset-wrap1 .overview-image-container .overview-top-left-status, #content-reset-wrap1 .overview-image-container .line-text {
		position: absolute;
		top: 50%;
	}
	#content-reset-wrap1 .no-mobile {
		display: none;
	}
	#content-reset-wrap1 .overview-image-container .line-long.okay {
		background: #AAB501;
	}
	#content-reset-wrap1 .overview-image-container .line-long.line-vertical {
		width: 1px;
		bottom: 0;
		left: 50%;
                display : none;
	}
	#content-reset-wrap1 .overview-image-container .line-long {
		position: absolute;
		top: 14px;
		transform: initial;
		background: #E60000;
	}
	#content-reset-wrap1 .mobile {
		display: block;
	}
	#content-reset-wrap1 .overview-image-container .line-text {
		margin-top: 14px;
		width: 100%;
		font-size: 14px;
		line-height: 28px;
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-o-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}
	#content-reset-wrap1 .overview-image-container .overview-top-left-status, #content-reset-wrap1 .overview-image-container .line-text {
		position: absolute;
		top: 50%;
	}
	#content-reset-wrap1 .overview-image-container .line-text span:nth-child(1) {
		text-align: right;
	}
	#content-reset-wrap1 .overview-image-container .line-text span {
		width: 50%;
		float: left;
		padding: 10px;
	}
	#content-reset-wrap1 .overview-image-container .line-text span {
		width: 50%;
		float: left;
		padding: 10px;
	}
	#content-reset-wrap1 .overview-image-container .overview-image-top-right {
		height: 133px;
		width: 133px;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
	#content-reset-wrap1 .overview-image-container .overview-image-top-right {
		position: relative;
		top: 0;
		left: 0;
	}
	#content-reset-wrap1 .overview-image-container .overview-image-top-right img {
		height: 100%;
		float: left;
	}
	#content-reset-wrap1 .overview-image-container .overview-image-bottom-center {
		display: none;
	}
	#content-reset-wrap1 .overview-image-container .overview-top-left-status {
		top: 0;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-moz-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		right: auto;
		border: 0;
		bottom: auto;
		z-index: 1;
	}
	#content-reset-wrap1 div#overview div.row-overview .arrow_box {
		width: 100%;
		font-size: 13px;
	}
        /* new overview changes */
	.new-row-overview .text {
	        width: 77% !important;
		line-height: 50px;
	}
	.row-overview:not(.greyBackground) {
		margin-top: 10px;
	}
	.new-row-overview .arrow-box:before {
		left: 57px;
	}
	#content-reset-wrap1 .row-overview.active-info .arrow_box {
		top: calc(100% + 50px);
	}
	#content-reset-wrap1 .row-overview.active-info .arrow_box:before {
		top: 8px;
		left: 73px;
	}
}
.popover-content {
	padding: 8px;
}
.content-overview {
	min-height: 0px;
}
div.arrow_box {
	word-wrap: break-word;
        line-height: normal;
}
.img-dropdown img {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
.img-dropdown.sub-row-active img {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.img-dropdown {
	cursor: pointer;
	width: 10px;
}
.hidden{
	display: none;
}

/* overview Network */
.new-row-overview {
	padding-right: 0 !important;
}
.new-row-overview:after {
	clear: both;
	display: block;
	content: "";
}
.new-row-overview .text,
.new-row-overview .img-signal,
.new-row-overview .img-dropdown {
	float: left;
}
.new-row-overview .text img,
.new-row-overview .img-signal img,
.new-row-overview .img-dropdown img {
	width: 100%;
	height: auto;
}
.new-row-overview .text {
        width: 145px;
	margin-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.column.c2of3 .new-row-overview .text.small-text {
    width: 100px;
}
.column.c1of3.column-wifi .new-row-overview .text.small-text{
    width: 100px;
}
.new-row-overview .img-signal {
	width: 22px;
	margin-top: -3px;
}
.new-row-overview .img-dropdown {
	float: right;
	cursor: pointer;
	width: 10px;
}
.new-row-overview.sub-row .icon-wrap .icon-sub-row {
	float: left;
	width: 30px;
	margin: 0 7px;
	cursor: pointer;
}
.new-row-overview.sub-row .icon-wrap .icon-sub-row img {
	width: 100%;
	height: auto;
}
/* Vox overview */
.wifi-nopadding .smallArrow {
    padding-top: 0px;
    padding-bottom: 0px;
}
/*IE Sneak Peak*/
input::-ms-reveal {
    display: none;
}
