.header { padding: 30px 0px 30px 0px;margin-bottom: 30px; }
.copyright {margin-top: 10px;}
#.modal.fade.in {top: 310px;}

.height2 {height: 386px;}
.height3 {height: 590px;}

.divtable {width: 100%;display:inline-block;position: absolute; z-index: 20;}
.index_r{width: 10px;}
.title_r{width: 150px;}
.value_r{font-weight: 900;}
.value_r_100{width: 100px;display: inline-block;}

.led_r {position: absolute;top: 1px;margin-left: 2px;}

.landing_bg {
    position: relative;
}
.landing_bg:after {
    color: #DADADA;
    font-family: FontAwesome;
    content: attr(data-bg-text);
    display: block;
    font-size: 200px;
    line-height: 1;
    position: absolute;
    bottom: -90px;
    right: 5px;
}

.card_bg {
    position: relative;
    z-index:1;
}
.card_bg:after {
    color: #EAEAEA;
    font-family: FontAwesome;
    content: attr(data-bg-text);
    display: block;
    font-size: 200px;
    line-height: 1;
    position: absolute;
    bottom: -90px;
    right: 5px;
}

.hand {cursor: pointer;}

.smallcard .header .settings{margin-left: 0px;}




.hostmaptable{width:100%;}
td th{display:table-cell;}
.center{display:block;margin-left:auto;margin-right:auto;}
.centertxt{text-align:center;font-weight:300;font-size:13px;margin-top:3px;margin-bottom:3px;width:25%;}
.centertitle{font-size:16px;font-weight:900;}
.twenty{width:20%;text-align:center;vertical-align:top;}
.twentyfive{text-align:center;vertical-align:top;}
.host{cursor:pointer;}
.wifidisabled{color:#ccc;}
.fadedtxt{color:#ccc;}
.grey{background:#ddd;}
#popUp{z-index:2500;position:absolute;color:#333333;top:30%;left: 50%; margin-left: -135px;}
.popupSelect{z-index:10000;margin:7px;display:table-cell;padding:3px 5px 0px 5px;}
.popUpBG{z-index:2000;overflow:hidden;background-color:#333333;left:0px;top:0px;position:fixed;color:#333333;width:100%;opacity:0.6;filter:alpha(opacity=60);}
#Poptxt{height:auto;}
.ctsinfoline{margin-bottom:5px;}
.hostinfoleft{width:40%;font-weight:900;vertical-align:top;display:inline-table;}
.hostinforight{width:60%;vertical-align:top;}

.loading-wrapper img{position:fixed;max-width:128px;max-height:128px;top:35%;left:45%; display:none;}
#popUpMMPBX{z-index:2500;position:absolute;color:#333333;top:25%;}
#PoptxtMMPBX {text-align: left;height: auto;}
#popUpMMPBX .header .header-title p {font-size: 15pt; margin-top: 0px;}


.scalewifi {
  position:absolute;
  color: #dddddd;
}
#scale1wifi {
  top:0px;
  left:0px
}
#scale2wifi {
  bottom:0px;
  left:0px
}

#rssivalue {
  top:0px;
  right:0px
}

#chartcontainerwifi {
  position:relative;
  background-color: #333;
  width:250px;
  height:100px;
  overflow:hidden;
  margin:auto;
  border-radius: 5px;
}
.barswifi {
  position:absolute;
  bottom:0;
  width:5px;
  background-color: #00ff00;
}


.browserstatus{
  color: #00FF00;
  margin: 5px;
  padding:3px;
  border-radius: 5px;
  background-color:#BBB;
}

#L2light{margin-bottom:5px;}
#L3light{margin-bottom:5px;}

.gwcard_lb{width: 50px;display: inline-block;margin-left: 20px;}

img.label {display: block;margin-left: auto;margin-right: auto;}