/*NG-78956 The "show advanced´" and "hide advanced" Button shall be more visible
*/
.smallcard .header {background-image: linear-gradient(to bottom, #0000fd, #000055);margin-bottom: 0px;background-color: #004691}
.smallcard .header .settings{-webkit-transition:margin .2s, opacity .5s, color .5s;-moz-transition:margin .2s, opacity .5s, color .5s;-o-transition:margin .2s, opacity .5s, color .5s;transition:margin .2s, opacity .5s, color .5s;opacity:1;width:auto;margin-right:0px;-webkit-transition-delay:0.1s;-moz-transition-delay:0.1s;-o-transition-delay:0.1s;transition-delay:0.1s;}


.switchOn {background-color: #0000fd;}
.modal-header {color: #0000fd;border-radius: 10px 10px 0 0;border-bottom: 1px solid #ddd}

.smallcard .header .settings {background-image: linear-gradient(to bottom, #0000fd, #000055);background-color: #0000fd;border: 1px solid #004691;}
.btn {color: #004691;}
.btn-primary {background-image: linear-gradient(to bottom, #0000fd, #000055);border: 1px solid #004691;color: #ffffff;}
.login {border-top: 4px solid #004691;}
.span3 {width: 300px;}

/*.row .offset4.span4 {background-color: #004691;}*/
#webui_language{background-color: #004691;color: white;}

.logo-technicolor{width:104px;height:96px;position:absolute;left:50%;margin:50px 0px 0px -65px;}
.timlogo {padding: 0px 0px 0px 10px}

@media screen and (min-width:768px) and (max-width:979px)
{
.span12{width:760px; margin-left:10px}
}

@media screen and (min-width:768px) and (max-width:979px)
{
.row{margin-left:-20px; width:768px;*zoom:1;} .span3{width:246px; margin-left:10px}
}

@media screen and (max-width: 767px)
{
	.header{padding: 30px 0px 50px 0px;margin-bottom: 20px;}
}

@media screen and (max-width: 767px)
{
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    width: 100%;

}
}

@media screen and (min-width: 1200px)
{
.span3 {
    width: 270px;
}
}