/*NG-78956 The "show advanced´" and "hide advanced" Button shall be more visible
*/
.smallcard .header {
background-image:linear-gradient(to bottom, #004691, #004691);
margin-bottom:0;
background-color:#004691;
}

.smallcard .header .settings {
-webkit-transition:margin .2s, opacity .5s, color .5s;
-moz-transition:margin .2s, opacity .5s, color .5s;
-o-transition:margin .2s, opacity .5s, color .5s;
transition:margin .2s, opacity .5s, color .5s;
opacity:1;
width:auto;
margin-right:0;
-webkit-transition-delay:.1s;
-moz-transition-delay:.1s;
-o-transition-delay:.1s;
transition-delay:.1s;
background-image:linear-gradient(to bottom, #82b9e6, #004691) !important;
background-color:#004691;
border:1px solid #004691;
}

#signal-strength-indicator-small .absolute {
margin-top: -32px !important;
margin-left: 190px !important;
}

.header {
background-color:#004691;
}

.modal-header {
color:#004691;
border-radius:10px 10px 0 0;
background-color:#ebe6e1;
border-bottom:1px solid #ddd;
}

.modal-footer {
background-color:#ebe6e1;
}

#webui_language {
width: 115px !important;
height: 36px !important; 
}

.btn {
color:#004691;
}

.btn-primary {
background-image:linear-gradient(to bottom, #82b9e6, #004691) !important;
border:1px solid #004691;
color:#fff;
}

.login {
border-top:4px solid #004691;
}

.span3 {
width:270px;
}

.modal-action i {
color:#fff;
vertical-align:0;
}

.logo-technicolor {
left:0;
box-sizing:border-box;
background-color:#004691;
width:100%;
height:auto;
margin:0;
padding:15px;
}

.timlogo {
padding:0 0 0 10px;
}

.smallcard .content,.switchOn {
background-color:#82b9e6;
}

.modal-action-advanced,.modal-action-refresh {
background-color:#08c;
color:#fff;
border-radius:5px;
padding:2px;
}

#webui_language,#signin,#logged .btn {
background-color:#004691;
color:#FFF;
}

@media screen and min-width768px and max-width979px{
.span12 {
width:760px;
margin-left:10px;
}

.row {
margin-left:-20px;
width:768px;
zoom:1;
}

.span3 {
width:246px;
margin-left:10px;
}
}

@media screen and max-width 767px{
.header {
margin-bottom:20px;
padding:30px 0 50px;
}

[class*="span"],.uneditable-input[class*="span"],.row-fluid [class*="span"] {
width:100%;
}
}

@media screen and min-width 1200px{
.span3 {
width:270px;
}
}
