/**************** Vodofone Common CSS ****************/

html {
    position: relative;
    min-height: 100%;
    background-color: #ebebeb !important;
    overflow-y: scroll;
    -ms-overflow-style: scrollbar;
}
body {
    font: 400 16px/19px Arial;
}
#footer-bg {
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font: 400 16px/19px Arial;
}
h1 {
    font-family: 'VodafoneRgRegular';
    font-size: 45px;
    color: #e60000;
    line-height: 50px;
    font-weight: normal;
}
h2 {
    font-family: 'VodafoneLtRegular';
    font-size: 30px;
    color: #333333;
    line-height: 30px;
    font-weight: normal;
}
h4 {
    font-family: 'Arial';
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    line-height: 20px;
    font-weight: normal;
}
h5 {
    font-family: 'Arial';
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    line-height: 16px;
    font-weight: normal;
}
.alert {
    font-size: 16px;
}
.alert.alert-info {
    background: #fff5f0 url("../img/look_4/icons/status-indicators/info.png") no-repeat scroll 20px 18px;
    background-size: 30px auto;
    border: 1px solid #ff5400;
    border-radius: 3px;
    margin-top: 20px;
    padding: 22px 80px 20px 70px;
}
.alert.alert-error {
    background: #fef0f0 url("../img/look_4/icons/error.png") no-repeat scroll 20px 18px;
    background-size: 30px auto;
    border: 1px solid #e60000;
    border-radius: 3px;
    margin-top: 20px;
    padding: 22px 80px 20px 70px;
}
html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
option,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-family: Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: middle;
}
b, strong {
    font-weight: bold;
}
.rel {
    position: relative;
}
a {
    text-decoration: none;
    color: inherit;
}
.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}
/**************** Header CSS ****************/

#top-bar {
    background-color: #ebebeb;
    border-bottom: 1px solid #bbb;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    font-size: 14px;
    line-height: 50px;
}
#top-bar-content {
    margin: 0px auto;
    padding-left: 80px;
    width: 950px;
}
/* ==========================================================================
   Rhombus
   ========================================================================== */

#logo {
    color: #333333;
    float: left;
    font-family: "VodafoneRgRegular";
    font-size: 22px;
    font-weight: 300;
    line-height: 54px;
}
#rhombus-navigation {
    margin: 0 auto;
    padding: 0 0 0 80px;
    width: 950px;
}
#page-rhombus-wrap {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 630px;
    pointer-events: none;
}
#rhombus-wrap {
    left: 50%;
    margin-left: -485px;
    position: absolute;
    top: 35px;
    width: 60px;
    z-index: 10;
}
#rhombus-logo {
    background-attachment: scroll;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 0px 30px;
    background-repeat: no-repeat;
    display: block;
    height: 90px;
    padding-top: 30px;
    position: relative;
    width: 60px;
    z-index: 5;
    background-image: url(../img/vf-logo-new.png);
    background-size: 60px 60px;
}
/**************** Vodafone Main Menu Nav Bar ****************/

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navigation {
    background-color: #E60000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-clip: padding-box;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    color: #FFF;
    height: 44px;
    width: 870px;
    padding: 0 0 4px;
    font: 400 21px/36px 'VodafoneRgRegular';
    float: left;
}
#navigation a:hover,
#subnavigation a:hover {
    cursor: pointer;
}
#navigation a {
    display: block;
    text-decoration: none;
    outline: none;
}
#navigation a.inactive {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    filter: alpha(opacity=50);
}
#navigation a.inactive:hover {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    left: 0;
    z-index: 20;
}
#navigation ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-ms-justify-content: space-between;
    justify-content: space-between;
    height: 44px;
    line-height: 44px;
}
.navbar-outer {
    margin: 0 auto;
    padding: 0 0 0 80px;
    width: 950px;
}
.navbar-nav {
    margin: 0;
    display: table;
    width: 875px;
    height: 44px;
}
.navbar-default {
    background-color: #e60000;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-clip: padding-box;
    font: 400 21px/36px 'VodafoneRgRegular';
}
#content-wrap {
    margin: 0 auto;
    color: #333333;
    padding-top: 41px;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -o-flex-grow: 1;
    outline: 0px none;
}
#navigation a:hover {
    background-color: #f9f9f9;
    color: #333;
}
#navigation a:focus {
    background-color: #e60000;
    color: #fff;
}
#navigation .active > a,
#navigation > .active > a:focus,
#navigation > .active > a:hover {
    background-color: #990000;
    color: #FFF;
}
#navigation > li > a:hover,
#navigation > li > a:focus {
    background-color: #f9f9f9;
    color: #333;
}
#navigation li:first-of-type a {
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
}
#navigation li:last-of-type a {
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}
.navbar-nav li a {
    line-height: 44px;
    height: 44px;
    padding-top: 0;
}
.navbar-nav {
    line-height: 44px;
    height: 44px;
    padding-top: 0;
}
.navbar {
    min-height: 44px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
ul.nav li:hover {
    background: #666;
}
#navigation li {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -o-flex-grow: 1;
    margin-left: -1px;
    position: relative;
    text-align: center;
}
#navigation li:first-of-type a {
    padding-left: 4px;
}
#navigation li:last-of-type a {
    padding-right: 4px;
}
/**************** Vodafone Sub navigaion ****************/

#subnavigation .active > a {
    color: #e60000;
    font-weight: bold;
}
#subnavigation a {
    border-bottom: 1px solid #ccc;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding-left: 20px;
    text-decoration: none;
    outline: 0px none;
}
li .active {
    color: #E60000;
    font-weight: bold;
}
ul .sub-sub-navigation li.active {
    color: #E60000;
    font-weight: bold;
}
#subnavigation .subnavigation-has-sub-sub.open > a {
    border-bottom: medium none;
}
#navigation a:hover,
#subnavigation a:hover {
    cursor: pointer;
}
#subnavigation a:hover > li:not(.active) {
    color: #333;
}
.about {
        color: #e60000;
        font-family: "VodafoneLtRegular";
        font-size: 28px;
        line-height: 50px;
        font-weight: 700;
}
.ab {
     color: #F00;
     font-size: 16px;
     line-height: 24px;
     font-weight: normal;
}
.about-container p {
        margin-bottom: 20px;
}
.about-table {
  table-layout: fixed;
  width: 700.0px;
  font-size: 13px;
}
a:focus,
a:hover {
    color: #333;
}
a.about {
    outline: none;
    font-size: 16px;
    color: #e60000;
}
a.about:focus,
a.about:hover {
    color: #333;
}
#subnavigation .open .sub-sub-navigation {
    display: block;
}
#subnavigation .open > .sub-sub-navigation {
    padding-left: 20px;
}
#content {
    padding-bottom: 60px;
    position: relative;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
ul.menubar-ul {
    color: #999;
    font-size: 22px;
    line-height: 28px;
}
ul.menubar-ul li {
    padding: 12px 20px;
}
ul.menubar-ul li a {
    text-decoration: none;
    color: #999;
    outline: none;
}
.mobile-menu ul.menubar-ul li a.active {
    font-weight: normal !important;
}
.mobile-menu ul.menubar-ul li ul.dropdown-menu li a {
    font-size: 16px;
}
.mobile-menu ul.menubar-ul li ul.dropdown-menu li a.active {
    color: #FFF;
}
button.btn-vodafone {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    width: 56px;
    height: 50px;
    margin-right: 3px;
    margin-top: 3px;
    cursor: pointer;
    background-color: #282828;
    padding: 6px 16px;
}
button.btn-vodafone div,
ul.menubar-ul li div.btn-close {
    background-color: #fff;
    height: 2px;
    margin-bottom: 3px;
    position: relative;
    top: 1px;
    width: 22px;
}
ul.menubar-ul li.header-li {
    padding: 20px 20px 60px;
}
.header-li-text {
  max-width: 150px;
  font-size: 22px;
  font-weight: bold;
  font-family: "VodafoneLtRegular";
}
ul.menubar-ul li h3.menubar-close div:first-child {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 6px;
    cursor: pointer;
}
ul.menubar-ul li h3.menubar-close div:last-child {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    cursor: pointer;
}
div.menu-arrow-up,
div.menu-arrow-down {
    background-color: #646464;
    height: 1px;
    position: relative;
    width: 10px;
}
div.menu-arrow-up:first-child {
    left: 6px;
    top: 15px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
}
div.menu-arrow-up:last-child {
    left: 10px;
    top: 15px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
}
div.menu-arrow-down:first-child {
    left: 6px;
    top: 15px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
}
div.menu-arrow-down:last-child {
    left: 10px;
    top: 15px;
    transform: rotate(45deg);
    transition: all 0.2s ease-out 0s;
}
div.menubar-listgroup {
    overflow-y: scroll;
    height: 100vh;
    width: 250px;
    background-color: #282828;
    float: right;
    color: #999;
    position: fixed;
    top: 0px;
    z-index: 999;
    right: 0;
}
ul.dropdown-menu {
    min-width: 100%;
    font-size: 20px;
    background-color: #232323;
    position: relative;
    top: 10px;
    margin-bottom: 14px;
}
ul.dropdown-menu > li > a:hover,
ul.dropdown-menu > li > a:focus {
    background-color: #232323;
    color: #999;
    outline: none;
}
ul.dropdown-menu > li > a.active {
    font-weight: bold;
    color: #FFF;
}
div.bottom-overlay {
    padding: 20px;
    position: relative;
}
div.bottom-overlay div.content {
    margin-bottom: 20px;
}
div.bottom-overlay > div#top-info-mode div.chosen-container-single a.chosen-single {
    width: auto;
}
div.logout {
    margin-top: 20px;
    padding: 20px 20px 20px 0px;
    background-color: #232323;
    background-image: url('../img/look_4/responsive/icon_logout.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 42px auto;
}
div.logout a,
div.logout a:hover,
div.logout a:focus,
div.logout a:active {
    text-decoration: none;
    color: #999;
    outline: none;
}
div.menubar-listgroup .dropdown-menu>li>a {
    padding-left: 0px;
}
/*** voice status table css  ***/

.border-bottom {
    border-bottom: 1px solid #ddd;
}
.call-log-head-bdr {
    border-bottom: 1px solid #e6e6e6;
}
.voice-status-padding,
.phonenumbers-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.para-title-bdr,
.adsl-title-bdr {
    border-bottom: 1px solid #e6e6e6;
}
.para-col {
    padding-bottom: 3px;
    padding-top: 3px;
    line-height: 24px;
}
.wan-heading-height {
    height: 55px;
}
.th-col {
    /*     padding-bottom: 5px;
    padding-top: 5px;
    line-height: 24px;
    height: 55px; */
    font-weight: normal;
    line-height: 30px;
    padding: 10px;
    text-align: left;
    }
.port-mapping-row div.port-map-col1 {
    width: 25%;
}
.pr-col,
.lan-col {
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 24px;
    height: 40px;
}
.voice-status-row {
    margin-left: 15px;
    margin-right: 15px;
}
.voice-status-padding-left20{
    padding-left: 20px !important;
}
/*** Restart Page ***/

.restart-text-right,
.dns-text-right {
    text-align: right;
}
.restart-text-left {
    text-align: left;
}
.restart-padding-top-20 {
    padding-top: 20px !important;
}
input.restart-btn:hover {
    background-color: #FFF !important;
}
input.reconnect-btn:hover,input.cancel-btn:hover  {
    background-color: #F4F4F4;
    color: #000;
    -moz-box-shadow: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.6);
}
.modal-content input.button.button-cancel:hover {
    background-color: #F4F4F4;
    color: #000;
    -moz-box-shadow: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.6);
}
/***  dmz page ***/

.dmz-margin-top-bottom {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.dmz-message-info {
    padding-right: 0px !important;
    max-width: 610px;
}
/*** Phone Numbers ***/

.ph-col {
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 24px;
}
.no-specials {
    width: 100%;
}
/*** Port Mapping ***/

.port-mapping-row,
.phone-numbers-row {
    margin-left: 8px;
    margin-right: 0px;
}
.btn-edit-left,
.btn-edit-right {
    text-align: center;
}
.btn-add-right {
    text-align: right;
}
.btn-add-center {
    text-align: center;
}
.btn-del-right {
    text-align: right;
}
.btn-wrap-mobile {
    text-align: right;
}
.resetContainer {
    height: 70px;
    line-height: 34px;
}
#portmap-div-mainTable .row .th-col {
    font-size: 13px;
}
#portmap-popup-edit #top-info-mode .chosen-container,
#portmap-popup-add #top-info-mode .chosen-container {
    width: 260px !important;
}
.port-input {
    width: 260px !important;
}
.port-add-radio {
    padding-left: 20px !important;
}
.port-col {
    height: 80px;
    padding: 10px;
}
.port-ipaddress {
    padding-left: 14px;
}
.port-lan {
    padding-left: 12px;
}
.port-lineheight-50 {
    line-height: 60px;
}
.port-lineheight-30 {
    line-height: 30px;
}
/*** Parental Control  ***/

.add-parent-text {
    width: 100%;
}
.from-to-wrap {
    width: 50%;
    float: left;
}
/* #parental-txt-addEndTime{
    display: block;
} */
#parental-div-addStop, #parental-div-editStop {
    width: 130px;
    display: inline-block;
}

/*** mac filter  ***/

.mac-filter-right,
.mobile-mac-filter-msg-right {
    text-align: right;
}
.mac-filter-padding-top-bottom {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
}
.mac-filter-deleteIcon {
    margin-left: 2px;
}
/*** DDNS  ***/

.ddns-input-field {
    width: 230px;
}
#dns-dropdown-select #top-info-mode .chosen-container {
    float: right;
    width: 230px !important;
}
#dns-ddns-txt-password-hidden {
    display: none;
}
.ddns_account_details .h3-content {
    display: table;
}
/***  Status Page  ***/

.status-text-right {
    text-align: right;
}
.status-para-title-bdr {
    border-bottom: 1px solid #e6e6e6;
    line-height: 24px;
}
.status-service-indicator:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}
.status-service-indicator.status-service-off:before {
    background: #E60000;
}
.status-service-indicator.status-service-on:before {
    background: #AAB501;
}
.text-word-wrap {
    word-wrap: break-word;
}
.status-container .padding-left-1{
    padding-left:1px;
}
.status-border-top{
    border-top: solid 1px #e6e6e6;
}
.status-container span{
    line-height: 24px;
}
/*** LAN  ***/

#landhcp #top-info-mode {
    float: left;
}
#landhcp #top-info-mode .chosen-container {
    width: 150px !important;
    margin-top: 5px;
}
#ipv4-info-dhcpparams #top-info-mode {
    float: none;
}
#ipv4-info-dhcpparams #top-info-mode .chosen-container{
    float : right !important;
}
.add-device-name {
    display:none;
}
/*** Settings  ***/

#wifisettings #top-info-mode .chosen-container,
.phonesettings #top-info-mode .chosen-container {
    float: right !important;
}
.line-height-40 {
    line-height: 40px;
}
/*** VF WiFi Network  ***/

.faded {
    opacity: 0.3;
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    filter: alpha(opacity=30);
}
/*** General ***/
.general .chosen-container-single .chosen-single {
    width: 100% !important;
}
.left-select #top-info-mode .chosen-container {
    display: block;
    width: 100% !important;
}
.general #top-info-mode {
    padding-right: 0px;
}
.shadowProblemLeft {
    padding-left: 12px !important;
    margin-left: -10px;
}
.shadowProblem {
    padding-right: 10px !important;
    margin-right: -10px;
}
.chosen-single span {
    line-height: 39px !important;
}
div.general [type="checkbox"]:not(:checked) + label,
div.general [type="checkbox"]:checked + label {
    padding-right: 0;
    padding-left: 21px;
}
div.general .padding-left-right-7 {
    padding-right: 12px !important;
    padding-left: 7px !important;
}
div.general .padding-right-12 {
    padding-right: 12px !important;
}
.h3-content.no-padding-bottom {
    padding-bottom: 0;
}
.h3-inside-content .h3-content {
    padding-left: 0px;
}
.general #wifiGen-txt-pwd24,
.general #wifiGen-txt-pwd5 {
    border: 0px;
    box-shadow: none;
}
/*** Footer ***/

.footer-spain-bdr {
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #cccccc;
}
/*** TR-069 ***/

h2.tr069 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 24px;
}
/*** WAN & LAN Status ***/

table.wan-table tr td span,
table.wan-table tr th span,
table.lan-table tr td span,
table.lan-table tr th span {
    font-weight: normal;
}
table.wan-table tbody tr th,
table.lan-table tbody tr th {
    border-bottom: 1px solid #e6e6e6;
}
.wan-text-right {
    text-align: right !important;
}
table#lstatus-tbl-ipv6landetails tr th,
table#lstatus-tbl-lanstats tr th,
table#lstatus-tbl-dhcplease tr th {
    white-space: nowrap;
}
/*** Static Routing ***/

table.static-routing-table > tbody > tr > td,
table.static-routing-table > tbody > tr > th,
table.static-routing-table > tfoot > tr > td,
table.static-routing-table > tfoot > tr > th,
table.static-routing-table > thead > tr > td,
table.static-routing-table > thead > tr > th {
    font-size: 13px;
}
/* ==========================================================================
   Global Messages
   ========================================================================== */

.head-message {
    width: 950px;
    border: 1px solid #ff5400;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-top: none;
    padding: 22px 20px 20px 20px;
    background-color: #fff5f0;
    margin: 0 auto;
}
#globalMessages input.button {
    float: right;
}
#globalMessages .button {
    margin-right: 5px;
}
#globalMessages .fL {
    width: 60%;
}
#globalMessages span {
    color: #000;
}
/*** Ringing Schedule ***/

div#editRingingScheduleModal #top-info-mode .chosen-container,
div#addRingingScheduleModal #top-info-mode .chosen-container {
    width: 230px !important;
}
/*** configuration load modal ***/

ul.select-categories li {
    line-height: 24px;
}
/*** Energy Settings ***/

.button-arrow-left-small {
    background: url("../img/look_4/buttons/button-left.png") no-repeat scroll transparent;
    cursor: pointer;
    float: left;
    margin: -1px 10px 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    height: 30px;
    padding: 0;
    width: 30px;
}
.button-arrow-right-small {
    background: url("../img/look_4/buttons/button-right.png") no-repeat scroll transparent;
    cursor: pointer;
    float: left;
    margin: -1px 0 0 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    height: 30px;
    padding: 0;
    width: 30px;
}
.led-glow-block {
    display: block;
    float: left;
    height: 25px;
    width: 58px;
}
.hide-led {
    background: none repeat scroll 0 0 #fafafa !important;
    border-bottom: 1px solid #e0dede;
    border-right: 1px solid #e0dede;
    border-top: 1px solid #e0dede;
    box-sizing: border-box;
}
.router-led-bar {
    height: 25px;
    width: 375px;
    display: inline-block;
}
/* ==========================================================================
   Event Log Page
   ========================================================================== */

.event-log-button-width {
    width: 33%;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
}
.event-log-table-disply {
    display: table-cell;
}
.eventLogErrorSecurity {
    color: #e60000;
}
.event-log-nav-tab {
    width: auto !important;
}
.event-log-h3-table-content {
    padding-left: 0 !important;
}
#event-log .downloadStuff {
    width: 120px;
}
#event-log input.button.button-cancel:hover {
    background-color: #F4F4F4;
    color: #000;
    -moz-box-shadow: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: rgba(0, 0, 0, 0.6);
    -ms-box-shadow: rgba(0, 0, 0, 0.6);
    -o-box-shadow: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.6);
}
#mobile-eventlog-tab {
    background-color: #f7f7f7;
    border-bottom: 1px solid #c2c2c2;
    height: 68px;
}
#mobile-eventlog-tab > li > a:hover {
    background-color: #f7f7f7;
}
#mobile-eventlog-tab > li.active,
#mobile-eventlog-tab > li:hover {
    /* height: 42px; */
}
#mobile-eventlog-tab > li > a {
    padding: 10px !important;
}
.mobile-eventlog-tab-width {
    width: 140px;
}
.show-more {
    background: transparent;
    border: 1px solid #c2c2c2 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
}
img.eventlog-arrow {
    width: 6%;
    height: 6%;
    margin-left: 6px;
}

table#elog-tbl-dskAll td, table#elog-tbl-dskErr td {
    text-align: left;
}

table#elog-tbl-mobAll tbody tr td p, table#elog-tbl-mobErr tbody tr td p {
    line-height: 30px;
}

.eventlog-mobile-padding {
    padding-top: 30px;
    padding-bottom: 8px;
}

.eventlog-categories-padding {
    padding-bottom: 20px;
}

#eventlog-mobile-bold {
    font-weight: bold !important;
}

#elog-btn-download {
    margin-right: 4px;
}

/*** Settings - Access Control   ***/

table.accesscontrol-table #top-info-mode .chosen-container {
    width: auto !important;
}
/* =============================================
WiFi > Client monitor
================================================ */

.content-client-monitoring img.arrow-up {
    width: 15px;
    height: 15px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.content-client-monitoring img.arrow-down {
    width: 15px;
    height: 15px;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
/* =============================================
WiFi > Analyser
================================================ */

.h3-content table.analyser-table tr td div.bullet {
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.h3-content table.analyser-table {
   width: 100%;
}
.h3-content table.analyser-table tr td .bullet.color1 {
    background: #3a40a1;
}
.h3-content table.analyser-table tr td .bullet.color2 {
    background: #f25ee1;
}
.h3-content table.analyser-table tr td .bullet.color3 {
    background: #8c9776;
}
.h3-content table.analyser-table tr td .bullet.color4 {
    background: #985187;
}
.h3-content table.analyser-table tr td .bullet.color5 {
    background: #ca90d2;
}
.h3-content table.analyser-table tr td .bullet.color6 {
    background: #f3c9a7;
}
.h3-content table.analyser-table tr td .bullet.color7 {
    background: #aa3389;
}
.h3-content table.analyser-table tr td .bullet.color8 {
    background: #403964;
}
.h3-content table.analyser-table tr td .bullet.color9 {
    background: #eb7934;
}
#rescanWaitMessage {
    text-align: center;
    padding-bottom: 20px;
}
#rescanWaitMessage + div {
    text-align: center;
}
/* ==========================================================================
   Schedule Page
   ========================================================================== */

.desktop-table {
    width: 100%;
}
.schedule-add-content .row > div {
    padding-bottom: 20px;
}
.h3-content.no-padding-bottom {
    padding-bottom: 0;
}
/***  Call Log Table  ***/

.table.call-log > tbody > tr > td,
.table.call-log > tbody > tr > th,
.table.call-log > tfoot > tr > td,
.table.call-log > tfoot > tr > th,
.table.call-log > thead > tr > td,
.table.call-log > thead > tr > th {
    text-align: center;
}
.call-log-1 {
    width: 8.5%;
}
.call-log-2 {
    width: 16%;
}
.call-log-3 {
    width: 10%;
}
.call-log-4 {
    width: 20.5%;
}
.call-log-5 {
    width: 22%;
}
.call-log-6 {
    width: 13%;
}
.call-log-7 {
    width: 10%;
}
.calllog-tabs {
    margin: 0px -10px !important;
}
.line-height-45 {
    line-height: 45px;
}
.line-height-32 {
    line-height: 32px;
}
.line-height-24 {
    line-height: 24px;
}
.text-middle {
    vertical-align: middle !important;
}
.mac-filtering-list {
    width: 250px;
}
.margin-top-minus-3 {
    margin-top: -3px;
}
/* ADSL Status */

div.content-adsl > div.row:last-child hr {
    border-top: 0px solid #eee;
}
.h3-content.adsl-table td, .h3-content.adsl-table th {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: left;
}
hr {
    border-top: 1px solid #e6e6e6;
}
/* Sharing Settings */

.disk-panel {
    display: none;
}
.smallArrow {
    padding-left: 45px;
    background: url("../img/look_4/icons/arrows/icon-small-arrow.png") no-repeat scroll 20px center;
    cursor: pointer;
}
.smallArrowDown {
    padding-left: 45px;
    background: url("../img/look_4/icons/arrows/icon-small-arrow-down.png") no-repeat scroll 20px center;
    cursor: pointer;
}
.font-size-fix {
    font-size: 16px;
}
.padding-left-45 {
    padding-left: 45px;
}
/* Settings Configuration */

.config-line-height-34, .restart-line-height-34 {
    line-height: 34px !important;
}
.padding-right-2 {
    padding-right: 2px !important;
}
.line-height-44 {
    line-height: 44px;
    height: 44px;
}
ul.select-categories li label {
    display: inline;
}

div.savepassword-table .vdf-row {
   display:table;
}

.config-file-password {
   width: 60% !important;
}

.loadpasswordword {
   display:table;
}

/* Routing */
.table.routingv4 > tbody > tr > td, .table.routingv4 > tbody > tr > th, .table.routingv4 > tfoot > tr > td, .table.routingv4 > tfoot > tr > th, .table.routingv4 > thead > tr > td, .table.routingv4 > thead > tr > th {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.table.routingv4 > tbody > tr > td:first-child, .table.routingv4 > tbody > tr > th:first-child, .table.routingv4 > tfoot > tr > td:first-child, .table.routingv4 > tfoot > tr > th:first-child, .table.routingv4 > thead > tr > td:first-child, .table.routingv4 > thead > tr > th:first-child {
    width: 24%;
}
.table.routingv4 > tbody > tr > td:nth-child(2), .table.routingv4 > tbody > tr > th:nth-child(2), .table.routingv4 > tfoot > tr > td:nth-child(2), .table.routingv4 > tfoot > tr > th:nth-child(2), .table.routingv4 > thead > tr > td:nth-child(2), .table.routingv4 > thead > tr > th:nth-child(2) {
    width: 33.7%;
}
.table.routingv4 > tbody > tr > td:last-child, .table.routingv4 > tbody > tr > th:last-child, .table.routingv4 > tfoot > tr > td:last-child, .table.routingv4 > tfoot > tr > th:last-child, .table.routingv4 > thead > tr > td:last-child, .table.routingv4 > thead > tr > th:last-child {
    width: 14.4%;
}

.table.routingv6 > tbody > tr > td, .table.routingv6 > tbody > tr > th, .table.routingv6 > tfoot > tr > td, .table.routingv6 > tfoot > tr > th, .table.routingv6 > thead > tr > td, .table.routingv6 > thead > tr > th {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.table.routingv6 > tbody > tr > td:first-child, .table.routingv6 > tbody > tr > th:first-child, .table.routingv6 > tfoot > tr > td:first-child, .table.routingv6 > tfoot > tr > th:first-child, .table.routingv6 > thead > tr > td:first-child, .table.routingv6 > thead > tr > th:first-child {
    width: 43.1%;
}
.table.routingv6 > tbody > tr > td:nth-child(2), .table.routingv6 > tbody > tr > th:nth-child(2), .table.routingv6 > tfoot > tr > td:nth-child(2), .table.routingv6 > tfoot > tr > th:nth-child(2), .table.routingv6 > thead > tr > td:nth-child(2), .table.routingv6 > thead > tr > th:nth-child(2) {
    width: 14.5%;
}
.table.routingv6 > tbody > tr > td:last-child, .table.routingv6 > tbody > tr > th:last-child, .table.routingv6 > tfoot > tr > td:last-child, .table.routingv6 > tfoot > tr > th:last-child, .table.routingv6 > thead > tr > td:last-child, .table.routingv6 > thead > tr > th:last-child {
    width: 19.2%;
}
/* ==========================================================================
   Event Log
   ========================================================================== */
#event-log-tbl .event-log-button-width {
    width: 33%;
    float: left;
    padding: 10px;
}
#event-log-tbl .eventLogErrorSecurity {
    color: #e60000;
}
#event-log-tbl .h3-table-content {
    padding-left: 0;
}
#event-log-tbl .tabs {
    background-color: white;
    margin: 0 -10px;
    cursor: pointer;
}
#event-log-tbl .tab {
    height: 44px;
    width: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    float: left;
    text-align: right;
    line-height: 44px;
    padding: 0 25px;
    background-color: #ffffff;
}
#event-log-tbl .tab.tabs-active {
    background-color: #f7f7f7;
    font-weight: bold;
}

#event-log-tbl .grey-table-content {
    background-color: #f7f7f7;
    padding: 0 10px;
    margin: 0;
}
#event-log-tbl .grey-table-content {
    padding: 0 25px 1px;
}
#event-log-tbl .table-row-head + .table-row {
    height: 40px;
}
#event-log-tbl .paddingTop20 {
    padding-top: 20px;
}
#event-log-tbl .paddingTop40 {
    padding-top: 40px;
}
#event-log-tbl .table-row.table-row-head .table-col {
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 0px;
}
#event-log-tbl .table-row:not(.table-row-head) div.table-col {
    padding-right: 10px;
    line-height: 30px;
    height: auto;
    font-weight: normal;
}
#event-log-tbl .table-row:not(.table-row-head) div.table-col:not(:first:of-type) {
    padding-left: 10px;
}
#event-log-tbl .table-row:not(.table-row-head) div.table-col.table-col3 {
    width: 60%;
}
#event-log-tbl .btns {
    margin-top: 32px;
    margin-bottom: 32px;
}
#event-log-tbl .btns .right {
    padding: 3px 0px 3px 0px;
    float: right;
}
#event-log-tbl .btns .downloadStuff {
    width: 120px;
}
#event-log-tbl div.table {
    display: table;
    width: 100%;
    line-height: 24px;
}
#event-log-tbl.h3-content div.table {
    padding-left: 20px;
}
#event-log-tbl div.table-row {
    display: table-row;
}
#event-log-tbl div.table-col {
    display: table-cell;
    padding-bottom: 3px;
    padding-top: 3px;
}
#event-log-tbl div.table-row.table-row-head .table-col {
    border-bottom: 1px solid #e6e6e6;
}

/* Internet Time */
#internet-time-form  .chosen-container{
    margin-top:0px !important;
}
.internet-time-border .vdf-row + .vdf-row > div {
    border-top: solid 1px #e6e6e6;
}

/**************** Firmware Update ****************/
.button:hover {
    cursor: pointer;
}
.line-height-33{
    line-height: 33px;
}
.line-height-32{
    line-height: 32px;
}
.content-voice-status .table-row span, .content-voice-status span {
    font-weight: normal !important;
}
div.table-row.table-row-head .table-col {
    border-bottom: 1px solid #e6e6e6;
}

/************ Diagnostic Utility **********/
.diagnostic-notch {
    padding-left: 25px !important;
}
.form-group {
    margin-bottom: 0px;
}

/* LAN-status   */
.h3-content.content-lan-status td, .h3-content.content-lan-status th,.h3-content.content-wan-status td, .h3-content.content-wan-status th {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}
.lan-table,.wan-table-margin-bottom-none {
    margin-bottom: 0px !important;
}

/**DNS- DDNS  **/
#dns-ddns-form .h3-content .vdf-row + .vdf-row > div, #dns-ddns-form .h3-wrapper-content .vdf-row + .vdf-row > div {
    border-top: solid 1px #e6e6e6;
}

#dns-ddns-form .chosen-container {
    width: auto !important;
}
#dns-ddns-form #top-info-mode .chosen-container {
    background-color: #fff;
    width: 230px !important;
}
#dns-ddns-form .padding-bottom-wrap {
    margin-bottom: 50px;
}
#dns-ddns-form .padding-top-wrap {
    margin-top: 50px;
}
/* DMZ page */
.dmz-padding-bottom {
    padding-bottom: 0px !important;
}
.dmz-padding-bottom-50 {
    padding-bottom: 0px !important;
}

/* NAT mapping */
.h3-content.content-nat-mapping td, .h3-content.content-nat-mapping th {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 7px 12px;
    text-align: left;
    vertical-align: middle;
}
table.neigh-table tr {
    border-bottom: 1px solid #e6e6e6 !important;
}

/*** Port Mapping ***/
.h3-content > table {
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.portmap-div-mainTable table.table-four-columns th {
    width: 25%;
}
#portmap-tbl-desktop th {
    border-bottom: 1px solid #e6e6e6;
}
#portmap-tbl-desktop span {
    font-weight: normal;
}
#portmap-tbl-desktop td, #portmap-tbl-desktop th {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: left;
}
#upnpportmap-tbl-desktop th {
    border-bottom: 1px solid #e6e6e6;
}
#upnpportmap-tbl-desktop span {
    font-weight: normal;
}
#upnpportmap-tbl-desktop td, #upnpportmap-tbl-desktop th {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: left;
}
.ipv6-font-size {
    font-size: 13px;
}
.tC {
    text-align: center !important;
}
.italic {
    font-style: italic;
}
#portmap-popup-edit .vdf-row > div, #portmap-popup-add .vdf-row > div {
    padding-top: 20px;
    padding-bottom: 20px;
}

/** Phone Settings **/
.phone-settings .vdf-row > .right {
    padding: 7px;
}
.phone-settings .vdf-row .right {
    width: 30%;
}
.phone-settings .vdf-row .left {
    width: 70%;
}
.phone-settings .vdf-row .left span {
    width: 235px;
    display: inline-block;
}
.phone-settings .vdf-row + .vdf-row > div {
    border-top: solid 1px #e6e6e6;
}

/*  static routing */
.static-routing .table-col {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
}
.static-routing  span {
    font-weight : normal !important;
}

.tR {
    text-align: right !important;
}
.fR {
    float: right !important;
}

div.static-modal#editAccessControlModal,
div.static-modal#addAccessControlModal {
    padding: 34px 40px 40px;
}
div.static-modal#editAccessControlModal .vdf-row  .left ,
div.static-modal#editAccessControlModal .vdf-row  .right ,
div.static-modal#addAccessControlModal .vdf-row  .left ,
div.static-modal#addAccessControlModal .vdf-row .right {
    width : 50%
}
div.static-modal#addAccessControlModal .vdf-row  .right > input ,
div.static-modal#editAccessControlModal .vdf-row .right > input {
    width : 100%
}
div.static-modal #top-info-mode, div.static-modal #top-info-mode .chosen-container {
    width: 100% !important;
}

/*** Parental Control  ***/
.toggle-table-content .parental-control {
    font-size: 14px;
}
.toggle-table-content div.table {
    display: table;
    width: 100%;
    line-height: 24px;
}
.toggle-table-content div.table {
    display: table;
    width: 100%;
    line-height: 24px;
    padding-left: 0px !important;
}
.toggle-table-content div.table-row {
    display: table-row;
}
.toggle-table-content .parental-control div.table-row.table-row-head .table-col {
    border-bottom: 1px solid #e6e6e6;
}
.toggle-table-content .parental-control div.table-col {
    display: table-cell;
    padding-bottom: 3px;
    padding-top: 3px;
}
#tod_table .table-row span {
    font-weight: normal;
}
#tod_table span {
    font-weight: normal;
    line-height: 22px;
}
#tod_table .toggle-row-enable{
    pointer-events: auto;
}
.toggle-table-content .parental-control div.table-col {
    padding-top: 5px;
    padding-bottom: 5px;
}
.tR {
    text-align: right !important;
}
.fR {
    float: right !important;
}
.mobile-table-big {
    font-size: 16px !important;
}
.mobile-table-big .mobile-entry:first-of-type {
    padding-top: 20px;
}
.mobile-table-big .mobile-entry {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e6e6e6;
}
.mobile-table-big.with-on-off .mobile-entry .on-off-wrap {
    float: right;
}
.mobile-table-big.with-on-off .mobile-entry .mobile-table-big-content {
    float: left;
}
.mobile-table-big .mobile-title, .mobile-table-big .mobile-subtitle, .mobile-table-big .mobile-content {
    line-height: 22px !important;
}
.mobile-table-big .mobile-content {
    padding-bottom: 10px;
}
.mobile-table-big .buttons-wrap-edit-delete {
    clear: both;
}
.mobile-table-big .buttons-wrap-edit-delete .button-edit {
    float: left;
}
.mobile-table-big .buttons-wrap-edit-delete .button-delete {
    float: right;
}
.mobile-table-big .buttons-wrap-edit-delete:after {
    clear: both;
    display: block;
    content: "";
}
.mobile-table-big .mobile-entry:last-of-type {
    border-bottom: none;
}
div.modal-content.parental-control-content #top-info-mode, div.modal-content.parental-control-content #top-info-mode .chosen-container {
    width: 324px !important;
}
div.modal-content.parental-control-content .modal-body:not(.delete-confirmation) input.max2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 40px !important;
}
.fL {
    float: left !important;
}
div.modal-content.parental-control-content .modal-body:not(.delete-confirmation) .left {
    width: 40%;
}
/** Phone Numbers **/
.h3-content table.table-three-columns th {
    width: 33%;
}
/*** Call Logs  ***/
/* ==========================================================================
   Call Log
   ========================================================================== */

div.call-log-content .h3-table-content {
    padding-left: 40px;
    padding-bottom: 50px;
}
div.call-log-content .desktop span {
    font-weight: normal;
}
.tabs {
    background-color: white;
    margin: 0 -10px;
    cursor: pointer;
}
#call-log-form .desktop .tabs {
    margin: 0;
}
.tabs.tabs-bg-4-1 .tabs-all {
    background-color: #f7f7f7;
    font-weight: bold;
}
.tabs.tabs-bg-4-2 .tabs-dialled {
    background-color: #f7f7f7;
    font-weight: bold;
}
.tabs.tabs-bg-4-3 .tabs-received {
    background-color: #f7f7f7;
    font-weight: bold;
}
.tabs.tabs-bg-4-4 .tabs-missed {
    background-color: #f7f7f7;
    font-weight: bold;
}
.tabs.tabs-bg-4-1 .tabs-all span, .tabs.tabs-bg-4-2 .tabs-dialled span, .tabs.tabs-bg-4-3 .tabs-received span, .tabs.tabs-bg-4-4 .tabs-missed span {
    font-weight: bold;
}
.tabs-all {
    height: 44px;
    width: 25%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    float: left;
    text-align: center;
    line-height: 44px;
    background-color: #ffffff;
}
.tabs-dialled {
    height: 44px;
    width: 25%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    float: left;
    text-align: center;
    line-height: 44px;
    background-color: #ffffff;
}
.tabs-received {
    height: 44px;
    width: 25%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    float: left;
    text-align: center;
    line-height: 44px;
    background-color: #ffffff;
}
.tabs-missed {
    height: 44px;
    width: 25%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    float: left;
    text-align: center;
    line-height: 44px;
    background-color: #ffffff;
}
.grey-table-content {
    background-color: #f7f7f7;
    padding: 0 10px;
    margin: 0;
}
#elog-tbl-dskErr {
    margin: 0px -25px !important;
}
.missed-call-color {
    color: #e60000;
}
.more-columns {
    text-align: center;
    background-color: #f7f7f7;
}
.call-log > .table-row > .table-col {
    height: 50px;
}
.table-call-log-buttons {
    text-align: right;
}
.table-button-faded {
    opacity: 0.3;
}
.faded {
    opacity: 0.3;
}
.hidden1,
.hidden2 {
    display: none;
}
div.desktop div.grey-table-content div.call-log{
    margin-bottom: 0px;
}
/** Qos  **/
.qos .table-col span{
    font-weight: normal;
}
/*** Firmware Update ***/
.firmware-file {
    word-wrap: break-word;
}

/** VF WiFi **/
.h3-content:not(.no-border) .vdf-row + .vdf-row > div,
.h3-wrapper-content .vdf-row + .vdf-row > div {
    border-top: solid 1px #e6e6e6;
}
.h3-content.atmStatsContent .vdf-row:last-child > div {
    border-bottom: 1px solid #E6E6E6;
}
.border-bottom {
    border-bottom: solid 1px #e6e6e6;
}
/** Main Menu for IE 9 & 10 **/
#navigation ul.topmenu li.ie9-ie10-menubar a.ie9-ie10-menu {
    padding:0 25px 0 28px;
 }
#navigation ul li.ie9-ie10-menubar {
    float: left;
    display: inline-block;
}
#navigation ul li.ie9-ie10-menubar:last-child {
    float: right;
}
/** wifi-settings **/
.h3-content.wifi-settings:not(.no-border) .vdf-row + .vdf-row > div {
    border-top: solid 1px #e6e6e6;
}
.wifi-settings-padding-bottom {
    padding-bottom: 50px !important;
}
#wifiset_sel_channel_chosen.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    padding: 0px !important;
}
#content .wifi-settings .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: 290px !important;
    height: auto !important;
    height: 1%;
    border: none;
    background-color: none;
    background-image: none;
    cursor: text;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 #767676 inset;
    -moz-box-shadow: 0 1px 2px 0 #767676 inset;
    -webkit-box-shadow: 0 1px 2px 0 #767676 inset;
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 14px;
    box-sizing: border-box;
    max-height: 116px;
    overflow-y: auto;
}
#content .wifi-settings .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 19px 3px 9px;
    border: none;
    max-width: 100%;
    border-radius: 3px;
    background-image: none;
    background-size: none;
    background-repeat: none;
    background-clip: none;
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    font-size: 13px;
    font-weight: normal;
    background-color: #ffffff;
}
#content .wifi-settings .chosen-container-multi .chosen-choices li.search-choice span {
    line-height: 13px;
    font-weight: normal;
}
#content .wifi-settings .chosen-container-multi .chosen-choices li.search-choice a.search-choice-close {
    right: 5px !important;
    opacity: .5 !important;
}
/** Client Monitor **/
#chartcontainerwifi {
    background-color: #333;
    width: 250px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    float: right;
    position: relative;
}
#scale1wifi {
    top: 0px;
    left: 0px;
}
#scale2wifi {
    bottom: 0px;
    left: 0px;
}
#rssivalue {
    top: 0px;
    right: 0px;
}
.scalewifi {
    position: absolute;
    color: #dddddd;
}
.barswifi {
    position:absolute;
    bottom:0;
    width:5px;
    background-color: #00ff00;
}
.selection .vdf-row + .vdf-row > div, .device-details .vdf-row + .vdf-row > div {
    border-top: 1px solid rgb(230, 230, 230);
}
div.ringingScheduleContent #top-info-mode .chosen-container , #ringing-schedule-popup-add #top-info-mode  .chosen-container , #ringing-schedule-popup-edit #top-info-mode  .chosen-container  {
    width: 230px !important;
    float: right;
}
.vdf-row::after {
    clear: both;
    content: "";
    display: table;
}
#ringing-schedule-popup-add #top-info-mode, #ringing-schedule-popup-edit #top-info-mode {
    float: none;
}
.op40 {
    opacity: 0.4;
    pointer-events: none;
}
.space-right {
    padding-right: 80px;
}
.no-text-align {
    text-align: inherit !important;
}
/*** Call Settings ***/
div.call-settings-table {
    margin-top: 20px;
    margin-bottom: 0px;
}
.call-settings-table .table-row-head {
    font-weight: bold;
}
.call-settings-table .table-col {
    height: 45px;
}
.call-settings-table .table-row:not(.table-row-head) .table-col span {
    font-weight: normal;
}

/*Settings-WAN */
.wan-adsl .table-row span ,.wan-vdsl .table-row span, .wan-fiber .table-row span , .wan-mobile .table-row span {
    font-weight: normal;
    font-size: 13px;
}
#wanadsl-add-edit .chosen-container , #wanadsl-add-edit  .right .input , #wanvdsl-add-edit .chosen-container , #wanvdsl-add-edit  .right .input, #wanfiber-add-edit .chosen-container , #wanfiber-add-edit  .right .input , #wanmobile-add-edit .chosen-container , #wanmobile-add-edit  .right .input {
    width: 290px !important;
}
#content.content-wan .wan-adsl div.table-col, #content.content-wan .wan-vdsl div.table-col, #content.content-wan .wan-fiber div.table-col, #content.content-wan .wan-mobile div.table-col {
    padding-top: 5px;
    padding-bottom: 5px;
}
#content.content-wan h3 {
    line-height:49px;
}

/*Sharing*/
.content-sharing .h3-inside-content {
    width:45%;
    float:left;
}
.content-sharing  .leftmargin {
    margin-left: 60px;
    margin-top: -5px;
}
.content-sharing .left-arrow-indentation {
    padding-left: 20px;
}
.content-sharing .apply-cancel {
    clear:both;
}
.content-sharing .vdf-row .left {
    width: 100%;
    font-weight:bold;
}
.content-sharing .vdf-row .left-arrow-indentation {
    border-top: 0px !important;
}
.content-sharing .h3-wrapper-content {
    width: 100%;
    padding-left: 40px;
}
.content-sharing .smallArrowDown, .content-sharing .smallArrow {
    font-size: 14px;
}
.content-sharing .mouse-pointer {
    cursor: pointer;
}
.content-sharing .hidden {
    display: none !important;
    visibility: hidden;
}
.content-sharing .h3-content {
    padding-bottom:50px;
}
.content-sharing .h3-wrapper-content {
    display:table;
}
.content-sharing  .h3-content .vdf-row {
    line-height:24px;
}

/** Access Control page **/
#access-control table .chosen-container-single {
    width: 100% !important;
}
#access-control .chosen-disabled {
    opacity: .5 !important;
    cursor: default;
}
#access-control .chosen-container {
    width: auto !important;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#access-control table .chosen-container-single .chosen-single {
    width: auto;
}
#access-control .chosen-container-single .chosen-single {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    height: 39px;
    line-height: 39px;
    padding: 0 14px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
    border: 0;
    font-size: 16px;
    width: 290px;
    text-align: left;
}
/* Reset Wrap */
.resetButtons {
    height: 30px;
    width: 30px;
    right: 0px;
    position: absolute;
    background-image: url("../img/look_4/buttons/button-reload.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    z-index: 99;
}
#resetBar {
    text-align: left;
}
#resetT {
    padding-right: 10px;
    font-weight: normal;
}
#resetR {
    float: right;
    margin-right: 5px;
}
#cancelR {
    float: right;
}
#r {
    height: 70px;
    line-height: 34px;
}

/** Ringing Scehedule **/
div.ringingScheduleContent #top-info-mode .chosen-container, #ringing-schedule-popup-add #top-info-mode .chosen-container, #ringing-schedule-popup-edit #top-info-mode .chosen-container {
    width: 100% !important;
}

div.ringingScheduleContent #top-info-mode .chosen-container , #ringing-schedule-popup-add #top-info-mode  .chosen-container , #ringing-schedule-popup-edit #top-info-mode  .chosen-container  {
    width: 230px !important;
    float: right;
}
.vdf-row::after {
    clear: both;
    content: "";
    display: table;
}
#ringing-schedule-popup-add #top-info-mode, #ringing-schedule-popup-edit #top-info-mode {
    float: none;
}
.op40 {
    opacity: 0.4;
    pointer-events: none;
}
.space-right {
    padding-right: 80px;
}
.no-text-align {
    text-align: inherit !important;
}
/*Footer message*/
div.message-info span, div.message-error span{
    line-height: 18px !important;
}

/*TV-Settings */
.tv-settings .table-row span ,.tv-settings .table-row span {
    font-weight: normal;
}
.content-tv-settings div.table-col {
    padding-top: 5px;
    padding-bottom: 5px;
}
.content-tv-settings .table .op40 .button-on,
.content-tv-settings .table .op40 .button-off {
    pointer-events: auto;
}
#editTVSettingsModal .chosen-container, #addTVSettingsModal .chosen-container {
    width: 290px !important;
}
#top-info-logged-user {
    float: right;
    margin-right: 15px;
}

#tvSettings-table .table-row .table-col span {
    font-weight: normal;
}

/** Policy Routing **/
#policyrouting-edit-modal.modal .left,
#policyrouting-add-modal.modal .left {
    width: 40%;
}
#policyrouting-edit-modal.modal .right,
#policyrouting-add-modal.modal .right {
    width: 60%;
}
#policyrouting-edit-modal.modal input.max2,
#policyrouting-add-modal.modal input.max2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 40px;
}
#policyrouting-add-modal.modal .chosen-container, #policyrouting-edit-modal.modal .chosen-container,
#policyrouting-add-modal.modal #top-info-mode, #policyrouting-edit-modal.modal #top-info-mode {
    width: 100% !important;
}
#policyroute-form div.table-col {
    padding-top: 5px;
    padding-bottom: 5px;
}
#policyroute-form div.table-col span {
    font-weight: normal;
}
#policyrouting-add-modal #select_wan_chosen .chosen-results, #policyrouting-edit-modal #edit_select_wan_chosen .chosen-results {
    height: 120px;
}

.wifiGen-textLabel{
    word-wrap: break-word;
    width: 290px;
    float: left;
    padding: 7px 14px !important;
    color: #767676;
    font-weight: normal;
/*      height: 45px;
    line-height: 31px; */
}
.wifiGen-textBullet{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .06em;
}
.child-of-bullet .inner-row::after {
    clear: both;
    content: " ";
    display: table;
}

/* SAMBA */
.break-words {
    width: 100%;
    word-break: break-all;
}
.samba-split-line {
    border-top: solid 1px #e6e6e6;
    margin-left: 40px;
}
/* Settings USB */
input.button-eject {
    background-image: url("../img/look_4/buttons/button-eject.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 41px;
    height: 28px;
    padding: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;
}
input.button-eject:active {
    background-image: url("../img/look_4/buttons/button-eject-pressed.png");
}
.border-top-none {
    border-top: none !important;
}

/* Diagnostic utility */
table#traceroute-tbl thead tr th {
    font-weight : bold;
}

/* Vdsl status */
div#dsl-bit-load > small > pre {
    font-family: monospace !important;
}

/* Mobile status */
div.signal, div.nosignal {
    width: 6px;
    float: left;
    margin-right: 5px;
}
div.nosignal {
    background-color: #E4E4E4;
    border: 2px inset #CECECE;
}
div.signal {
    background-color: #A8B400;
    border: 2px inset #97A200;
}
div.signal-container {
    float: right;
}

/* Voip Diagnostics */
#voipDiagnostic-sel-logLevel {
    width: 165px;
}

/* Power Saving Mode */
#psm-div-addmodal div.time-frame, #psm-editPopup div.time-frame {
    width: 58% !important;
}
#psm-div-addmodal div.status, #psm-editPopup div.status {
    width: 62% !important;
}
#psm-txt-rulename {
    width: 230px;
}
#client-sel-devices {
    display: none;
}
#mobile-sel-nwtyp{
    width: 165px;
}
/* Vox Public Subnet page */
.font-subnet-mask {
  font-weight:bold;
}
/* Vox WPS Page */
#vox-wps #top-info-mode .chosen-container {
    width: 150px !important;
}
#psm-tbl-desschedule thead th {
    font-weight: bold;
}

/* Vox Mobile page */
.pin-blocked .vdf-row .left, .pin-blocked .vdf-row .right {
  border-top: none !important;
}
div > #puk-infomsg {
  width: 670px !important;
  margin-top: -30px;
  margin-bottom: 50px;
}

/* Wifi-Schedule page */
tr#schedule-table-list span {
    font-weight: normal;
}
.adsl-table .table span {
    font-weight: normal;
}

/* Vox Local Network Page */
#no-rules-dhcp-span, #no-rules-dhcp-span-wifi2 {
    font-weight: normal;
    text-align: center;
    padding-top: 16px;
    font-style: italic;
    padding-left: 266px;
}

#ipv4_sel_condev_chosen a span, #ipv4_sel_condev_wifi2_chosen a span, #ipv4_sel_condev_chosen div.chosen-drop li, #ipv4_sel_condev_wifi2_chosen div.chosen-drop li {
    font-weight: normal;
}

/*IE Sneak Peak*/
input::-ms-reveal {
    display: none;
}
.config-left-top {
    width: 64%;
    padding-top: 23px;
}
#config-top-701 {
    margin-top: 0 !important;
    max-height:701px;
}
#config-padding-top-9 {
    padding-top: 9px !important;
}
.config-padding-top-bottom-1819 {
    padding-top: 18px !important;
    padding-bottom: 19px !important;
}
.config-left-right {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width:64%;
}
#general-popup-fix-top {
    padding-top: 0px !important;
}
.gerneral-top-bottom{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
#portamapping-popup-fix {
    margin-top: 0 !important;
    max-height:720px;
}
.nat-mapping-padding-bottom-54 {
      padding-bottom: 54px !important;
}
