/*=============
    font family
==============*/
	
@font-face {
	font-family: 'VodafoneRgRegular';
	src: url('/fonts/vodafonerg-webfont.eot');
	src: url('/fonts/vodafonerg-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/vodafonerg-webfont.woff') format('woff'), 
	url('/fonts/VodafoneLt.ttf') format('truetype'),
	url('/fonts/vodafonerg-webfont.svg#VodafoneRgRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VodafoneRgBold';
	src: url('/fonts/vodafonerg_bd-webfont.eot');
	src: url('/fonts/vodafonerg_bd-webfont.eot?#iefix') format('embedded-opentype'), 
	url('/fonts/vodafonerg_bd-webfont.woff') format('woff'), 
	url('/fonts/VodafoneRg_Bd.ttf') format('truetype'), 
	url('/fonts/vodafonerg_bd-webfont.svg#VodafoneRgBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VodafoneLtRegular';
	src: url('/fonts/vodafonelt-webfont.eot');
	src: url('/fonts/vodafonelt-webfont.eot?#iefix') format('embedded-opentype'), 
	url('/fonts/vodafonelt-webfont.woff') format('woff'), 
	url('/fonts/VodafoneLt.ttf') format('truetype'), 
	url('/fonts/vodafonelt-webfont.svg#VodafoneLtRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}