#!/bin/sh /etc/rc.common

. $IPKG_INSTROOT/lib/functions/functions-tch.sh

setRadioMacAddress()
{
    WL0_MAC=`uci_get env.rip.wifi_mac`
    L_WL_MAC=`uci_get env.var.local_wifi_mac`
    WL1_MAC="${L_WL_MAC:0:15}$(printf "%02X" $(((0x${L_WL_MAC:15:16} + 0x08) % 256)))"
    echo "nvram set MAC WL0:$WL0_MAC"
    nvram set pci/0/1/macaddr="$WL0_MAC"
    echo "nvram set MAC WL1:$WL1_MAC"
    nvram set pci/1/1/macaddr="$WL1_MAC"
}

applyTrimming()
{
    echo "No PA trimming available for this platform"
}

getNicCount()
{
    local unit=1
    echo $unit
}

setRadioKthreadAffinity()
{
    setcpumask wl0-kthrd 2
    setcpumask wfd0-thrd 2
    setcpumask wfd1-thrd 1
    if [ "$(process_exists dhd1_dpc)" = "1" ] ; then
        setcpumask dhd1_dpc 1
    fi
}

setRadioInterruptAffinity()
{
    setRadioIntAffinity 0 2
    setRadioIntAffinity 1 1
}

setRadioKthreadPriority()
{
    setrtprio wl0-kthrd 5
    setrtprio wfd0-thrd 5
    setrtprio wfd1-thrd 5
    if [ "$(process_exists dhd1_dpc)" = "1" ] ; then
        setrtprio dhd1_dpc 5
    fi
}
