lxc.mount.entry = /usr/lib/libcrypto.so.1.0.0 usr/lib/libcrypto.so.1.0.0 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/lib/libssl.so.1.0.0 usr/lib/libssl.so.1.0.0 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/lib/libcurl.so.4 usr/lib/libcurl.so.4 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/lib/libcurl.so.4.5.0 usr/lib/libcurl.so.4.5.0 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/curl usr/bin/curl none ro,bind,create=file 0 0

