<div class="row">
    <div class="col-md-4 toc-container hidden-sm">
        <nav class="toc">
            <ul>
                <li du-scrollspy="online_devices" class="hidden-xs"><a href="#online_devices" du-smooth-scroll>
                        <span translate>PAGES.DEVICES.ONLINE.TITLE</span>
                </a></li>
                <li du-scrollspy="panel_family" class="hidden-xs"><a href="#panel_family" du-smooth-scroll>
                        <span translate>PAGES.DEVICES.FAMILY_DEVICES.TITLE</span>
                </a></li>
                <li class="hidden-xs" du-scrollspy="panel_others"><a href="#panel_others" translate du-smooth-scroll>PAGES.DEVICES.OTHERS.TITLE</a></li>


                <!-- TABS -->
                <li ng-class="{'visible-xs': true, active: !tabSelected.c}" ng-click="tabSelected.c = switchTab(false);">
                    <a href="" translate>PAGES.DEVICES.ONLINE.TITLE_M</a>
                </li>
                <li ng-class="{'visible-xs': true, active: tabSelected.c}" ng-click="tabSelected.c = switchTab(true);">
                    <a href="" translate>PAGES.DEVICES.FAMILY_DEVICES.TITLE_M</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-8 main-container">
      <div ng-class="{'mobile-super-wrapper': true, active: !tabSelected.c}">
      <div id="online_devices">
        <div ng-include="'views/partials/widget_online_devices.html'"></div>
        <div class="panel panel-body">
          <div class="row">
            <div class="col-sm-3">
              <p style="padding-top:5px" class="text-right hidden-xs" translate>PAGES.DEVICES.FAMILY_DEVICES.TABLE.TITLE</p>
            </div>
            <div class="col-sm-9" fw-loader="isDataReadyOnline">
              <table class="table table-condensed" >
                <thead>
                  <tr>
                    <th translate>PAGES.DEVICES.ONLINE.DEVICE</th>
                    <th class="hidden-xs" translate>PAGES.DEVICES.ONLINE.CIRCLE</th>
                    <th class="text-center"><span class="heading-boost">Boost</span></th>
                    <th class="text-center"><span class="heading-stop">Stop</span></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat-start="dev in devices.online">
                      <td><span class="icon icon-{{dev.icon}}" ng-class="{'active': dev.family==1}"></span><span>{{dev.name}}</span></td>
                    <td class="hidden-xs">
                      <span ng-if="dev.family==1"><span class="icon-bullet active"></span><span translate>PAGES.DEVICES.ONLINE.IN_FAMILY</span></span>
                      <span ng-if="dev.family!=1"><span class="icon-bullet"></span><span translate>PAGES.DEVICES.ONLINE.OTHER</span></span>
                    </td>
                    <td class="text-center"><button type="button" class="btn btn-checkbox" ng-click="setBoost(dev)" ng-model="dev.boost" uib-btn-checkbox></button></td>
                    <td class="text-center"><button type="button" class="btn btn-checkbox" ng-click="setStop(dev)" ng-model="dev.stop" uib-btn-checkbox></button></td>
                    <td ng-if="dev.family==1||dev.boost||dev.stop" style="cursor:pointer" ng-class="{'dropup':dev.isExpanded}" ng-click="dev.isExpanded=!dev.isExpanded">
                      <span class="caret"></span>
                    </td>
                    <td ng-if="!(dev.family==1||dev.boost||dev.stop)">&nbsp;</td>
                  </tr>
                  <tr ng-class="{'collapse':!dev.isExpanded}" ng-repeat-end>
                    <td class="summary" colspan="5">
                        <div class="small" ng-if="dev.boost" translate="PAGES.DEVICES.ONLINE.ACTIVE_BOOSTS" translate-values="{boost_remaining: dev.boost_remaining}"></div>
                        <div class="small" ng-if="dev.stop" translate="PAGES.DEVICES.ONLINE.ACTIVE_STOPS" translate-values="{stop_remaining: dev.stop_remaining}"></div>
                        <div class="small" ng-if="dev.family==1">
                          <span translate>PAGES.DEVICES.ONLINE.FAM_DEVICES_LINK_P1</span> <a ng-click="tabSelected.c = true" href="#panel_family" translate du-smooth-scroll>PAGES.DEVICES.ONLINE.FAM_DEVICES_LINK_P2</a> <span translate>PAGES.DEVICES.ONLINE.FAM_DEVICES_LINK_P3</span>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 col-xs-12 text-left-xs text-right" style="padding-bottom:5px" translate>PAGES.DEVICES.ONLINE.DURATION</label>
              <div class="col-sm-2 col-xs-3">
                <span class="heading-boost">Boost</span>
              </div>
              <div class="col-sm-3 col-xs-6">
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn" uib-dropdown-toggle>
                    <span>{{devices.default_boost.name}}</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-repeat="dur in duration" role="menuitem"><a ng-click="devices.default_boost = dur" href="">{{dur.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>

             <div class="form-group">
              <div class="col-sm-2 col-xs-3 col-xs-offset-0 col-sm-offset-3">
                <span class="heading-stop">Stop</span>
              </div>
              <div class="col-sm-3 col-xs-6">
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn" uib-dropdown-toggle>
                    <span>{{devices.default_stop.name}}</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-repeat="dur in duration" role="menuitem"><a ng-click="devices.default_stop = dur" href="">{{dur.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>


      <!-- TABS -->
      </div>
      <div ng-class="{'mobile-super-wrapper': true, active: tabSelected.c}">
      <!-- /TABS -->

      <div id="panel_family">
        <div ng-include="'views/partials/widget_family_devices.html'"></div>
        <div ng-class="{'panel panel-body':true, 'loading-data':!isDataReadyFamily}">
            <div class="row" ng-if="devices.family && devices.family.length > 0">
                <div class="form-group visible-xs">
                    <div class="mobile-adv-list">
                        <div>
                            <span class="icon icon-numeric">{{devices.family.length}}</span>
                            <span translate>PAGES.DEVICES.FAMILY_DEVICES.TITLE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p style="padding-top:5px" class="text-right hidden-xs" translate>PAGES.DEVICES.FAMILY_DEVICES.TABLE.TITLE</p>
              </div>
              <div class="col-sm-9" fw-loader="isDataReadyFamily">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th translate>PAGES.DEVICES.FAMILY_DEVICES.TABLE.DEVICES</th>
                      <th translate>PAGES.DEVICES.FAMILY_DEVICES.TABLE.STATUS</th>
                      <th translate>PAGES.DEVICES.FAMILY_DEVICES.TABLE.MODE</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat-start="dev in devices.family track by $index">
                      <td><span class="icon icon-{{dev.icon}}" ng-class="{'active': dev.online==1}"></span><span>{{dev.name}}</span></td>
                      <td>
                        <span ng-if="dev.online==1"><span class="icon-bullet active"></span>online</span>
                        <span ng-if="dev.online!=1"><span class="icon-bullet"></span>offline</span>
                      </td>
                      <td>
                        <span ng-if="dev.boost"><span class="icon icon-boost-active"></span></span>
                        <span ng-if="dev.routine == 1 && dev.boost_scheduled==1 && !dev.boost"><span class="icon icon-boost-noactive"></span></span>

                        <span ng-if="dev.stop"><span class="icon icon-stop-active"></span></span>
                        <span ng-if="dev.routine == 1 && dev.stop_scheduled==1 && !dev.stop"><span class="icon icon-stop-noactive"></span></span>
                      </td>
                      <td style="cursor:pointer" ng-class="{'dropup': devFamIsExpanded.index == $index}" ng-click="setDevFamIsExpanded($index)">
                        <span class="caret"></span>
                      </td>
                    </tr>
                    <tr ng-class="{'collapse': devFamIsExpanded.index != $index}" ng-repeat-end>
                      <td class="summary" colspan="4">
                        <!-- FORM EDIT -->
                        <form class="form-horizontal">
                          <div class="col-8-fixed-container">
                              <div class="row">
                                  <label class="col-sm-3 col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.NAME</label>
                                  <div class="col-sm-4 col-xs-9">
                                      <input type="text" class="form-control" ng-model="dev.name">
                                  </div>
                                  <div class="col-sm-5 col-xs-9 col-xs-offset-3 col-sm-offset-0">
                                      <small class="hidden-xs" style="display:inline-block">
                                        Mac Address {{dev.mac}}<br />
                                        IP {{dev.ip}}
                                      </small>
                                  </div>
                              </div>
                              <div class="row visible-xs">
                                  <label class="col-sm-3 col-xs-3 control-label text-right">IP</label>
                                  <div class="col-sm-7 col-xs-9">
                                    <p class="form-control-static">{{dev.ip}}</p>
                                  </div>
                              </div>

                              <div class="row">
                                  <label class="col-sm-3 col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.ICON</label>
                                  <div class="col-sm-4 col-xs-9">
                                      <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn" uib-dropdown-toggle>
                                          <span translate="DEV_ICONS.ICON{{dev.icon}}"></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                          <li ng-repeat="icon in ['0','1','2','3','4','5','6','8','7']">
                                            <a ng-click="dev.icon = icon" href=""><span class="hidden-xs icon icon-{{icon}}"></span> <span translate="DEV_ICONS.ICON{{icon}}"></span></a>
                                          </li>
                                        </ul>
                                      </div>
                                  </div>
                              </div>

                              <div class="row hidden-xs">
                                  <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.STATUS</label>
                                  <div class="col-xs-2">
                                    <p class="form-control-static">
                                      <span ng-if="dev.online==1"><span class="icon-bullet active"></span>online</span>
                                      <span ng-if="dev.online!=1"><span class="icon-bullet"></span>offline</span>
                                    </p>
                                  </div>
                                  <div class="col-xs-7" ng-if="dev.online!=1 && dev.last_connection">
                                    <p class="form-control-static"><small translate="PAGES.DEVICES.FAMILY_DEVICES.EDIT.LAST_CONNECTION" ></small><small> {{dev.last_connection | fwDate}}</small></p>
                                  </div>
                              </div>

                              <div class="row" ng-if="dev.online==1">
                                  <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.CONNECTION</label>
                                  <div class="col-sm-2 col-xs-7">
                                      <p class="form-control-static"><span translate="PAGES.DEVICES.FAMILY_DEVICES.EDIT.CONNECTION{{dev.type_of_connection}}"></span></p>
                                  </div>
                                  <div class="col-xs-7 hidden-xs" ng-if="dev.type_of_connection==1">
                                    <p class="form-control-static"><small translate="PAGES.DEVICES.FAMILY_DEVICES.EDIT.CONNECTION_WIFI" ></small><small> {{dev.network}}</small></p>
                                  </div>
                              </div>

                              <div class="row">
                                  <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.ROUTINE</label>
                                  <div class="col-xs-7">
                                    <button type="button" class="btn btn-toggle" ng-model="dev.routine" ng-click="dev.routine == '1' ? '0' : '1'" uib-btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'"></button>
                                  </div>
                              </div>

                              <fieldset ng-disabled="dev.routine !='1'">
                                <div class="row">
                                    <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.BOOST</label>
                                    <div class="col-xs-7">
                                      <button type="button" class="btn btn-toggle" ng-model="dev.boost_scheduled" uib-btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'"></button>
                                    </div>
                                </div>
                              </fieldset>
                              <!--  BOOST  -->
                              <fieldset ng-disabled="dev.boost_scheduled !='1' || dev.routine !='1' ">
                                  <div class="row">
                                    <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.STATUS</label>
                                    <div ng-class="{'col-xs-1 icon form-control-static':true,'icon-boost-active':dev.boost_scheduled==1,'icon-boost-noactive':dev.boost_scheduled!= 1}"></div>

                                    <div class="col-xs-6">
                                      <p class="form-control-static">
                                          <small translate ng-if="dev.boost_scheduled =='1'">PAGES.DEVICES.FAMILY_DEVICES.EDIT.BOOST_STATUS</small>
                                          <span ng-if="dev.boost_scheduled =='1'"><small> <span translate="PAGES.DEVICES.FAMILY_DEVICES.EDIT.BOOST_AT"></span> {{dev.boost_start}}</small></span>
                                          <span ng-if="dev.boost_scheduled =='0'"> -- </span>
                                      </p>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.BOOST_SCHEDULER</label>

                                    <div class="col-sm-3 col-xs-9">
                                      <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn" uib-dropdown-toggle>
                                          <span>{{getDuration(dev.boost_duration)}}</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                          <li ng-repeat="dur in duration">
                                            <a ng-click="dev.boost_duration = dur.id" href="">{{dur.name}}</a>
                                          </li>
                                        </ul>
                                      </div>

                                      <br class="visible-xs" />
                                    </div>
                                    <div class="col-sm-3 col-xs-offset-3 col-sm-offset-0 col-xs-9">
                                      <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn" uib-dropdown-toggle>
                                          <span translate>{{getInvervalDays(dev.boost_days)}}</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                          <li ng-repeat="day in days">
                                            <a ng-click="dev.boost_days = day.id" href="" translate>{{day.name}}</a>
                                          </li>
                                        </ul>
                                      </div>

                                      <br class="visible-xs" />
                                    </div>
                                    <div class="col-sm-3 col-xs-offset-3 col-sm-offset-0 col-xs-9">
                                      <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn" uib-dropdown-toggle>
                                          <span translate="FORMS.ON_TIME"></span> {{dev.boost_start}} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                          <li ng-repeat="hour in hours">
                                            <a ng-click="dev.boost_start = hour" href="">{{hour}}</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                              </fieldset>
                              <fieldset ng-disabled="dev.routine !='1'">
                                <div class="row">
                                    <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.STOP</label>
                                    <div class="col-xs-7">
                                      <button type="button" class="btn btn-toggle" ng-model="dev.stop_scheduled" ng-click="dev.stop_scheduled == '1' ? '0' : '1'" uib-btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'"></button>
                                    </div>
                                </div>
                              </fieldset>
                              <!--  STOP  -->
                              <fieldset ng-disabled="dev.stop_scheduled !='1'  || dev.routine !='1'">
                                  <div class="row">
                                    <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.STATUS</label>

                                    <div ng-class="{'col-xs-1 icon form-control-static':true,'icon-stop-active':dev.stop_scheduled==1,'icon-stop-noactive':dev.stop_scheduled!= 1}"></div>
                                    <div class="col-xs-6">
                                      <p class="form-control-static">
                                          <small ng-if="dev.stop_scheduled =='1'" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.BOOST_STATUS</small>
                                          <span ng-if="dev.stop_scheduled =='1'"><small> <span translate="PAGES.DEVICES.FAMILY_DEVICES.EDIT.BOOST_AT"></span> {{dev.stop_start}}</small></span>
                                          <span ng-if="dev.stop_scheduled =='0'"><small> -- </small></span>
                                      </p>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.BOOST_SCHEDULER</label>
                                    <!--  #TODO  -->
                                    <div class="col-sm-3 col-xs-9">
                                      <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn" uib-dropdown-toggle>
                                          <span>{{getDuration(dev.stop_duration)}}</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                          <li ng-repeat="dur in duration">
                                            <a ng-click="dev.stop_duration = dur.id" href="">{{dur.name}}</a>
                                          </li>
                                        </ul>
                                      </div>

                                      <br class="visible-xs" />
                                    </div>
                                    <div class="col-sm-3 col-xs-offset-3 col-sm-offset-0 col-xs-9">
                                      <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn" uib-dropdown-toggle>
                                          <span translate>{{getInvervalDays(dev.stop_days)}}</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                          <li ng-repeat="day in days">
                                            <a ng-click="dev.stop_days = day.id" href="" translate>{{day.name}}</a>
                                          </li>
                                        </ul>
                                      </div>

                                      <br class="visible-xs" />
                                    </div>
                                    <div class="col-sm-3 col-xs-offset-3 col-sm-offset-0 col-xs-9">
                                      <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn" uib-dropdown-toggle>
                                          <span translate="FORMS.ON_TIME"></span> {{dev.stop_start}} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                          <li ng-repeat="hour in hours">
                                            <a ng-click="dev.stop_start = hour" href="">{{hour}}</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                              </fieldset>

                              <div class="row">
                                  <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.CONTROLLER</label>
                                  <div class="col-xs-7">
                                    <button type="button" class="btn btn-toggle" ng-model="dev.parental" uib-btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'"></button>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-xs-9 col-xs-offset-3">
                                    <small translate="PAGES.DEVICES.FAMILY_DEVICES.EDIT.INFO"></small>
                                  </div>
                              </div>

                              <div class="button-container text-right">
                                <button type="submit" class="btn btn-default" ng-click="updateFamilyDevice(dev)" translate>FORMS.SAVE_CHANGES</button>
                                <button class="btn btn-default" ng-click="refreshFamilyDevices()" translate>FORMS.CANCEL</button>
                              </div>
                          </div>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row buttons-wrap visible-xs" ng-controller="widgetFamilyDevicesCtrl">
              <div class="button-container text-right col-xs-12">
                <button type="submit" ng-click="openAddDevices(selectFamilyTab)" class="btn btn-default" translate>WIDGETS.FAMILY_DEVICES.ADD</button>
                <button type="submit" ng-click="openRemoveDevices(selectFamilyTab)" class="btn btn-default" translate>WIDGETS.FAMILY_DEVICES.REMOVE</button>
              </div>
            </div>
        </div>


      </div>

      <div class="nav_helper">
        <div id="panel_others" class="panel panel-default hidden-xs">

          <div class="panel-heading">
            <h3 class="panel-title" translate>PAGES.DEVICES.OTHERS.TITLE</h3>
          </div>

          <div class="panel-body">
              <div class="form-horizontal">
                <div class="row form-group">
                  <label style="padding-top:5px" class="col-sm-3 control-label text-right" translate>PAGES.DEVICES.OTHERS.TABLE.TITLE</label>
                  <div class="col-sm-9" fw-loader="isDataReadyOnline">
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th translate>PAGES.DEVICES.OTHERS.TABLE.DEVICES</th>
                          <th translate>PAGES.DEVICES.OTHERS.TABLE.STATUS</th>
                          <th translate>PAGES.DEVICES.OTHERS.TABLE.MODE</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr ng-repeat-start="dev in devices.others track by $index">
                          <td><span class="icon icon-{{dev.icon}} active"></span><span>{{dev.name}}</span></td>
                          <td><span class="icon-bullet active"></span>online</td>
                          <td>
                            <span ng-if="dev.boost==1"><span class="icon icon-boost-active"></span></span>
                            <span ng-if="dev.boost_scheduled==1"><span class="icon icon-boost-noactive"></span></span>

                            <span ng-if="dev.stop==1"><span class="icon icon-stop-active"></span></span>
                            <span ng-if="dev.stop_scheduled==1"><span class="icon icon-stop-noactive"></span></span>
                          </td>
                          <td style="cursor:pointer" ng-class="{'dropup': devOtherIsExpanded.index == $index}" ng-click="setDevOtherIsExpanded($index)">
                            <span class="caret"></span>
                          </td>
                        </tr>

                        <tr ng-class="{'collapse':devOtherIsExpanded.index != $index}" ng-repeat-end>
                          <td class="summary" colspan="4">
                            <!-- FORM EDIT -->
                            <form class="form-horizontal">
                              <div class="col-8-fixed-container">
                                  <div class="row">
                                      <label class="col-sm-3 col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.NAME</label>
                                      <div class="col-sm-4 col-xs-9">
                                          <input type="text" class="form-control" ng-model="dev.name">
                                      </div>
                                      <div class="col-sm-5 col-xs-9 col-xs-offset-3 col-sm-offset-0">
                                          <small class="hidden-xs" style="display:inline-block">
                                            Mac Address {{dev.mac}}<br />
                                            IP {{dev.ip}}
                                          </small>
                                      </div>
                                  </div>
                                  <div class="row visible-xs">
                                      <label class="col-sm-3 col-xs-3 control-label text-right">IP</label>
                                      <div class="col-sm-7 col-xs-9">
                                        <p class="form-control-static">{{dev.ip}}</p>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <label class="col-sm-3 col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.ICON</label>
                                      <div class="col-sm-4 col-xs-6">
                                          <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn" uib-dropdown-toggle>
                                              <span translate="DEV_ICONS.ICON{{dev.icon}}"></span> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                              <li ng-repeat="icon in ['0','1','2','3','4','5','6','8','7']">
                                                <a ng-click="dev.icon = icon" href=""><span class="icon icon-{{icon}}"></span> <span translate="DEV_ICONS.ICON{{icon}}"></span></a>
                                              </li>
                                            </ul>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="row hidden-xs">
                                      <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.STATUS</label>
                                      <div class="col-xs-2">
                                        <p class="form-control-static">
                                          <span class="icon-bullet active"></span>online
                                        </p>
                                      </div>
                                  </div>

                                  <div class="row" ng-if="false">
                                      <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.CONNECTION</label>
                                      <div class="col-sm-2 col-xs-7">
                                          <p class="form-control-static"><span translate="PAGES.DEVICES.FAMILY_DEVICES.EDIT.CONNECTION{{dev.type_of_connection}}"></span></p>
                                      </div>
                                      <div class="col-xs-7 hidden-xs" ng-if="dev.type_of_connection==1">
                                        <p class="form-control-static"><small translate="PAGES.DEVICES.FAMILY_DEVICES.EDIT.CONNECTION_WIFI" ></small><small> {{dev.network}}</small></p>
                                      </div>
                                  </div>

                                  <div class="button-container text-right">
                                    <button type="submit" class="btn btn-default" ng-click="updateGenericDevice(dev)" translate>FORMS.SAVE_CHANGES</button>
                                    <button class="btn btn-default" ng-click="refreshOnlineDevices()" translate>FORMS.CANCEL</button>
                                  </div>
                              </div>
                            </form>
                          </td>
                        </tr>

                        <tr ng-repeat-start="dev in devices.offline track by $index">
                          <td><span class="icon icon-{{dev.icon}}"></span><span>{{dev.name}}</span></td>
                          <td><span class="icon-bullet"></span>offline</td>
                          <td></td>
                          <td style="cursor:pointer" ng-class="{'dropup': devOfflineIsExpanded.index == $index}" ng-click="setDevOfflineIsExpanded($index)">
                            <span class="caret"></span>
                          </td>
                        </tr>

                        <tr ng-class="{'collapse':devOfflineIsExpanded.index != $index}" ng-repeat-end>
                          <td class="summary" colspan="4">
                            <!-- FORM EDIT -->
                            <form class="form-horizontal">
                              <div class="col-8-fixed-container">
                                  <div class="row">
                                      <label class="col-sm-3 col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.NAME</label>
                                      <div class="col-sm-4 col-xs-9">
                                          <input type="text" class="form-control" ng-model="dev.name">
                                      </div>
                                      <div class="col-sm-5 col-xs-9 col-xs-offset-3 col-sm-offset-0">
                                          <small class="hidden-xs" style="display:inline-block">
                                            Mac Address {{dev.mac}}<br />
                                            IP {{dev.ip}}
                                          </small>
                                      </div>
                                  </div>
                                  <div class="row visible-xs">
                                      <label class="col-sm-3 col-xs-3 control-label text-right">IP</label>
                                      <div class="col-sm-7 col-xs-9">
                                        <p class="form-control-static">{{dev.ip}}</p>
                                      </div>
                                  </div>

                                  <div class="row hidden-xs">
                                      <label class="col-xs-3 control-label text-right" translate>PAGES.DEVICES.FAMILY_DEVICES.EDIT.STATUS</label>
                                      <div class="col-xs-4">
                                        <p class="form-control-static"><span class="icon-bullet"></span>offline</p>
                                      </div>
                                      <div class="col-xs-5">
                                        <span class="small" translate>PAGES.DEVICES.OTHERS.TABLE.LAST_CONNECTION</span><span class="small">: {{dev.last_connection | fwDate}}</span>
                                    </div>
                                  </div>


                                  <div class="button-container text-right">
                                    <button type="submit" class="btn btn-default" ng-click="updateGenericDevice(dev)" translate>FORMS.SAVE_CHANGES</button>
                                    <button class="btn btn-default" translate ng-click="refreshOnlineDevices()">FORMS.CANCEL</button>
                                  </div>
                              </div>
                            </form>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div><!-- FINE TABS -->
    </div>
</div>
