<div class="page-loading" fw-loader="isWOReady"></div>

<div class="row">
    <div class="col-md-4 toc-container">
        <nav class="toc hidden-xs hidden-sm">
            <ul>
              <li ng-if="!widget.mobileOnly" ng-repeat="widget in widgets" du-scrollspy="{{widget.id}}"><a href="#{{widget.id}}" translate du-smooth-scroll>{{widget.title}}</a></li>
            </ul>
        </nav>
    </div>

    <div ng-if="enableSortableWidgets" class="col-md-8 main-container" as-sortable="dragControlListeners" ng-model="widgets">
      <div data-as-sortable-item ng-repeat="widget in widgets track by widget.id" ng-include="'views/partials/'+widget.id+'.html'"></div>
    </div>

    <div ng-if="!enableSortableWidgets" class="col-md-8 main-container" ng-model="widgets">
      <div ng-repeat="widget in widgets track by widget.id" ng-include="'views/partials/'+widget.id+'.html'"></div>
    </div>
</div>
