<div class="page-loading" fw-loader="isDataReady"></div>
<div class="row" ng-if="isDataReady">
    <div class="col-md-4 toc-container hidden-sm">
        <nav class="toc">
            <ul>
              <li du-scrollspy="panel_1"><a href="#panel_1" translate du-smooth-scroll>PAGES.INFO.TECH_INFO.TITLE</a></li>
              <!-- June modify -->
              <!--li du-scrollspy="panel_2"><a href="#panel_2" translate du-smooth-scroll>PAGES.INFO.LEGAL_NOTICES.TITLE</a></li-->
            </ul>
        </nav>
    </div>
    <div class="col-md-8 main-container">
        <div id="panel_1" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" translate>PAGES.INFO.TECH_INFO.TITLE</h3>
          </div>
          <div class="panel-body">


            <div class="row">
              <label class="col-sm-3 text-right" translate>PAGES.INFO.TECH_INFO.SUPPLIER_NAME</label>
              <div class="col-sm-7">
                <strong>Technicolor</strong>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-3 text-right" translate>PAGES.INFO.TECH_INFO.PRODUCT_NAME</label>
              <div class="col-sm-7">
                <strong>{{model}}</strong>
              </div>
            </div>
              
            <div class="row">
              <label class="col-sm-3 text-right" translate>PAGES.INFO.TECH_INFO.SW_VERSION</label>
              <div class="col-sm-7">
                <span>{{sw_version}}</span>
              </div>
            </div>
              
            <div class="row">
              <label class="col-sm-3 text-right" translate>PAGES.INFO.TECH_INFO.FW_VERSION</label>
              <div class="col-sm-7">
                <span>{{fw_version}}</span>
              </div>
            </div>
              
            <div class="row">
              <label class="col-sm-3 text-right" translate>PAGES.INFO.TECH_INFO.LAN_UPTIME</label>
              <div class="col-sm-7">
                <span>{{uptime}}</span>
              </div>
            </div>
              
            <div class="row">
              <label class="col-sm-3 text-right" translate>PAGES.INFO.TECH_INFO.HW_VERSION</label>
              <div class="col-sm-7">
                <span>{{hw_version}}</span>
              </div>
            </div>
              
            <div class="row">
              <label class="col-sm-3 text-right" translate>PAGES.INFO.TECH_INFO.GW_IP</label>
              <div class="col-sm-7">
                <span>{{wangw}}</span>
              </div>
            </div>
              
            <div class="row">
              <label class="col-sm-3 text-right" translate>PAGES.INFO.TECH_INFO.MAC_ADDR</label>
              <div class="col-sm-7">
                <!--span>{{lanmac}}</span-->
                <!-- June modify -->
                <span>{{wanmac}}</span>
              </div>
            </div>
              
            
            <div class="row page-action">
              <div class="col-sm-7 col-sm-offset-3">
                <button ng-click="restart()" type="button" class="btn btn-default" translate>PAGES.INFO.ACTIONS.RESTART</button>
              </div>
            </div>
          </div>
        </div>

        <div id="panel_2" class="panel panel-default" style="display:none">
          <div class="panel-heading">
            <h3 class="panel-title" translate>PAGES.INFO.LEGAL_NOTICES.TITLE</h3>
          </div>
          <div class="panel-body">
            <div style="padding:20px 10px 10px; max-height: 410px; overflow-y:auto; margin-bottom:20px;">
              <p>
              His case nusquam ut, feugait vivendum urbanitas nam ex, vis eu equidem ponderum consequat. Eirmod aeterno sententiae ut usu, dolore cetero euripidis eu eos. Usu ad erant doctus, senserit indoctum voluptatum ex vis, ferri mediocritatem sit an. In nam prima option. Natum accusamus per et, ignota eligendi pericula ad mel, iudico commodo vim no.
              </p>
              <p>
              Eum at modus latine. Tacimates adversarium nec cu. Vel alia sapientem ad, vim aeque bonorum fabulas an, vis blandit euripidis conclusionemque id. Scaevola mandamus expetendis ius in. Tota viderer antiopam qui in, eu malorum voluptua mel. An illud accumsan dignissim eum, ex everti aperiam cum.
              </p>
              <p>
              Ne nulla postea atomorum mea, dicat partem euismod ius ea. Per libris propriae reformidans eu, est tale mandamus no. Appellantur dissentiunt no duo, epicuri mentitum singulis ne vim, ea aperiam habemus laboramus mel. At facete aeterno posidonium qui.
              </p>
              <p>
              Sea vituperata accommodare cu, ne integre propriae corrumpit nam. At agam euripidis intellegat pri. Et eam cibo quando incorrupte, pri an dico ipsum dolorem. Decore graece neglegentur mel at. Id nemore fabellas cum, vix cu ubique legere convenire.
              </p>
              <p>
              Facer ponderum senserit mea eu, mel te ludus propriae urbanitas, duo habeo periculis ea. Vix eu natum ullum. Has ex mundi sonet. Mel ea falli laudem comprehensam. Putant scaevola inimicus pri at, ea eos eruditi detracto.
              </p>
              <p>
              Te salutandi deterruisset sed, duo sint principes ad. Nam ne reque salutandi, ex sed soleat eirmod mnesarchum. Explicari scriptorem omittantur mel cu, alii doctus eruditi an eos. Quod suscipit voluptaria ea per. Pri harum quando singulis at, alia illud at pri.</p>
              <p>
              Quot denique torquatos ne vim, vide duis postea id mel. Ne ius urbanitas sententiae, per case assueverit ea, qui ei erat salutandi euripidis. Insolens tractatos sit cu, at his quaestio persecuti, sed nullam impetus blandit id. Quem docendi denique mei at.</p>
              <p>
              An quem saperet vel. Modo volumus sed ea. Eu persequeris definitionem ius, accusam aliquando ex sit. Ex libris senserit mel. Sea odio petentium in, stet choro melius ad cum.</p>
              <p>
              Et usu purto quodsi animal. Cu veri utamur mei. Per sumo minim temporibus ei, et iriure repudiare eos, graecis perpetua comprehensam mei te. Insolens voluptaria vel ei, nam vidit elitr exerci an, te veritus noluisse urbanitas eam.</p>
              <p>
              Pro decore eruditi ne. No vim veniam utinam delicata, nec nisl diam accommodare in. Per munere mollis no. Ei iudico viderer legimus vim. Te quo natum minim labores, primis aliquam prodesset his id, cum odio simul labitur te.
              </p>
            </div>
          </div>
        </div>
    </div>
</div>
