   <div id="login_page">
        <div class="container">
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-md-6 col-sm-8 col-xs-12">
                <form name="loginForm" novalidate="" ng-if="!isFirstLogin" id="login_box" class="login_box" ng-submit="loginForm.$valid && validatePassword(loginForm)">
                    <div class="center-block text-center">
                        <h4 class="page-header" translate>AUTH.LOGIN</h4>
                    </div>
                    <div class="form-group center-block">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input autofocus="" type="text" class="form-control" placeholder="Username" ng-required="true" ng-model="user.username" maxlength="64">
                        </div>
                    </div>
                    <div class="form-group center-block">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" placeholder="Password" ng-required="true" ng-model="user.password" maxlength="64">
                        </div>
                    </div>
                    <div class="form-group center-block">
                        <div class="input-group">
                            <input id="chk_remember_me" type="checkbox" ng-model="user.remember_me" />
                            <label for="chk_remember_me" translate>AUTH.REMEMBER_ME</label>
                        </div>
                    </div>
                    <div class="form-group center-block error-messages" role="alert">
                        <div ng-if="loginForm.messages.wrongCredentials" translate="AUTH.ERRORS.WRONG_CREDENTIALS"></div>
                    </div>
                    <br>
                    <div class="center-block" style="max-width:60%">
                        <button type="submit" class="btn btn-default btn-block" translate>AUTH.LOGIN</button>
                    </div>
                </form>
                
                <form name="firstLoginForm" novalidate="" ng-if="isFirstLogin" id="first_login_box" class="login_box" ng-submit="firstLoginForm.$valid && validateNewUser(firstLoginForm)">
                    <div class="center-block" style="text-align:center">
                        <h4 class="page-header" translate>AUTH.FIRSTLOGIN</h4>
                        <span translate>AUTH.YOURETHEFIRST</span>
                        <br>
                        <br>
                    </div>
                    <div class="form-group center-block">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input type="text" class="form-control" placeholder="Username" id="username_create" ng-required="true" ng-minlength="4" ng-model="user.username" maxlength="64">
                        </div>
                    </div>
                    <div class="form-group center-block">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" placeholder="Password" id="password_create" name="pwd" ng-model="user.newPassword" ng-required="true" ng-minlength="4" maxlength="64">
                        </div>
                    </div>
                    <div class="progress center-block">
                        <div id="pwd_strong_bar" ng-class="{'progress-bar': true, 'progress-bar-danger': passwordStrength()<3 && passwordStrength()>0, 'progress-bar-warning': passwordStrength()>=3 && passwordStrength()<5, 'progress-bar-success': passwordStrength()>=5}"></div>
                    </div>
                    <div class="form-group center-block">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-check"></span></div>
                            <input name="confirmPassword" type="password" class="form-control" placeholder="Password Confirm" id="password_confirm" ng-required="true" ng-model="user.confirmPassword" maxlength="64">
                        </div>
                    </div>
                    <div class="form-group center-block error-messages" role="alert">
                        <div ng-if="firstLoginForm.messages.passwordMissmatch" translate="AUTH.ERRORS.PASSWORD_MISSMATCH"></div>
                    </div>
                    <br>
                    <div class="center-block" style="max-width:60%">
                        <button type="submit" class="btn btn-default btn-block" translate>AUTH.APPLY</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
