<div class="page-loading" fw-loader="isDataReady"></div>
<div class="row" ng-if="isDataReady">
    <div class="col-md-4 toc-container hidden-sm">
        <nav class="toc">
            <ul>
              <li du-scrollspy="panel_1"><a href="#panel_1" translate du-smooth-scroll>PAGES.ONT.TECH_INFO.TITLE</a></li>
              <!-- June modify -->
              <!--li du-scrollspy="panel_2"><a href="#panel_2" translate du-smooth-scroll>PAGES.INFO.LEGAL_NOTICES.TITLE</a></li-->
            </ul>
        </nav>
    </div>
    <div class="col-md-8 main-container">
        <div id="panel_1" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" translate>PAGES.ONT.TECH_INFO.TITLE</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class="col-sm-9 col-sm-offset-3 clear-xs">
                      <p><small translate="PAGES.ONT.TECH_INFO.INFOTOP"></small></p>
                    </div>
                    <div class="row form-group">
                      <!--label class="col-sm-3 control-label col-xs-8 text-left-xs" translate="PAGES.LINE.LINE_STATUS.EDIT.{{auto_checks.enabled? 'VERIFY' : 'VERIFY_MAN'}}"></label-->
                      <!-- June modify -->
                      <label class="col-sm-3 control-label col-xs-8 text-left-xs" translate="PAGES.ONT.TECH_INFO.BUTTON"></label>
                      <div class="col-sm-7 col-xs-4 text-right-xs">
                        <button type="button" class="btn btn-toggle" ng-model="ont_checks.enabled" uib-btn-checkbox></button>
                      </div>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 clear-xs">
                      <p><small translate="PAGES.ONT.TECH_INFO.INFOBOTTOM"></small></p>
                    </div>
                  </fieldset>
              </form>

          </div>

        </div>
    </div>
    <div class="button-container text-right">
      <button type="button" ng-disabled="saving_auto_checks" ng-click="save_ont_changes()" class="btn btn-default" translate>FORMS.SAVE_CHANGES</button>
      <button type="button" class="btn btn-default" ng-click="revert_ont_changes()" translate>FORMS.CANCEL</button>
    </div><br /><br />
</div>
