<div class="row"> 
    <div class="col-md-4 toc-container hidden-sm">
        <nav class="toc">
            <ul>
              <li du-scrollspy="panel_1"><a href="#panel_1" translate du-smooth-scroll>PAGES.VOICE.CALL_LIST.TITLE</a></li>
            </ul>
        </nav>
    </div>
  <div class="col-md-8 main-container">
    <form id="panel_1" ng-submit="saveVoice()">
      <div class="panel-default panel">
        <div class="panel-heading">
            <h3 class="panel-title" translate>PAGES.VOICE.CALL_LIST.TITLE</h3>
        </div>
        <div class="panel-body">
          <div class="row">
              <label class="col-sm-3 control-label" translate="PAGES.VOICE.CALL_LIST.TABLE.TITLE"></label>
              <div class="col-sm-9" fw-loader="voice_list">
                <ul class="nav nav-tabs">
                  <li ng-class="filterHistoryTable.type == 'received' ? 'active' : ''">
                    <a ng-click="filterHistoryTable.type = 'received'; setLastVisited('received')"><span translate>PAGES.VOICE.CALL_LIST.TABLE.RECEIVED</span><span class="badge" ng-if="badge.received > 0">{{badge.received}}</span></a>
                  </li>                      
                  <li ng-class="filterHistoryTable.type == 'lost' ? 'active' : ''">
                    <a ng-click="filterHistoryTable.type = 'lost'; setLastVisited('lost')"><span translate>PAGES.VOICE.CALL_LIST.TABLE.LOST</span><span class="badge" ng-if="badge.lost > 0">{{badge.lost}}</span></a>
                  </li>
                  <li ng-class="filterHistoryTable.type == 'done' ? 'active' : ''">
                    <a ng-click="filterHistoryTable.type = 'done'; setLastVisited('done')"><span translate>PAGES.VOICE.CALL_LIST.TABLE.DONE</span><span class="badge" ng-if="badge.done > 0">{{badge.done}}</span></a>
                  </li>
                  <li ng-class="filterHistoryTable.type == '' ? 'active' : ''">
                    <a ng-click="filterHistoryTable.type = ''; setLastVisited('all')"><span translate>PAGES.VOICE.CALL_LIST.TABLE.ALL</span><span class="badge" ng-if="badge.all > 0">{{badge.all}}</span></a>
                  </li>
                  <li><a  ng-click="voice_list_isExpanded=!voice_list_isExpanded" ng-class="{'dropup':voice_list_isExpanded}">
                    <span class="caret"></span></a>
                  </li>
                </ul>                  

                <div class="row" ng-class="{'collapse':!voice_list_isExpanded}" ng-repeat-end >
                  <div class="col-md-12">
                    <div class="fixed-height">
                      <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th translate>PAGES.VOICE.CALL_LIST.TABLE.DATE</th>
                          <th translate>PAGES.VOICE.CALL_LIST.TABLE.HOURS</th>
                          <th translate>PAGES.VOICE.CALL_LIST.TABLE.NUMBER</th>
                          <th translate>PAGES.VOICE.CALL_LIST.TABLE.DURATION</th>
                          <th translate>PAGES.VOICE.CALL_LIST.TABLE.DELETE</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="voice in tableHistory=(voice_list | filter:filterHistoryTable)">
                          <td ng-if="voice">{{voice.date | fwDate : 'DD/MM/YYYY'}}</td>
                          <td>{{voice.date | fwDate : 'HH:mm'}}</td>
                          <td>{{voice.phone}}</td>
                          <td>{{getDurationString(voice.duration)}}</td>
                          <td><a href="" ng-click="deleteVoice(voice)" class="icon icon-delete"></a></td>
                        </tr>
                        <tr ng-show="!tableHistory.length">
                          <td>--</td><td>--</td><td>--</td><td>--</td><td>--</td>
                        </tr>
                      </tbody>
                      </table>
                    </div>
                  </div>
                  
                  <div class="col-md-12"><br /><button type="button" class="btn btn-default" ng-click="deleteAll(tableHistory)" translate>PAGES.VOICE.CALL_LIST.TABLE.DELETE_ALL</button> </div>

                </div>                
              </div>
          </div>
          <br />        
        </div>      
      </div>
      <div class="button-container text-right">
        <button type="submit" class="btn btn-default" translate>FORMS.SAVE_CHANGES</button>
        <button type="button" ng-click="cancelVoice()" class="btn btn-default" translate>FORMS.CANCEL</button>
      </div><br /> 
    </form>      
  </div>  
</div>
