lxc.mount.entry = /bin/ash bin/ash none ro,bind,create=file 0 0
lxc.mount.entry = /bin/base64 bin/base64 none ro,bind,create=file 0 0
lxc.mount.entry = /bin/board_detect bin/board_detect none ro,bind,create=file 0 0
lxc.mount.entry = /bin/busybox bin/busybox none ro,bind,create=file 0 0
lxc.mount.entry = /bin/cat bin/cat none ro,bind,create=file 0 0
lxc.mount.entry = /bin/chgrp bin/chgrp none ro,bind,create=file 0 0
lxc.mount.entry = /bin/chmod bin/chmod none ro,bind,create=file 0 0
lxc.mount.entry = /bin/chown bin/chown none ro,bind,create=file 0 0
lxc.mount.entry = /bin/config_generate bin/config_generate none ro,bind,create=file 0 0
lxc.mount.entry = /bin/cp bin/cp none ro,bind,create=file 0 0
lxc.mount.entry = /bin/date bin/date none ro,bind,create=file 0 0
lxc.mount.entry = /bin/dd bin/dd none ro,bind,create=file 0 0
lxc.mount.entry = /bin/df bin/df none ro,bind,create=file 0 0
lxc.mount.entry = /bin/dmesg bin/dmesg none ro,bind,create=file 0 0
lxc.mount.entry = /bin/echo bin/echo none ro,bind,create=file 0 0
lxc.mount.entry = /bin/egrep bin/egrep none ro,bind,create=file 0 0
lxc.mount.entry = /bin/false bin/false none ro,bind,create=file 0 0
lxc.mount.entry = /bin/fgrep bin/fgrep none ro,bind,create=file 0 0
lxc.mount.entry = /bin/fsync bin/fsync none ro,bind,create=file 0 0
lxc.mount.entry = /bin/grep bin/grep none ro,bind,create=file 0 0
lxc.mount.entry = /bin/gunzip bin/gunzip none ro,bind,create=file 0 0
lxc.mount.entry = /bin/gzip bin/gzip none ro,bind,create=file 0 0
lxc.mount.entry = /bin/ipcalc.sh bin/ipcalc.sh none ro,bind,create=file 0 0
lxc.mount.entry = /bin/kill bin/kill none ro,bind,create=file 0 0
lxc.mount.entry = /bin/ln bin/ln none ro,bind,create=file 0 0
lxc.mount.entry = /bin/lock bin/lock none ro,bind,create=file 0 0
lxc.mount.entry = /bin/login bin/login none ro,bind,create=file 0 0
lxc.mount.entry = /bin/login.sh bin/login.sh none ro,bind,create=file 0 0
lxc.mount.entry = /bin/ls bin/ls none ro,bind,create=file 0 0
lxc.mount.entry = /bin/mkdir bin/mkdir none ro,bind,create=file 0 0
lxc.mount.entry = /bin/mknod bin/mknod none ro,bind,create=file 0 0
lxc.mount.entry = /bin/mktemp bin/mktemp none ro,bind,create=file 0 0
lxc.mount.entry = /bin/mount bin/mount none ro,bind,create=file 0 0
lxc.mount.entry = /bin/mpstat bin/mpstat none ro,bind,create=file 0 0
lxc.mount.entry = /bin/mv bin/mv none ro,bind,create=file 0 0
lxc.mount.entry = /bin/netmsg bin/netmsg none ro,bind,create=file 0 0
lxc.mount.entry = /bin/netstat bin/netstat none ro,bind,create=file 0 0
lxc.mount.entry = /bin/nice bin/nice none ro,bind,create=file 0 0
lxc.mount.entry = /bin/opkg bin/opkg none ro,bind,create=file 0 0
lxc.mount.entry = /bin/pidof bin/pidof none ro,bind,create=file 0 0
lxc.mount.entry = /bin/ping6 bin/ping6 none ro,bind,create=file 0 0
lxc.mount.entry = /bin/ping bin/ping none ro,bind,create=file 0 0
lxc.mount.entry = /bin/ps bin/ps none ro,bind,create=file 0 0
lxc.mount.entry = /bin/pwd bin/pwd none ro,bind,create=file 0 0
lxc.mount.entry = /bin/restricted_shell bin/restricted_shell none ro,bind,create=file 0 0
lxc.mount.entry = /bin/rm bin/rm none ro,bind,create=file 0 0
lxc.mount.entry = /bin/rmdir bin/rmdir none ro,bind,create=file 0 0
lxc.mount.entry = /bin/sed bin/sed none ro,bind,create=file 0 0
lxc.mount.entry = /bin/sh bin/sh none ro,bind,create=file 0 0
lxc.mount.entry = /bin/sleep bin/sleep none ro,bind,create=file 0 0
lxc.mount.entry = /bin/sync bin/sync none ro,bind,create=file 0 0
lxc.mount.entry = /bin/tar bin/tar none ro,bind,create=file 0 0
lxc.mount.entry = /bin/touch bin/touch none ro,bind,create=file 0 0
lxc.mount.entry = /bin/true bin/true none ro,bind,create=file 0 0
lxc.mount.entry = /bin/ubus bin/ubus none ro,bind,create=file 0 0
lxc.mount.entry = /bin/umount bin/umount none ro,bind,create=file 0 0
lxc.mount.entry = /bin/uname bin/uname none ro,bind,create=file 0 0
lxc.mount.entry = /bin/vi bin/vi none ro,bind,create=file 0 0
lxc.mount.entry = /bin/zcat bin/zcat none ro,bind,create=file 0 0
lxc.mount.entry = /etc/banner etc/banner none ro,bind,create=file 0 0
lxc.mount.entry = /etc/banner.failsafe etc/banner.failsafe none ro,bind,create=file 0 0
lxc.mount.entry = /etc/config/network etc/config/network none ro,bind,create=file 0 0
lxc.mount.entry = /etc/config/system etc/config/system none ro,bind,create=file 0 0
lxc.mount.entry = /etc/device_info etc/device_info none ro,bind,create=file 0 0
lxc.mount.entry = /etc/diag.sh etc/diag.sh none ro,bind,create=file 0 0
lxc.mount.entry = /etc/hosts etc/hosts none ro,bind,create=file 0 0
lxc.mount.entry = /etc/hotplug.d/iface/00-netstate etc/hotplug.d/iface/00-netstate none ro,bind,create=file 0 0
lxc.mount.entry = /etc/hotplug.d/net/00-sysctl etc/hotplug.d/net/00-sysctl none ro,bind,create=file 0 0
lxc.mount.entry = /etc/hotplug.d/net/20-smp-tune etc/hotplug.d/net/20-smp-tune none ro,bind,create=file 0 0
lxc.mount.entry = /etc/hotplug.d/usb/12-tch_usb etc/hotplug.d/usb/12-tch_usb none ro,bind,create=file 0 0
lxc.mount.entry = /etc/hotplug.json etc/hotplug.json none ro,bind,create=file 0 0
lxc.mount.entry = /etc/hotplug-preinit.json etc/hotplug-preinit.json none ro,bind,create=file 0 0
lxc.mount.entry = /etc/inittab etc/inittab none ro,bind,create=file 0 0
lxc.mount.entry = /etc/iproute2/rt_protos etc/iproute2/rt_protos none ro,bind,create=file 0 0
lxc.mount.entry = /etc/mtab etc/mtab none ro,bind,create=file 0 0
lxc.mount.entry = /etc/nsswitch.conf etc/nsswitch.conf none ro,bind,create=file 0 0
lxc.mount.entry = /etc/opkg.conf etc/opkg.conf none ro,bind,create=file 0 0
lxc.mount.entry = /etc/preinit etc/preinit none ro,bind,create=file 0 0
lxc.mount.entry = /etc/profile etc/profile none ro,bind,create=file 0 0
lxc.mount.entry = /etc/protocols etc/protocols none ro,bind,create=file 0 0
lxc.mount.entry = /etc/rc.common etc/rc.common none ro,bind,create=file 0 0
lxc.mount.entry = /etc/rc.local etc/rc.local none ro,bind,create=file 0 0
lxc.mount.entry = /etc/services etc/services none ro,bind,create=file 0 0
lxc.mount.entry = /etc/shadow etc/shadow none ro,bind,create=file 0 0
lxc.mount.entry = /etc/shells etc/shells none ro,bind,create=file 0 0
lxc.mount.entry = /etc/sysctl.conf etc/sysctl.conf none ro,bind,create=file 0 0
lxc.mount.entry = /etc/sysupgrade.conf etc/sysupgrade.conf none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions/functions-tch.sh lib/functions/functions-tch.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions/leds.sh lib/functions/leds.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions/network.sh lib/functions/network.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions/preinit.sh lib/functions/preinit.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions/procd.sh lib/functions/procd.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions/service.sh lib/functions/service.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions.sh lib/functions.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions/syslog.sh lib/functions/syslog.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions/system.sh lib/functions/system.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions/uci-defaults-new.sh lib/functions/uci-defaults-new.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/functions/uci-defaults.sh lib/functions/uci-defaults.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/ld-2.24.so lib/ld-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/ld-linux.so.3 lib/ld-linux.so.3 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libanl-2.24.so lib/libanl-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libanl.so.1 lib/libanl.so.1 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libblobmsg_json.so lib/libblobmsg_json.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libc-2.24.so lib/libc-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libcidn-2.24.so lib/libcidn-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libcidn.so.1 lib/libcidn.so.1 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libcrypt-2.24.so lib/libcrypt-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libcrypt.so.1 lib/libcrypt.so.1 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libc.so.6 lib/libc.so.6 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libdl-2.24.so lib/libdl-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libdl.so.2 lib/libdl.so.2 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libgcc_s.so.1 lib/libgcc_s.so.1 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libjson_script.so lib/libjson_script.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libm-2.24.so lib/libm-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libm.so.6 lib/libm.so.6 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libnsl-2.24.so lib/libnsl-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libnsl.so.1 lib/libnsl.so.1 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libnss_dns-2.24.so lib/libnss_dns-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libnss_dns.so.2 lib/libnss_dns.so.2 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libnss_files-2.24.so lib/libnss_files-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libnss_files.so.2 lib/libnss_files.so.2 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libpthread-2.24.so lib/libpthread-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libpthread.so.0 lib/libpthread.so.0 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libresolv-2.24.so lib/libresolv-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libresolv.so.2 lib/libresolv.so.2 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/librt-2.24.so lib/librt-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/librt.so.1 lib/librt.so.1 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libsetlbf.so lib/libsetlbf.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libssp.so.0.0.0 lib/libssp.so.0.0.0 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libssp.so.0 lib/libssp.so.0 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libubox.so lib/libubox.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libubus.so lib/libubus.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libuci.so lib/libuci.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libutil-2.24.so lib/libutil-2.24.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libutil.so.1 lib/libutil.so.1 none ro,bind,create=file 0 0
lxc.mount.entry = /lib/libvalidate.so lib/libvalidate.so none ro,bind,create=file 0 0
lxc.mount.entry = /lib/netifd/dhcp.script lib/netifd/dhcp.script none ro,bind,create=file 0 0
lxc.mount.entry = /lib/netifd/netifd-proto.sh lib/netifd/netifd-proto.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/netifd/netifd-wireless.sh lib/netifd/netifd-wireless.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/netifd/proto/dhcp.sh lib/netifd/proto/dhcp.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/netifd/utils.sh lib/netifd/utils.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/network/config.sh lib/network/config.sh none ro,bind,create=file 0 0
lxc.mount.entry = /lib/network/system.sh lib/network/system.sh none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/askfirst sbin/askfirst none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/devstatus sbin/devstatus none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/firstboot sbin/firstboot none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/halt sbin/halt none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/hotplug-call sbin/hotplug-call none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/hwclock sbin/hwclock none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/ifconfig sbin/ifconfig none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/ifdown sbin/ifdown none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/ifstatus sbin/ifstatus none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/ifup sbin/ifup none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/insmod sbin/insmod none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/kmodloader sbin/kmodloader none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/led.sh sbin/led.sh none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/lsmod sbin/lsmod none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/modinfo sbin/modinfo none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/modprobe sbin/modprobe none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/netifd sbin/netifd none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/pivot_root sbin/pivot_root none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/poweroff sbin/poweroff none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/procd sbin/procd none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/reboot sbin/reboot none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/reload_config sbin/reload_config none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/rmmod sbin/rmmod none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/route sbin/route none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/start-stop-daemon sbin/start-stop-daemon none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/switch_root sbin/switch_root none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/sysctl sbin/sysctl none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/sysupgrade sbin/sysupgrade none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/ubusd sbin/ubusd none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/udevtrigger sbin/udevtrigger none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/validate_data sbin/validate_data none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/vconfig sbin/vconfig none ro,bind,create=file 0 0
lxc.mount.entry = /sbin/wifi sbin/wifi none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/awk usr/bin/awk none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/basename usr/bin/basename none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/bunzip2 usr/bin/bunzip2 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/bzcat usr/bin/bzcat none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/chrt usr/bin/chrt none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/clear usr/bin/clear none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/cmp usr/bin/cmp none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/crontab usr/bin/crontab none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/cut usr/bin/cut none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/dhcp6c-state usr/bin/dhcp6c-state none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/dirname usr/bin/dirname none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/du usr/bin/du none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/env usr/bin/env none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/expr usr/bin/expr none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/find usr/bin/find none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/flock usr/bin/flock none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/free usr/bin/free none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/getrandom usr/bin/getrandom none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/head usr/bin/head none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/hexdump usr/bin/hexdump none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/hostid usr/bin/hostid none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/id usr/bin/id none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/jshn usr/bin/jshn none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/jsonfilter usr/bin/jsonfilter none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/killall usr/bin/killall none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/less usr/bin/less none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/logger usr/bin/logger none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/lsusb usr/bin/lsusb none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/lua usr/bin/lua none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/md5sum usr/bin/md5sum none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/mkfifo usr/bin/mkfifo none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/nc usr/bin/nc none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/nslookup usr/bin/nslookup none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/odm_test_init.sh usr/bin/odm_test_init.sh none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/passwd usr/bin/passwd none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/pgrep usr/bin/pgrep none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/printf usr/bin/printf none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/readlink usr/bin/readlink none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/reset usr/bin/reset none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/seq usr/bin/seq none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/sha256sum usr/bin/sha256sum none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/sort usr/bin/sort none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/strings usr/bin/strings none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/tail usr/bin/tail none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/taskset usr/bin/taskset none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/tee usr/bin/tee none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/telnet usr/bin/telnet none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/test usr/bin/test none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/timeout usr/bin/timeout none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/time usr/bin/time none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/top usr/bin/top none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/traceroute6 usr/bin/traceroute6 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/traceroute usr/bin/traceroute none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/tr usr/bin/tr none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/uniq usr/bin/uniq none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/uptime usr/bin/uptime none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/[ usr/bin/[ none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/[[ usr/bin/[[ none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/wc usr/bin/wc none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/wget usr/bin/wget none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/which usr/bin/which none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/xargs usr/bin/xargs none ro,bind,create=file 0 0
lxc.mount.entry = /usr/bin/yes usr/bin/yes none ro,bind,create=file 0 0
lxc.mount.entry = /usr/lib/libjson-c.so.2.0.2 usr/lib/libjson-c.so.2.0.2 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/lib/libjson-c.so.2 usr/lib/libjson-c.so.2 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/lib/liblua.so.5.1.5 usr/lib/liblua.so.5.1.5 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/lib/libnl-tiny.so usr/lib/libnl-tiny.so none ro,bind,create=file 0 0
lxc.mount.entry = /usr/lib/libstdc++.so.6.0.21-gdb.py usr/lib/libstdc++.so.6.0.21-gdb.py none ro,bind,create=file 0 0
lxc.mount.entry = /usr/lib/libstdc++.so.6.0.21 usr/lib/libstdc++.so.6.0.21 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/lib/libstdc++.so.6 usr/lib/libstdc++.so.6 none ro,bind,create=file 0 0
lxc.mount.entry = /usr/sbin/addgroup usr/sbin/addgroup none ro,bind,create=file 0 0
lxc.mount.entry = /usr/sbin/arping usr/sbin/arping none ro,bind,create=file 0 0
lxc.mount.entry = /usr/sbin/chpasswd usr/sbin/chpasswd none ro,bind,create=file 0 0
lxc.mount.entry = /usr/sbin/chroot usr/sbin/chroot none ro,bind,create=file 0 0
lxc.mount.entry = /usr/sbin/crond usr/sbin/crond none ro,bind,create=file 0 0
lxc.mount.entry = /usr/sbin/ntpd-hotplug usr/sbin/ntpd-hotplug none ro,bind,create=file 0 0
lxc.mount.entry = /usr/sbin/ntpd usr/sbin/ntpd none ro,bind,create=file 0 0
lxc.mount.entry = /usr/sbin/odhcpc usr/sbin/odhcpc none ro,bind,create=file 0 0
lxc.mount.entry = /usr/sbin/opkg-key usr/sbin/opkg-key none ro,bind,create=file 0 0
lxc.mount.entry = /usr/sbin/udhcpd usr/sbin/udhcpd none ro,bind,create=file 0 0
lxc.mount.entry = /usr/share/libubox/jshn.sh usr/share/libubox/jshn.sh none ro,bind,create=file 0 0
lxc.mount.entry = /usr/share/udhcpc/default.script usr/share/udhcpc/default.script none ro,bind,create=file 0 0
